<!DOCTYPE html>
<html>
<title>CanPL Stats</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-vivid.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-indigo w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">{{ today }}</span>
</div>


{% block content %}{% endblock %}

<!-- league information container -->
  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-blue">Canadian Premier League</h5>
        <a href="https://canpl.ca/" target="_blank">official site</a><br>
        <a>Toronto, Canada</a>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-pink">One Soccer</h5>
        <a href="https://onesoccer.ca/" target="_blank">official tv partner</a><br>
        <a>Toronto, Canada</a>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange">Team Links</h5>
        <a href="https://atleticoottawa.canpl.ca/" target="_blank">Atletico Ottawa</a><br>
        <a href="https://cavalryfc.canpl.ca/" target="_blank">Cavalry FC</a><br>
        <a href="https://fcedmonton.canpl.ca/" target="_blank">FC Edmonton</a><br>
        <a href="https://forgefc.canpl.ca/" target="_blank">Forge FC</a><br>
        <a href="https://hfxwanderersfc.canpl.ca/" target="_blank">HFX Wanderers Fc</a><br>
        <a href="https://pacificfc.canpl.ca/" target="_blank">Pacific FC</a><br>
        <a href="https://valourfc.canpl.ca/" target="_blank">Valour FC</a><br>
        <a href="https://york9fc.canpl.ca/" target="_blank">York9 FC</a><br>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey"
    <a><i class="fa fa-twitter"></i></a>
    <a href="https://twitter.com/tamccullough" target="_blank">@tamccullough</a>
    <a><i class="fa fa-github"></i></a>
    <a href="https://github.com/tamccullough" target="_blank">@tamccullough</a>
    <a><i class="fa fa-linkedin"></i></a>
    <a href=">https://www.linkedin.com/in/tamccullough/" target="_blank">@tamccullough</a>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
