
Skip to content
Pull requests
Issues
Marketplace
Explore
@tamccullough
tamccullough /
canpl-es

1
0

    0

Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights

    Settings

canpl-es/static/css/style.css
@tamccullough
tamccullough rewriting css
Latest commit 46b8f8d 2 hours ago
History
1 contributor
403 lines (331 sloc) 6.01 KB
:root {
  --coral: hsl(23, 83%, 82%);
  --coral--b: hsl(23, 99%, 75%);
  --pink: hsl(335, 52%, 92%);
  --pink--b: hsl(335, 82%, 86%);
  --yellow: hsl(42, 97%, 85%);
  --yellow--b: hsl(42, 100%, 73%);
  --green: hsl(100, 64%, 86%);
  --green--b: hsl(100, 41%, 76%);
  --blue: hsl(187, 61%, 79%);
  --blue--b: hsl(187, 54%, 68%);
  --purple: hsl(283, 24%, 86%);
  --purple--b: hsl(283, 43%, 80%);
  --light-gray-blue: hsl(182, 29%, 96%);
  --cpl-blue-l: #565177;

  --pageMax: 1260px;
  --headerHeight: 60px;
  --middleHeight: 300px;
  --footerHeight: 100px;
}

@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.grey-blue-l {
  background-color:#7b75a1;
  color:#fff;
}

.grey-blue-m {
  background-color:#565177;
  color:#fff;
}

.grey-blue-d {
  background-color:#343148;
  color:#fff;
}

.coral {
  background-color: var(--coral);
  border: 1px solid var(--coral--b);
}

.pink {
  background-color: var(--pink);
  border: 1px solid var(--pink--b);
}

.yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow--b);
}

.green {
  background-color: #699c3e;
  color:#fff;
}

.green-l {
  background-color: #a2c523;
  color:#fff;
}
.red {
  background-color: #c71f10;
  color:#fff;
}

.orange {
  background-color: #cc8108;
  color:#fff;
}

.blue {
  background-color: #22356f;
  color:#fff;
}

.blue-l {
  background-color: #40baed;
  color:#fff;
}
.purple {
  background-color: var(--purple);
  border: 1px solid var(--purple--b)
}

.white {
  background-color: white;
}

html,body,h1,h2,h3,h4,h5 {font-family: "Lato", sans-serif}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

h2 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

style,
code {
  font-family: "Inconsolata", monospace;
}


.meta h1 {
  font-size: 4rem;
  font-weight: 300;
}

.meta p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
}

.meta a {
  color: hsl(207, 90%, 54%);
}

section:nth-child(2n) {
  background-color: var(--light-gray-blue);
}

section:nth-child(2n) .code-container,
section:nth-child(2n) .tab-area button.active {
  background-color: white;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-title code {
  display: block;
  width: auto;
  font-size: 0.8em;
  margin-left: 2em;
}

.ex-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
}

.ex-container {
  resize: both;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 2;
  box-shadow: 0 0 20px -10px hsl(187, 97%, 24%);
  display: grid;
  align-items: center;
  background: white;
}

.button {
  border:none;
  padding:8px 0px;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  cursor:pointer;
}

.caption {
  padding: 10px;
}

.meta,
.footer {
  text-align: center;
  padding: 4rem;
  margin: 0 auto;
}

.footer a {
  color: white;
  color: hsl(207, 90%, 54%);
}

.code-area {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 400px;
}

.code-container {
  white-space: pre-wrap;
  display: none;
  overflow-y: scroll;
  background-color: var(--light-gray-blue);
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--blue);
  margin-top: -1px;
  font-size: 1.35rem;
}

.tab-area {
  display: grid;
  width: 50%;
  justify-self: end;
  grid-template-columns: 1fr 1fr;
}

.tab-area button {
  border: none;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
}

.tab-area button.active {
  border: 1px solid var(--blue);
  border-bottom: none;
  z-index: 1;
  background: var(--light-gray-blue);
}

.section-container {
  max-width: var(--pageMax);
  margin: 0 auto;
  padding: 4rem 2rem;
}

.codepen-link {
  text-align: right;
}

.parent {
  width: 100%;
  height: 100%;
}

.taglist {
  display: flex;
}

.taglist li {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-size: 14px;
  list-style: none;
}

.taglist li + li {
  margin-left: 0.5rem;
}

.meta-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  margin-bottom: 1rem;
}

.support-area {
  display: grid;
  justify-content: flex-end;
}

.support-area span {
  justify-self: flex-end;
  margin-bottom: 0.25rem;
}

.codepen-link {
  color: hsl(187, 83%, 37%);
  font-style: italic;
}

/* decoration */

.bottombar {
  border-bottom:6px solid #ccc!important;
}

.blue-bar {
  border-color:#40baed!important;
}

.pink-bar {
  border-color:#e91e63!important;
}

.green-bar {
  border-color:#a2c523!important;
}

/*  For Demos */

.box {
  font-size: 2rem;
  padding: 1rem;
  display: grid;
  place-items: center;
  border-radius: 1rem;
  border-style: dashed;
}

.ex-container .section {
  font-size: 1.5rem;
  padding: 1rem;
  border-style: dashed;
}

@media screen and (min-width: 811px) {
  .ex-section {
    height: 400px;
  }

  .section-container {
    padding: 8rem 4rem;
  }

  .meta {
    max-width: 46ch;
    padding: 8rem auto;
  }
}

@media screen and (max-width: 811px) {
  .ex-container {
    height: 300px;
  }

  .ex-section {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .box {
    font-size: 1rem;
  }

  .ex-container .section {
    font-size: 1rem;
  }

  .section-title code {
    margin-left: 0;
    margin-top: 1rem;
  }

  .support-area {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .code-area {
    height: 300px;
  }

  .code-container {
    font-size: 1.15rem;
  }
}

.yt-embed {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.yt-embed iframe {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid var(--blue--b);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

    © 2020 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Help

    Contact GitHub
    Pricing
    API
    Training
    Blog
    About
