.cpl-ao {
  background-color:#E4002B;
  color:#ffffff;
}
.cpl-cfc {
  background-color:#DA291C;
  color:#ffffff;
}
.cpl-fce {
  background-color:#004C97;
  color:#ffffff;
}
.cpl-ffc {
  background-color:#DE4405;
  color:#ffffff;
}
.cpl-hfx {
  background-color:#41B6E6;
  color:#052049;
}
.cpl-pfc {
  background-color:#582C83;
  color:#ffffff;
}
.cpl-vfc {
  background-color:#7C2529;
  color:#ffffff;
}
.cpl-y9 {
  background-color:#046a38;
  color:#ffffff;
}
.cpl-y9-old {
  background-color:#78BE20;
  color:#003b5c;
}
.cpl-ao-2 {
  background-color:#102f52;
  color:#ffffff;
}
.cpl-cfc-2 {
  background-color:#335525;
  color:#ffffff;
}
.cpl-fce-2 {
  background-color:#0c2340;
  color:#ffffff;
}
.cpl-ffc-2 {
  background-color:#53565a;
  color:#ffffff;
}
.cpl-hfx-2 {
  background-color:#052049;
  color:#ffffff;
}
.cpl-pfc-2 {
  background-color:#00b7bd;
  color:#582C83;
}
.cpl-vfc-2 {
  background-color:#b9975b;
  color:#7C2529;
}
.cpl-y9-2 {
  background-color:#78BE20;
  color:#ffffff;
}
.cpl-y9-old-2 {
  background-color:#78BE20;
  color:#003b5c;
}
