.cpl-ao {
  background-color:#E4002B;
  color:#fff;
}
.cpl-cfc {
  background-color:#DA291C;
  color:#fff;
}
.cpl-fce {
  background-color:#004C97;
  color:#fff;
}
.cpl-ffc {
  background-color:#DE4405;
  color:#fff;
}
.cpl-hfx {
  background-color:#41B6E6;
  color:#302117;
}
.cpl-pfc {
  background-color:#582C83;
  color:#fff;
}
.cpl-vfc {
  background-color:#7C2529;
  color:#fff;
}
.cpl-y9 {
  background-color:#046a38;
  color:#fff;
}
.cpl-y9-old {
  background-color:#78BE20;
  color:#fff;
}
