/* theme - testing */


.testing-l {
  background-color:#e98537;
  color:#2c1e31;
}

.testing-m {
  background-color:#de5d3a;
  color:#2c1e31;
}

.testing-d {
  background-color:#4d3533;
  color:#fff;
}

.yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow--b);
}

.testing-green {
  background-color: #006554;
  color:#fff;
}

.testing-green-l {
  background-color: #26854c;
  color:#fff;
}
.testing-red {
  background-color: #c71f10;
  color:#fff;
}

.testing-orange {
  background-color: #cc8108;
  color:#fff;
}

.testing-blue {
  background-color: #3e3b65;
  color:#fff;
}

.testing-blue-l {
  background-color: #40baed;
  color:#fff;
}
.testing-purple {
  background-color: var(--purple);
  border: 1px solid var(--purple--b)
}

.testing-white {
  background-color: white;
}

.testing-grey {
  background-color: #b0a7b8;
}

/* end of theme testing*/

/* theme - mono */


.mono-l {
  background-color:#7b75a1;
  color:#fff;
}

.mono-m {
  background-color:#565177;
  color:#fff;
}

.mono-d {
  background-color:#343148;
  color:#fff;
}

.yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow--b);
}

.mono-green {
  background-color: #699c3e;
  color:#fff;
}

.mono-green-l {
  background-color: #a2c523;
  color:#fff;
}
.mono-red {
  background-color: #c71f10;
  color:#fff;
}

.mono-orange {
  background-color: #cc8108;
  color:#fff;
}

.mono-blue {
  background-color: #22356f;
  color:#fff;
}

.mono-blue-l {
  background-color: #40baed;
  color:#fff;
}
.mono-purple {
  background-color: var(--purple);
  border: 1px solid var(--purple--b)
}

.mono-white {
  background-color: white;
}

.mono-grey {
  background-color: #b0a7b8;
}

/* end of theme mono*/

/* theme - neon */


.neon-l {
  background-color:#5e5b8c;
  color:#fff;
}

.neon-m {
  background-color:#3e3b65;
  color:#f6e8e0;
}

.neon-d {
  background-color:#2c1e31;
  color:#f7f3b7;
}

.yellow {
  background-color: #f3a833;
  color:#6b2643;
}

.neon-green {
  background-color: #006554;
  color:#fff;
}

.neon-green-l {
  background-color: #5ab552;
  color:#fff;
}
.neon-red {
  background-color: #ac2847;
  color:#fff;
}

.neon-orange {
  background-color: #de5d3a;
  color:#fff;
}

.neon-blue {
  background-color: #3859b3;
  color:#fff;
}

.neon-blue-l {
  background-color: #3388de;
  color:#fff;
}
.neon-purple {
  background-color: #9a4d76;
}

.neon-white {
  background-color: #f6e8e0;
}

.neon-grey {
  background-color: #b0a7b8;
}

/* end of theme 1*/
