/* themes Todd McCullough*/

:root {
  --white: #fff;
  --offwhite: #fff1d0;
  --lightblue: #caf0f8;
  --lightgrey: #ebebeb;
  --grey: #9eb3c2;
  --blue: #118ab2;
  --paleblue: #3a6ea5;
  --darkblue: #004e98;
  --green: #679436;
  --orange: #ff6700;
  --purple: #8f2d56;
  --red: #dd1c1a;
  --yellow: #f0c808;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--darkblue) var(--paleblue);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.text-black {color:#000000;}
.text-white {color:var(--white);}

.blue-bar {
  border-color:#118ab2;
}

.pink-bar {
  border-color:#dd1c1a;
}

.green-bar {
  border-color:#679436;
}

.bland {color:#053157; background-color:#e8e8e8;}
.bland-light {color:#001e4f; background-color:#fff;}
.bland-dark {color:#fff; background-color:#6d98d1;}
.bland-action {color:#fff; background-color:#50d965;}
.bland-colour {color:#fff; background-color:#2d62b5;}
.bland-t {color:#323232;}
.bland-t-title {color:#001e4f;}
.bland-t-blue {color:#006eff;}
.bland-t-green {color:#00de25;}
.bland-t-red {color:#ff3030;}
.bland-t-yellow {color:#f2e013;}
.bland-blue {color:#fff; background-color:#006eff;}
.bland-green {color:#001e4f; background-color:#00de25;}
.bland-red {color:#fff; background-color:#ff3030;}
.bland-orange {color:#fff; background-color:#f07924;}
.bland-yellow {color:#6d5b6e; background-color:#f2e013;}

.mono {color:var(--darkblue); background-color:var(--grey);}
.mono-light {color:var(--darkblue); background-color:var(--lightgrey);}
.mono-dark {color:var(--offwhite); background-color:var(--darkblue);}
.mono-action {color:var(--offwhite); background-color:var(--orange);}
.mono-colour {color:var(--lightblue); background-color:var(--paleblue);}
.mono-t {color:var(--lightblue);}
.mono-t-title {color:var(--lightblue);}
.mono-t-blue {color:var(--blue);}
.mono-t-green {color:var(--green);}
.mono-t-red {color:var(--red);}
.mono-t-yellow {color:var(--yellow);}
.mono-blue {color:var(--white); background-color:var(--blue);}
.mono-green {color:var(--white); background-color:var(--green);}
.mono-red {color:var(--white); background-color:var(--red);}
.mono-orange {color:var(--white); background-color:var(--orange);}
.mono-yellow {color:var(--purple); background-color:var(--yellow);}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  color: white;
  background-color: var(--darkblue);
}

.logo {
  color: #fff;
  /*text-transform: uppercase;*/
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 1.4em;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  border-radius: 0.5em;
  width: 25px;
  height: 3px;
  background-color: var(--white);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
    position: relative;
  }
  nav {
    background-color: inherit;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    width: 60%;
    height: 75vh;
    top: 8.25vh;
    color: transparent;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    z-index:-25;
   }
  .burger {
    display: block;
   }
}

.nav-active {
  z-index:25;
  color: var(--white);
  background-color: var(--darkblue);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}
