{% extends 'base.html' %}
{% block content %}

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse grey-blue-l w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="static/images/flags/CPL-Crest-White.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
      <div>
        <h3>{{ year }} Season</h3>
      </div>
    </div>

  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-padding">  Go to {{ other_year }} Season</a>
    <a href="{{ url_for('index_19') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
    <a href="{{ url_for('standings_19') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-trophy fa-fw"></i>  Standings</a>
    <a href="{{ url_for('teams_19') }}" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-shield fa-fw"></i>  Teams</a>
    <a href="{{ url_for('radar_19') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-line-chart fa-fw"></i>  Radar Charts</a>
    <a href="{{ url_for('eleven_19') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Best Eleven</a>
    <a href="{{ url_for('goals_19') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-soccer-ball-o fa-fw"></i>  Goals and Assists</a>
    <a href="{{ url_for('forwards_19') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-hand-scissors-o fa-fw"></i>  Forwards</a>
    <a href="{{ url_for('forwards_19_90') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-hand-scissors-o fa-fw"></i>  Forwards Per 90</a>
    <a href="{{ url_for('midfielders_19') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-hand-grab-o fa-fw"></i>  Midfielders</a>
    <a href="{{ url_for('midfielders_19_90') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-hand-grab-o fa-fw"></i>  Midfielders Per 90</a>
    <a href="{{ url_for('defenders_19') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-hand-stop-o fa-fw"></i>  Defenders</a>
    <a href="{{ url_for('defenders_19_90') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-hand-stop-o fa-fw"></i>  Defenders Per 90</a>
    <a href="{{ url_for('keepers_19') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-child fa-fw"></i>  Goal Keepers</a>
    <a href="{{ url_for('keepers_19_90') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-child fa-fw"></i>  Goal Keepers Per 90</a>
    <a href="{{ url_for('discipline_19') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-copy fa-fw"></i>  Discipline</a><br><br>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
      <div class="w3-half"><h5><b><i class="fa fa-users"></i> Player Information - {{ name }}</b></h5></div>
    <div class="w3-half" style="text-align: right">
      <form method="POST" action="/roster-2019">
        <a class="w3-button" href="{{ url_for('roster_19') }}"><input class="w3-button" type="submit" id="team" name="team" value="{{ html_table.iloc[0,0] }}"/></a>
        </form>
    </div>
  </header>


  <div class="w3-container">
    <div class="w3-container grey-blue-l">
      <div class="w3-container w3-center w3-padding-16">
        <div class="w3-half">
          <table>
            <tr>
              <td>O: {{ html_table.at[0,'overall'] }}**</td>
              <td>MIN: {{ html_table.at[0,'minutes'] }}</td>
              <td>xG: {{ html_table.at[0,'xG'] }}**</td>
            </tr>
          </table>
          </div>
          <div class="w3-half">
          <table>
            <tr>
              <td>xA: {{ html_table.at[0,'xA'] }}**</td>
              <td>Y: {{ html_table.at[0,'yellow'] }}</td>
              <td>R: {{ html_table.at[0,'red'] }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="w3-half">
        <div class="w3-center w3-padding-16  {{ team_colour }}">
            <img src="static/images/players/2019/{{ html_table.iloc[0,1] }}" alt="{{ html_table.iloc[0,5] }}" style="max-height:214px"></a>
        </div>
        <div  class="w3-padding">
          <table>
            <tr>
              <td><a><img src="static/images/flags/{{ html_table.iloc[0,2] }}" alt="{{ html_table.iloc[0,2] }}" style="max-height:30px"><a></td>
              <td>{{ nationality }}</td>
            </tr>
            <tr>
              <td>Number: {{ html_table.at[0,'number'] }}</td>
              <td>{{ html_table.at[0,'position'] }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="w3-half">
        <div class="w3-padding">
          <table style="width: 100%;">
            <tr>
              <td>Goals: {{ html_table.at[0,'goals'] }}</td>
              <td>Assists: {{ html_table.at[0,'assists'] }}</td>
            </tr>
            <tr>
              <td>Passes: {{ html_table.at[0,'passes'] }}</td>
              <td>Accuracy: {{ html_table.at[0,'pass-acc'] }}</td>
            </tr>
            <tr>
              <td>Crosses: {{ html_table.at[0,'cross'] }}</td>
              <td>Accuracy: {{ html_table.at[0,'cross-acc'] }}</td>
            </tr>
            <tr>
              <td>Shots: {{ html_table.at[0,'shots'] }}</td>
              <td>Shots on Target: {{ html_table.at[0,'s-target'] }}</td>
            </tr>
            <tr>
              <td>Shots Inside Box: {{ html_table.at[0,'s-box'] }}</td>
              <td>Shots Outside Box: {{ html_table.at[0,'s-out-box'] }}</td>
            </tr>
            <tr>
              <td>Tackles: {{ html_table.at[0,'tackles'] }}</td>
              <td>Tackles Won: {{ html_table.at[0,'t-won'] }}</td>
            </tr>
            <tr>
              <td>Duels: {{ html_table.at[0,'duels'] }}</td>
              <td>Duels Won: {{ html_table.at[0,'d-won'] }}</td>
            </tr>
            <tr>
              <td>Fouls Won: {{ html_table.at[0,'f-won'] }}</td>
              <td>Fouls Conceded: {{ html_table.at[0,'f-conceded'] }}</td>
            </tr>
            <tr>
              <td>Touches: {{ html_table.at[0,'touches'] }}</td>
              <td>Chances: {{ html_table.at[0,'chances'] }}</td>
            </tr>
            <tr>
              <td>Clearances: {{ html_table.at[0,'clearances'] }}</td>
              <td>Interceptions: {{ html_table.at[0,'interceptions'] }}</td>
            </tr>
            <tr>
              <td>Shots Faced: {{ html_table.at[0,'shots faced'] }}</td>
              <td>Claimed Crosses: {{ html_table.at[0,'claimed crosses'] }}</td>
            </tr>
            <tr>
              <td>Saves: {{ html_table.at[0,'saves'] }}</td>
              <td>Clean Sheets: {{ html_table.at[0,'cs'] }}</td>
            </tr>
          </table>
        </div>
        <a class="w3-button w3-right" href="{{ html_table.iloc[0,33] }}" target="_blank"><b> Wiki Link</b></a>
      </div>
    </div>
    <div class="grey-blue-l"">
      <a>**NOTE: Overall, xG & xA are rolling results. Altered after each match played.</a>
    </div>
  </div>

{% endblock %}
