<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg Canadian Premier League Stats for Teams & Players</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Canadian Premier League (CanPL) stats, standings, team and roster information, data analysis and data visualization for football and Soccer fans of the League.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon.png" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% extends 'base.html' %}
{% block content %}

<div class="parent">
  <div class="blog-box">
    <a class="button" href="/blog">index</a>
  </div>
  <div class="blog-box t-center">
    <a class="button" href="/{{ previous }}">previous</a>
  </div>
  <div class="blog-box t-right">
    <a class="button" href="/{{ next }}">next</a>
  </div>
</div>

<div class="mobile sfont" style="width:100%;">
  <a>{{ headline }} {{ year }}</a>
</div>
<div class="desktop">
  <h3 style="padding: 10px;">{{ headline }} {{ year }}</h3>
</div>
<!-- page content -->
<div class="blog">
  <div class="cpl-{{ team }}">
    <br>
    <h2><a href="/article/{{ article['title'] }}">{{ article['title'] }}</a></h2>
    <h3>- {{ article['author'] }} - {{ article['date'] }}</h3>
    <br>
  </div>
  <div>
    <div class="spacer"></div>
    <p>{{ article['article'] | safe }}</p>
    <div class="spacer"></div>
  </div>
</div>
<div class="spacer"></div>
<!-- end of page content-->
{% endblock %}
