<!DOCTYPE html>
<html>
<title>CanPL Stats</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/nav.css">
<link rel="stylesheet" href="static/css/menu.css">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/themes.css">
<link rel="stylesheet" href="static/css/team-colours.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>

<!-- google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

* {
  scrollbar-width: auto;
  scrollbar-color: white #2d62b5;
}

html,h1,h2,h3 {
  font-family: 'Staatliches', cursive;
}

.staat {
  font-family: 'Staatliches', cursive;
}

body,h4,h5,a {
  font-family: 'Lato', sans-serif;
}
</style>
<!-- nav menu -->
<div class="{{theme }}-action">
  <nav>
    <div class="logo">
      <a class="mobile staat logo" href="/" style="font-size:3em;">Nutmeg</a>
      <a class="desktop staat logo" href="/">Nutmeg</a>
      <a class="desktop" style="font-size:0.5em;">For CPL Fans</a>
    </div>
    <ul class="nav-links">
      <li><a href="/teams">teams</a></li>
      <li><a href="/standings">standings</a></li>
      <li><a href="/power">rankings</a></li>
      <li><a href="/radar">radar</a></li>
      <li><a href="/versus">prediction</a></li>
      <li><a href="/best11">best/11</a></li>
      <li><a href="/forwards">forwards</a></li>
      <li><a href="/midfielders">midfield</a></li>
      <li><a href="/defenders">defense</a></li>
      <li><a href="/keepers">keepers</a></li>
      <li><a href="/goals">goals/assists</a></li>
      <li><a href="/discipline">discipline</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</div>
<!-- end of nav menu -->
<div class="desktop">
  <div class="page80">
    <div class="spacer"></div>
    <h3 class="xxfont" style="display: inline;">{{ weekday }} {{ month }} <b class="bold">{{ day }}</b></h3>
  </div>
</div>
<!-- Top container -->
<body id="top" class="{{ theme }}-colour">

  <div class="container">
    <div class="page80">
      <button id="backToTop" class="topbutton {{ theme }}-action textcenter">
        <a class="button text-white" href="#top">top</a>
      </button>
      {% block content %}{% endblock %}


      <!-- league information container -->
      <div class="mobile {{ theme }}-colour">
        <div class="parent">
          <div class="boxs">
            <h3 class="bottombar blue-bar">Canadian Premier League</h3>
            <a class="{{ theme }}-button-d button" href="https://canpl.ca/" target="_blank">official site</a><br>
            <a>Toronto, Canada</a>
          </div>
          <div class="boxs">
            <h3 class="bottombar pink-bar">One Soccer</h3>
            <a class="{{ theme }}-button-d button" href="https://onesoccer.ca/" target="_blank">official tv partner</a><br>
            <a>Toronto, Canada</a>
          </div>
          <div class="box">
            <h3 class="bottombar green-bar">Club Links</h3>
            <table>
              <tr>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://atleticoottawa.canpl.ca/" target="_blank">Atletico Ottawa</a></td>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://cavalryfc.canpl.ca/" target="_blank">Cavalry FC</a></td>
              </tr>
              <tr>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://fcedmonton.canpl.ca/" target="_blank">FC Edmonton</a></td>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://forgefc.canpl.ca/" target="_blank">Forge FC</a></td>
              </tr>
              <tr>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://hfxwanderersfc.canpl.ca/" target="_blank">HFX Wanderers FC</a></td>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://pacificfc.canpl.ca/" target="_blank">Pacific FC</a></td>
              </tr>
              <tr>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://valourfc.canpl.ca/" target="_blank">Valour FC</a></td>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://york9fc.canpl.ca/" target="_blank">York9 FC</a></td>
              </tr>
            </table>
          </div>
        </div>

        <!-- Footer -->
        <div class="spacer"></div>
        <footer>
          <a> Todd McCullough</a>
          <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{ theme }}-button-d fa fa-twitter"></i></a>
          <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{ theme }}-button-d fa fa-github"></i></a>
          <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{ theme }}-button-d fa fa-linkedin"></i></a>
        </footer>
      </div>

      <div class="desktop">
        <div class="parent {{ theme }}-colour">
          <div class="box">
            <h3 class="bottombar blue-bar">Canadian Premier League</h3>
            <a class="{{ theme }}-colour button" href="https://canpl.ca/" target="_blank">official site</a><br>
            <a>Toronto, Canada</a>
          </div>
          <div class="box">
            <h3 class="bottombar pink-bar">One Soccer</h3>
            <a class="{{ theme }}-colour button" href="https://onesoccer.ca/" target="_blank">official tv partner</a><br>
            <a>Toronto, Canada</a>
          </div>
          <div class="boxl">
            <h3 class="bottombar green-bar">Club Links</h3>
            <table>
              <tr>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://atleticoottawa.canpl.ca/" target="_blank">Atletico Ottawa</a></td>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://cavalryfc.canpl.ca/" target="_blank">Cavalry FC</a></td>
              </tr>
              <tr>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://fcedmonton.canpl.ca/" target="_blank">FC Edmonton</a></td>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://forgefc.canpl.ca/" target="_blank">Forge FC</a></td>
              </tr>
              <tr>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://hfxwanderersfc.canpl.ca/" target="_blank">HFX Wanderers FC</a></td>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://pacificfc.canpl.ca/" target="_blank">Pacific FC</a></td>
              </tr>
              <tr>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://valourfc.canpl.ca/" target="_blank">Valour FC</a></td>
                <td class="t-left"><a class="{{ theme }}-colour button" href="https://york9fc.canpl.ca/" target="_blank">York9 FC</a></td>
              </tr>
            </table>
          </div>
        </div>

        <!-- Footer -->
        <div class="spacer"></div>
        <footer class="{{theme}}-colour">
          <a> Todd McCullough</a>
          <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{theme}}-colour fa fa-twitter"></i></a>
          <a href="https://github.com/tamccullough" target="_blank"><i class="{{theme}}-colour fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/tamccullough/" target="_blank"><i class="{{theme}}-colour fa fa-linkedin"></i></a>
        </footer>
      </div>
      <div class="spacer"></div>

      <!-- End page content -->
    </div>
  </div>
  <script src="static/css/app.js"></script>
  <script src="static/css/top.js"></script>
</body>
</html>
