<!DOCTYPE html>
<html>
<title>CanPL Stats</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/w3.css">
<link rel="stylesheet" href="static/css/w3-colors-2019.css">
<link rel="stylesheet" href="static/css/w3-colors-vivid.css">
<link rel="stylesheet" href="static/css/team-colours.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap">
<!-- link rel="stylesheet" href="static/css/font-awesome.min.css" -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Lato", sans-serif}
.cpl-eclipse-l
{color:#fff;background-color:#565177}
.cpl-eclipse-m
{color:#fff;background-color:#7b75a1}
</style>
<body class="w3-2019-eclipse">

<!-- Top container -->
<div class="w3-bar w3-top w3-2019-eclipse w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-center">CPL FAN ANALYSIS</span>
</div>


{% block content %}{% endblock %}

<!-- league information container -->
  <br>
  <div class="w3-container w3-2019-eclipse w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-blue">Canadian Premier League</h5>
        <a href="https://canpl.ca/" target="_blank" class="w3-button">official site</a><br>
        <a>Toronto, Canada</a>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-pink">One Soccer</h5>
        <a href="https://onesoccer.ca/" target="_blank" class="w3-button">official tv partner</a><br>
        <a>Toronto, Canada</a>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange">Team Links</h5>
        <table>
          <tr>
            <td><a href="https://atleticoottawa.canpl.ca/" target="_blank"  class="w3-button">Atletico Ottawa</a></td>
            <td><a href="https://cavalryfc.canpl.ca/" target="_blank" class="w3-button">Cavalry FC</a></td>
          </tr>
          <tr>
            <td><a href="https://fcedmonton.canpl.ca/" target="_blank" class="w3-button">FC Edmonton</a></td>
            <td><a href="https://forgefc.canpl.ca/" target="_blank" class="w3-button">Forge FC</a></td>
          </tr>
          <tr>
            <td><a href="https://hfxwanderersfc.canpl.ca/" target="_blank" class="w3-button">HFX Wanderers Fc</a></td>
            <td><a href="https://pacificfc.canpl.ca/" target="_blank" class="w3-button">Pacific FC</a></td>
          </tr>
          <tr>
            <td><a href="https://valourfc.canpl.ca/" target="_blank" class="w3-button">Valour FC</a></td>
            <td><a href="https://york9fc.canpl.ca/" target="_blank" class="w3-button">York9 FC</a></td>
          </tr>
      </table>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-2019-eclipse">
    <a> Todd McCullough</a>
    <a href="https://twitter.com/tamccullough" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://twitter.com/tamccullough" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/tamccullough" target="_blank"><i class="fa fa-linkedin"></i></a>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
