<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Blog</title>
  <meta name="description" content="Canadian Premier League match bot reports and supporter blog posts.">
</head>

{% extends 'base.html' %}
{% block content %}
<div class="mobile sfont" style="width:100%;">
  <a>{{ headline }} {{ year }}</a>
</div>
<div class="desktop">
  <h3 style="padding: 10px;">{{ headline }} {{ year }}</h3>
</div>
<!-- page content -->
{% for key in articles.keys() %}
<div class="blog">
  <div class="cpl-{{ key[-10:-7] }}">
    <br>
    <h2><a href="/article_{{ articles[key]['title'] }}">{{ articles[key]['title'] }}</a></h2>
    <h3>- {{ articles[key]['author'] | title }} - {{ articles[key]['date'] }}</h3>
    <br>
  </div>
</div>
<div class="spacer"></div>
{% endfor %}
<!-- end of page content-->
{% endblock %}
