<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg: Canadian Premier League Fans {{year}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Canadian Premier League Stats for league fans. CanPL stats. Standings, team and roster information, data analysis and data visualization for football and Soccer fans of the Canadian Premier League.">
  <link rel="stylesheet" href="static/css/nav.css">
  <link rel="stylesheet" href="static/css/menu.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/themes.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <!--link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">

  <style>
  * {
    scrollbar-width: auto;
    scrollbar-color: #3141a8 #2d62b5;
  }

  html,h1,h2 {
    font-family: 'Staatliches', cursive;
  }

  .staat {
    font-family: 'Staatliches', cursive;
  }

  body,h3,h4,h5,a {
    font-family: 'Lato', sans-serif;
  }

  canvas {
    width:100px;
    height:100px;
  }


  </style>

</head>

<body id="top" class="{{ theme }}-colour">

    {% include "nav.html" %}
    {% block body %}{% endblock %}

  <div class="desktop">
    <div class="page80">
      <div class="spacer"></div>
      <h3 style="display: inline;">{{ weekday }} {{ month }} <b class="bold">{{ day }}</b></h3>
    </div>
  </div>
  <!-- Top container -->

  <div class="container">
    <div class="page80">

      <button id="backToTop" class="topbutton {{ theme }}-action textcenter">
        <a class="button text-white" href="#top">top</a>
      </button>

  {% block content %}{% endblock %}


      <!-- league information container -->
      <div>
        <div class="parent {{ theme }}-colour">
          <div class="boxs">
            <h3 class="bottombar blue-bar">Official Site</h3>
            <a class="button" href="https://canpl.ca/" target="_blank">Canadian Premier League</a><br>
            <a>Toronto, Canada</a>
          </div>
          <div class="boxs">
            <h3 class="bottombar pink-bar">Official TV Partner</h3>
            <a class="button" href="https://onesoccer.ca/" target="_blank">One Soccer</a><br>
            <a>Toronto, Canada</a>
          </div>
          <div class="boxl">
            <h3 class="bottombar green-bar">Club Links</h3>
            <table>
              <tr>
                <td class="t-left"><a class="button" href="https://atleticoottawa.canpl.ca/" target="_blank">Atletico Ottawa</a></td>
                <td class="t-left"><a class="button" href="https://cavalryfc.canpl.ca/" target="_blank">Cavalry FC</a></td>
              </tr>
              <tr>
                <td class="t-left"><a class="button" href="https://fcedmonton.canpl.ca/" target="_blank">FC Edmonton</a></td>
                <td class="t-left"><a class="button" href="https://forgefc.canpl.ca/" target="_blank">Forge FC</a></td>
              </tr>
              <tr>
                <td class="t-left"><a class="button" href="https://hfxwanderersfc.canpl.ca/" target="_blank">HFX Wanderers FC</a></td>
                <td class="t-left"><a class="button" href="https://pacificfc.canpl.ca/" target="_blank">Pacific FC</a></td>
              </tr>
              <tr>
                <td class="t-left"><a class="button" href="https://valourfc.canpl.ca/" target="_blank">Valour FC</a></td>
                <td class="t-left"><a class="button" href="https://yorkunitedfc.canpl.ca/" target="_blank">York United FC</a></td>
              </tr>
            </table>
          </div>
        </div>

      </div>
      <div class="spacer"></div>
      <!-- Footer -->
      <div class="spacer"></div>
      <footer class="{{ theme }}-colour">
        <a> Todd McCullough</a>
        <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{theme}}-colour fa fa-twitter"></i></a>
        <a href="https://github.com/tamccullough" target="_blank"><i class="{{theme}}-colour fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/tamccullough/" target="_blank"><i class="{{theme}}-colour fa fa-linkedin"></i></a>
      </footer>

      <!-- End page content -->
    </div>
  </div>
  <script src="static/css/app.js"></script>
  <script src="static/css/top.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
  {% if home_team == 'HFX Wanderers FC'%}
  {% set home_text = '#302117' %}
  {% else %}
  {% set home_text = '#fff' %}
  {% endif %}
  <script type="text/javascript">
    new Chart(document.getElementById('homeChart'), {
      type: 'radar',
      data: {
        labels: ['finish','def','att','mid','net','big','save','goals'],
        datasets: [{
          data: [{{ home_radar.loc[0].values[1:]|join(', ') }}],
          fill: true,
          backgroundColor: '{{home_fill}}'+'BF',
          borderColor: '{{home_fill}}',
          pointHoverRadius: 10,
          pointHoverBackgroundColor: '{{home_fill}}',
          pointBackgroundColor: '{{home_fill}}'
        }]
      },
      options: {
        legend: {
          display: false
        },
        borderWidth: 10,
        scale: {
          ticks: {
            display: false,
            beginAtZero: true,
            maxTicksLimit: 10,
            max: 1
          },
          gridLines: {
            lineWidth: 0.5,
            color: '#fff'
          },
          pointLabels: {
            fontColor: '{{ home_text}}',
            fontSize: 16,
            fontFamily: "'Lato', sans-serif"
          }
        }
      }
    });
    </script>
    {% if away_team == 'HFX Wanderers FC'%}
    {% set away_text = '#302117' %}
    {% else %}
    {% set away_text = '#fff' %}
    {% endif %}
    <script type="text/javascript">
    new Chart(document.getElementById('awayChart'), {
      type: 'radar',
      data: {
        labels: ['finish','def','att','mid','net','big','save','goals'],
        datasets: [{
          data: [{{ away_radar.loc[0].values[1:]|join(', ') }}],
          fill: true,
          backgroundColor: '{{away_fill}}'+'BF',
          borderColor: '{{away_fill}}',
          pointHoverRadius: 10,
          pointHoverBackgroundColor: '{{away_fill}}',
          pointBackgroundColor: '{{away_fill}}'
        }]
      },
      options: {
        legend: {
          display: false
        },
        borderWidth: 10,
        scale: {
          ticks: {
            display: false,
            beginAtZero: true,
            maxTicksLimit: 10,
            max: 1
          },
          gridLines: {
            lineWidth: 0.5,
            color: '#fff'
          },
          pointLabels: {
            fontColor: '{{away_text}}',
            fontSize: 16,
            fontFamily: "'Lato', sans-serif"
          }
        }
      }
    });
  </script>
</body>
</html>
