<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg CanPL Chart Analysis</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Dynamically generated Canadian Premier League (CanPL) team charts, based on year.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon.png" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% extends 'base.html' %}
{% block content %}

<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->

<div>
  {% for name in team_list %}
  <div class="mobile">
    <br>
    <span><h3 class="indent">{{ name }}</h3></span>
    <div class="{{ html_table[html_table['team'] == name ]['colour'] }}">
      <table>
        <tr>
          <td><a> xG: {{ team_stats[ name ][0] }}</a></td>
          <td><a> xA: {{ team_stats[ name ][1] }}</a></td>
          <td><a> xPts: {{ team_stats[ name ][2] }}</a></td>
        </tr>
      </table>
    </div>

  </div>
  <div class="desktop">
    <span><h3 class="indent">{{ name }}</h3></span>
    <div class="{{ html_table[html_table['team'] == name ]['colour'] }}">
      <table>
        <tr>
          <td style="text-align:right;"><h3> expect Goals: </h3></td><td><h3> {{ team_stats[ name ][0] }}</h3></td>
          <td style="text-align:right;"><h3> expected Assists: </h3></td><td><h3> {{ team_stats[ name ][1] }}</h3></td>
          <td style="text-align:right;"><h3> expected Points: </h3></td><td><h3> {{ team_stats[ name ][2] }}</h3></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ html_table[html_table['team'] == name ]['colour'] }}">
    <div class="boxcs center">
      <canvas id="{{ name }} Radar"></canvas>
    </div>
    <div class="boxcl center">
      <canvas id="{{ name }} Line"></canvas>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
