<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>XGXA CanPL Chart Analysis</title>
  <meta name="description" content="Dynamically generated Canadian Premier League team charts, based on year.">
</head>

{% extends 'base.html' %}
{% block content %}

{% include "teams_nav.html" %}
<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->

<div>
  <div class="mobile">
    <div class=" sfont center">
      {% for i in range(stat_cols| length ) %}
      <h4 style="display:inline;border-bottom: 0.35rem solid {{ geegle[i] }};">{{ stat_cols[i] }}</h4>
      {% endfor %}
    </div>
  </div>
  <div class="desktop">
    {% for i in range(stat_cols| length ) %}
    <h4 style="display:inline;border-bottom: 0.35rem solid {{ geegle[i] }};">{{ stat_cols[i] }}</h4>
    {% endfor %}
  </div>
  <br>
  {% for name in team_list %}
  <div class="mobile">
    <br>
    <span><h3 class="indent">{{ name }}</h3></span>
    <div class="{{ html_table[html_table['team'] == name ]['colour'] }}">
      <table>
        <tr>
          <td><a> xG: {{ team_stats[ name ][0] }}</a></td>
          <td><a> xA: {{ team_stats[ name ][1] }}</a></td>
          <td><a> xPts: {{ team_stats[ name ][2] | int }}</a></td>
        </tr>
      </table>
    </div>

  </div>
  <div class="desktop">
    <span><h3 class="indent">{{ name }}</h3></span>
    <div class="{{ html_table[html_table['team'] == name ]['colour'] }}">
      <table>
        <tr>
          <td style="text-align:right;"><h3> expect Goals: </h3></td><td><h3> {{ team_stats[ name ][0] }}</h3></td>
          <td style="text-align:right;"><h3> expected Assists: </h3></td><td><h3> {{ team_stats[ name ][1] }}</h3></td>
          <td style="text-align:right;"><h3> expected Points: </h3></td><td><h3> {{ team_stats[ name ][2] | int }}</h3></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ html_table[html_table['team'] == name ]['colour'] }}">
    <div class="boxcs center">
      <canvas id="{{ name }} Radar"></canvas>
    </div>
    <div class="boxcl center">
      <canvas id="{{ name }} Line"></canvas>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
