{% extends 'base.html' %}
{% block content %}

<!-- page content -->
{% if 'P90' in page: %}
<div class="parent">
  <div class="boxs center {{ theme }}-action">
    <a class="{{ theme }}-action button" href="{{'/'+page[1:-4]}}">{{page[1:2].upper()+page[2:-4]}} Total</a>
  </div>
  <div class="boxs center {{ theme }}-dark">
    <a class="{{ theme }}-dark button" href="{{'/'+page[1:-4]+'P90'}}" >{{page[1:2].upper()+page[2:-4]}} Per 90</a>
  </div>
</div>
{% else %}
<div class="parent">
  <div class="boxs center {{ theme }}-dark">
    <a class="{{ theme }}-dark button" href="{{'/'+page[1:-1]}}">{{page[1:2].upper()+page[2:-1]}} Total</a>
  </div>
  <div class="boxs center {{ theme }}-action">
    <a class="{{ theme }}-action button" href="{{'/'+page[1:-1]+'P90'}}" >{{page[1:2].upper()+page[2:-1]}} Per 90</a>
  </div>
</div>
{% endif %}

<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}

<!-- body -->
<div class="mobile">
  <!-- top position table -->
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td style="width:12%;"><b>team</b></td>
          <td style="width:38%;"><b>name</b></td>
          <td><b>G</b></td>
          <td style="font-size: 0.8em;"><b>TklW</b></td>
          <td style="font-size: 0.8em;"><b>Intr</b></td>
          <td style="font-size: 0.8em;"><b>DlsW</b></td>
          <td style="text-align:center;width:12%;"><b>O</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(0,10)%}
    <div class="{{ theme }}-light">
      <table>
        <tr>
          <td style="width:12%;">{{ html_table.at[i, 'team'] }}</td>
          <td style="font-size: 0.8em;width:38%;"><b>{{  ' '.join((html_table.at[i,'name']).split()[1:])  }}</b></td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'goals'] }}</td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'t-won'] }}</td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'interceptions'] }}</td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'d-won'] }}</td>
          <td class="{{ theme }}-t-blue" style="width:12%;"><b>{{ html_table.at[i,'overall'] }}</b></td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
  <!-- end of top position table-->
  <!-- position table -->
  <span><h3 class="{{ theme }}-dark"><b>rest of the table</b></h3></span>
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td><b>team</b></td>
          <td style="width:38%;"><b>name</b></td>
          <td><b>G</b></td>
          <td style="font-size: 0.8em;"><b>TklW</b></td>
          <td style="font-size: 0.8em;"><b>Intr</b></td>
          <td style="font-size: 0.8em;"><b>DlsW</b></td>
          <td style="text-align:center;width:12%;"><b>O</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(10,html_table.shape[0])%}
    <div class="{{ theme }}-light">
      <table>
        <tr>
          <td>{{ html_table.at[i, 'team'] }}</td>
          <td style="font-size: 0.8em;width:38%;"><b>{{  ' '.join((html_table.at[i,'name']).split()[1:])  }}</b></td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'goals'] }}</td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'t-won'] }}</td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'interceptions'] }}</td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'d-won'] }}</td>
          <td class="{{ theme }}-t-blue" style="width:12%;"><b>{{ html_table.at[i,'overall'] }}</b></td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
  <!-- end of position table-->
</div>

<div class="desktop">
  <!-- top position table -->
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td><b>team / #</b></td>
          <td style="width:25%;"><b>name</b></td>
          <td><b>MIN</b></td>
          <td><b>G</b></td>
          <td><b>Tkl</b></td>
          <td><b>TklW</b></td>
          <td><b>Clr</b></td>
          <td><b>Intr</b></td>
          <td><b>Dls</b></td>
          <td><b>DlsW</b></td>
          <td><b>O</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(0,10)%}
    <div class="{{ theme }}-light">
      <table>
        <tr>
          <td>{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
          <td style="width:25%;"><b>{{ html_table.at[i,'name'] }}</b></td>
          <td>{{ html_table.at[i,'minutes'] }}</td>
          <td>{{ html_table.at[i,'goals'] }}</td>
          <td>{{ html_table.at[i,'tackles'] }}</td>
          <td>{{ html_table.at[i,'t-won'] }}</td>
          <td>{{ html_table.at[i,'clearances'] }}</td>
          <td>{{ html_table.at[i,'interceptions'] }}</td>
          <td>{{ html_table.at[i,'duels'] }}</td>
          <td>{{ html_table.at[i,'d-won'] }}</td>
          <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i,'overall'] }}</b></td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
  <!-- end of top position table-->
  <!-- position table -->
  <span><h3 class="{{ theme }}-dark"><b>rest of the table</b></h3></span>
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td><b>team / #</b></td>
          <td style="width:25%;"><b>name</b></td>
          <td><b>MIN</b></td>
          <td><b>G</b></td>
          <td><b>Tkl</b></td>
          <td><b>TklW</b></td>
          <td><b>Clr</b></td>
          <td><b>Intr</b></td>
          <td><b>Dls</b></td>
          <td><b>DlsW</b></td>
          <td><b>O</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(10,html_table.shape[0])%}
    <div class="{{ theme }}-light">
      <table>
        <tr>
          <td>{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
          <td style="width:25%;"><b>{{ html_table.at[i,'name'] }}</b></td>
          <td>{{ html_table.at[i,'minutes'] }}</td>
          <td>{{ html_table.at[i,'goals'] }}</td>
          <td>{{ html_table.at[i,'tackles'] }}</td>
          <td>{{ html_table.at[i,'t-won'] }}</td>
          <td>{{ html_table.at[i,'clearances'] }}</td>
          <td>{{ html_table.at[i,'interceptions'] }}</td>
          <td>{{ html_table.at[i,'duels'] }}</td>
          <td>{{ html_table.at[i,'d-won'] }}</td>
          <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i,'overall'] }}</b></td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
  <!-- end of position table-->
</div>

{% endblock %}
