{% extends 'base.html' %}
{% block content %}

<!-- page content -->
{% if 'P90' in page: %}
<div class="parent">
  <div class="boxs center {{ theme }}-action">
    <a class="{{ theme }}-action button" href="{{'/'+page[1:-4]}}">{{page[1:2].upper()+page[2:-4]}} Total</a>
  </div>
  <div class="boxs center {{ theme }}-dark">
    <a class="{{ theme }}-dark button" href="{{'/'+page[1:-4]+'P90'}}" >{{page[1:2].upper()+page[2:-4]}} Per 90</a>
  </div>
</div>
{% else %}
<div class="parent">
  <div class="boxs center {{ theme }}-dark">
    <a class="{{ theme }}-dark button" href="{{'/'+page[1:-1]}}">{{page[1:2].upper()+page[2:-1]}} Total</a>
  </div>
  <div class="boxs center {{ theme }}-action">
    <a class="{{ theme }}-action button" href="{{'/'+page[1:-1]+'P90'}}" >{{page[1:2].upper()+page[2:-1]}} Per 90</a>
  </div>
</div>
{% endif %}
<!-- header -->
<div class="{{ theme }}-dark">
  <h3><b>Top 10 {{ position }} {{ year }}</b></h3>
  <form class="center" method="post" action="{{ page }}" style="width: 80%">
    <div class="parent">
      <div class="form box">
        <input class="{{ theme }}-colour inputbox" type="text" id="year" name="year" autocomplete="off" required />
        <label for="year" class="label-name">
          <span class="content-name">Select Year</span>
        </label>
        </div>
      <div class="box">
        <input class="{{ theme }}-action button" style="width: 80%;dislay: inline;" type="submit" formaction="{{ page }}" value="submit"/>
      </div>
    </div>
    <div class="spacer"></div>
  </form>
</div>

<!-- body -->
<div class="mobile">
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td style="width:10%;"><b>team</b></td>
            <td style="width:50%;"><b>name</b></td>
            <td><b>G</b></td>
            <td><b>A</b></td>
            <td><b>Ch</b></td>
            <td><b>SoT</b></td>
            <td style="width:15%;text-align:center;"><b>O</b></td>
          </tr>
          {%for i in range(0,10)%}
          <tr class="{{ theme }}-light">
            <td style="width:10%;">{{ html_table.at[i, 'team'] }}</td>
            <td style="width:50%;"><b>{{ ' '.join((html_table.at[i,'name']).split()[1:]) }}</b></td>
            <td>{{ html_table.at[i,'goals'] }}</td>
            <td>{{ html_table.at[i,'assists'] }}</td>
            <td>{{ html_table.at[i,'chances'] }}</td>
            <td>{{ html_table.at[i,'s-target'] }}</td>
            <td class="{{ theme }}-t-blue" style="width:15%;"><b>{{ html_table.at[i,'overall'] }}</b></td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
    <!-- end of top position table-->
    <!-- position table -->
    <span><h3 class="{{ theme }}-dark"><b>rest of the table</b></h3></span>
    <div class="{{ theme }}-dark">
        <div>
          <table>
            <tr>
              <td style="width:10%;"><b>team</b></td>
              <td style="width:50%;"><b>name</b></td>
              <td><b>G</b></td>
              <td><b>A</b></td>
              <td><b>Ch</b></td>
              <td><b>SoT</b></td>
              <td style="width:15%;text-align:center;"><b>O</b></td>
            </tr>
            {%for i in range(10,html_table.shape[0])%}
            <tr class="{{ theme }}-light">
              <td style="width:10%;">{{ html_table.at[i, 'team'] }}</td>
              <td style="width:50%;"><b>{{ ' '.join((html_table.at[i,'name']).split()[1:]) }}</b></td>
              <td>{{ html_table.at[i,'goals'] }}</td>
              <td>{{ html_table.at[i,'assists'] }}</td>
              <td>{{ html_table.at[i,'chances'] }}</td>
              <td>{{ html_table.at[i,'s-target'] }}</td>
              <td class="{{ theme }}-t-blue" style="width:15%;"><b>{{ html_table.at[i,'overall'] }}</b></td>
            </tr>
            {%endfor%}
          </table>
        </div>
    </div>
    <!-- end of position table-->
</div>
<!-- top position table -->

<div class="desktop">
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td style="width:10%;"><b>team / #</b></td>
            <td style="width:30%;"><b>name</b></td>
            <td><b>MIN</b></td>
            <td><b>G</b></td>
            <td><b>A</b></td>
            <td><b>Ch</b></td>
            <td><b>S</b></td>
            <td><b>SOT</b></td>
            <td><b>P</b></td>
            <td><b>X</b></td>
            <td><b>Dls</b></td>
            <td><b>Tkl</b></td>
            <td><b>O</b></td>
          </tr>
          {%for i in range(0,10)%}
          <tr class="{{ theme }}-light">
            <td style="width:10%;">{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
            <td style="width:30%;"><b>{{ html_table.at[i,'name'] }}</b></td>
            <td>{{ html_table.at[i,'minutes'] }}</td>
            <td>{{ html_table.at[i,'goals'] }}</td>
            <td>{{ html_table.at[i,'assists'] }}</td>
            <td>{{ html_table.at[i,'chances'] }}</td>
            <td>{{ html_table.at[i,'shots'] }}</td>
            <td>{{ html_table.at[i,'s-target'] }}</td>
            <td>{{ html_table.at[i,'passes'] }}</td>
            <td>{{ html_table.at[i,'crosses'] }}</td>
            <td>{{ html_table.at[i,'duels'] }}</td>
            <td>{{ html_table.at[i,'tackles'] }}</td>
            <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i,'overall'] }}</b></td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
    <!-- end of top position table-->
    <!-- position table -->
    <span><h3 class="{{ theme }}-dark"><b>rest of the table</b></h3></span>
    <div class="{{ theme }}-dark">
        <div>
          <table>
            <tr>
              <td style="width:10%;"><b>team / #</b></td>
              <td style="width:30%;"><b>name</b></td>
              <td><b>MIN</b></td>
              <td><b>G</b></td>
              <td><b>A</b></td>
              <td><b>Ch</b></td>
              <td><b>S</b></td>
              <td><b>SOT</b></td>
              <td><b>P</b></td>
              <td><b>X</b></td>
              <td><b>Dls</b></td>
              <td><b>Tkl</b></td>
              <td><b>O</b></td>
            </tr>
            {%for i in range(10,html_table.shape[0])%}
            <tr class="{{ theme }}-light">
              <td style="width:10%;">{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
              <td style="width:30%;"><b>{{ html_table.at[i,'name'] }}</b></td>
              <td>{{ html_table.at[i,'minutes'] }}</td>
              <td>{{ html_table.at[i,'goals'] }}</td>
              <td>{{ html_table.at[i,'assists'] }}</td>
              <td>{{ html_table.at[i,'chances'] }}</td>
              <td>{{ html_table.at[i,'shots'] }}</td>
              <td>{{ html_table.at[i,'s-target'] }}</td>
              <td>{{ html_table.at[i,'passes'] }}</td>
              <td>{{ html_table.at[i,'crosses'] }}</td>
              <td>{{ html_table.at[i,'duels'] }}</td>
              <td>{{ html_table.at[i,'tackles'] }}</td>
              <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i,'overall'] }}</b></td>
            </tr>
            {%endfor%}
          </table>
        </div>
    </div>
    <!-- end of position table-->
</div>

{% endblock %}
