{% extends 'base.html' %}
{% block content %}

<!-- page content -->
<div class="{{ theme }}-dark">
  <h3><b>Standings {{ year }}</b></h3>
  <form class="center" method="post" action="{{ page }}" style="width: 80%">
    <div class="parent">
      <div class="form box">
        <input class="{{ theme }}-colour inputbox" type="text" id="year" name="year" autocomplete="off" required />
        <label for="year" class="label-name">
          <span class="content-name">Select Year</span>
        </label>
        </div>
      <div class="box">
        <input class="{{ theme }}-action button" style="width: 80%;dislay: inline;" type="submit" formaction="{{ page }}" value="submit"/>
      </div>
    </div>
    <div class="spacer"></div>
  </form>
</div>

  <!-- body -->
<div class="mobile">
  {% if check == 1 %}
  <span><h3 class="{{ theme }}-dark"><b>{{ year }} Playoffs Standings</b></h3></span>
    <!-- playoffs -->
    <div class="{{ theme }}-dark">
      <div>
            <table>
              <tr>
                <td><b>rank</b></td>
                <td style="width: 10%;"><b>team</b></td>
                <td><b>MP</b></td>
                <td><b>Pts</b></td>
                <td><b>PPG</b></td>
                <td><b>W</b></td>
                <td><b>D</b></td>
                <td><b>L</b></td>
                <td><b>GD</b></td>
              </tr>
              {%for i in range(0,championship_table.shape[0])%}
              <tr class="{{ theme }}-light">
                <td>{{ championship_table.iloc[i][0] }}</td>
                <td style="width: 10%;">{{ championship_table.at[i,'short'] }}</td>
                <td>{{ championship_table.iloc[i][2] }}</td>
                <td>{{ championship_table.iloc[i][3] }}</td>
                <td>{{ championship_table.iloc[i][5] }}</td>
                <td class="{{ theme }}-green">{{ championship_table.iloc[i][6] }}</td>
                <td class="{{ theme }}-orange">{{ championship_table.iloc[i][8] }}</td>
                <td class="{{ theme }}-red">{{ championship_table.iloc[i][7] }}</td>
                <td class="{{ theme }}-t-blue"><b>{{ championship_table.iloc[i][9] }}</td>
              </tr>
              {%endfor%}
            </table>
          </div>
      </div>
      <!-- end of playoffs-->
      <span><h3 class="{{ theme }}-dark"><b>Regular Season Standings</b></h3></span>
    {% else %}
    <span><h3 class="{{ theme }}-dark"><b>{{ year }}</b> Regular Season Standings</h3></span>
    {% endif %}

      <!-- regular season -->
      <div class="{{ theme }}-dark">
        <div>
          <table>
            <tr>
              <td><b>rank</b></td>
              <td style="width: 10%;"><b>team</b></td>
              <td><b>MP</b></td>
              <td><b>Pts</b></td>
              <td><b>PPG</b></td>
              <td><b>W</b></td>
              <td><b>D</b></td>
              <td><b>L</b></td>
              <td><b>GD</b></td>
            </tr>
            {%for i in range(0,standings_table.shape[0])%}
            <tr class="{{ theme }}-light">
              <td>{{ standings_table.iloc[i][0] }}</td>
              <td style="width: 10%;">{{ standings_table.at[i,'short'] }}</td>
              <td>{{ standings_table.iloc[i][2] }}</td>
              <td>{{ standings_table.iloc[i][3] }}</td>
              <td>{{ standings_table.iloc[i][5] }}</td>
              <td class="{{ theme }}-green">{{ standings_table.iloc[i][6] }}</td>
              <td class="{{ theme }}-orange">{{ standings_table.iloc[i][8] }}</td>
              <td class="{{ theme }}-red">{{ standings_table.iloc[i][7] }}</td>
              <td class="{{ theme }}-t-blue">{{ standings_table.iloc[i][9] }}</td>
            </tr>
            {%endfor%}
          </table>
        </div>
      </div>
        <!-- end of regular season-->
        <!-- form -->
        <span><h3 class="{{ theme }}-dark"><b>Form</b></h3></span>
          <div class="{{ theme }}-dark">
            <div>
              <table>
                <tr>
                  <td style="width:15%;"><b>team </b></td>
                  {% for i in range(1,8) %}
                  <td>G{{ i }}</td>
                  {% endfor %}
                </tr>
                {%for i in range(0,standings_table.shape[0])%}
                <tr class="{{ theme }}-light">
                  <td style="width:15%;">{{ form_table.iloc[i][0] }}</td>
                  <td class="{{ theme }}-{{'green' if form_table.iloc[i][1][0] == 'W' else 'red' if form_table.iloc[i][1][0] == 'L' else 'orange' if form_table.iloc[i][1][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][1][0] }}</td>
                  <td class="{{ theme }}-{{'green' if form_table.iloc[i][2][0] == 'W' else 'red' if form_table.iloc[i][2][0] == 'L' else 'orange' if form_table.iloc[i][2][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][2][0] }}</td>
                  <td class="{{ theme }}-{{'green' if form_table.iloc[i][3][0] == 'W' else 'red' if form_table.iloc[i][3][0] == 'L' else 'orange' if form_table.iloc[i][3][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][3][0] }}</td>
                  <td class="{{ theme }}-{{'green' if form_table.iloc[i][4][0] == 'W' else 'red' if form_table.iloc[i][4][0] == 'L' else 'orange' if form_table.iloc[i][4][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][4][0] }}</td>
                  <td class="{{ theme }}-{{'green' if form_table.iloc[i][5][0] == 'W' else 'red' if form_table.iloc[i][5][0] == 'L' else 'orange' if form_table.iloc[i][5][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][5][0] }}</td>
                  <td class="{{ theme }}-{{'green' if form_table.iloc[i][6][0] == 'W' else 'red' if form_table.iloc[i][6][0] == 'L' else 'orange' if form_table.iloc[i][6][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][6][0] }}</td>
                  <td class="{{ theme }}-{{'green' if form_table.iloc[i][7][0] == 'W' else 'red' if form_table.iloc[i][7][0] == 'L' else 'orange' if form_table.iloc[i][7][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][7][0] }}</td>
                </tr>
                {%endfor%}
              </table>
            </div>
          </div>
  </div>

  <!-- playoffs -->
<div class="desktop">
  {% if check == 1 %}
  <span><h3 class="{{ theme }}-dark"><b>{{ year }} Playoffs Standings</b></h3></span>
  <div class="{{ theme }}-dark">
    <div>
          <table>
            <tr>
              <td><b>rank</b></td>
              <td style="width: 20%;"><b>team</b></td>
              <td><b>MP</b></td>
              <td><b>Pts</b></td>
              <td><b>PPG</b></td>
              <td><b>W</b></td>
              <td><b>D</b></td>
              <td><b>L</b></td>
              <td><b>GD</b></td>
              <td><b>GF</b></td>
              <td><b>GA</b></td>
            </tr>
            {%for i in range(0,championship_table.shape[0])%}
            <tr class="{{ theme }}-light">
              <td>{{ championship_table.iloc[i][0] }}</td>
              <td style="width: 20%;">{{ championship_table.iloc[i][1] }}</td>
              <td>{{ championship_table.iloc[i][2] }}</td>
              <td>{{ championship_table.iloc[i][3] }}</td>
              <td>{{ championship_table.iloc[i][5] }}</td>
              <td class="{{ theme }}-green">{{ championship_table.iloc[i][6] }}</td>
              <td class="{{ theme }}-orange">{{ championship_table.iloc[i][8] }}</td>
              <td class="{{ theme }}-red">{{ championship_table.iloc[i][7] }}</td>
              <td class="{{ theme }}-t-blue"><b>{{ championship_table.iloc[i][9] }}</td>
              <td class="{{ theme }}-t-blue"><b>{{ championship_table.iloc[i][10] }}</td>
              <td class="{{ theme }}-t-blue"><b>{{ championship_table.iloc[i][11] }}</td>
            </tr>
            {%endfor%}
          </table>
        </div>
    </div>
    <span><h3 class="{{ theme }}-dark"><b>Regular Season Standings</b></h3></span>
    <!-- end of playoffs-->
    {% else %}
    <span><h3 class="{{ theme }}-dark"><b>{{ year }} Regular Season Standings</b></h3></span>
    {% endif %}
    <!-- regular season -->
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td><b>rank</b></td>
            <td style="width: 20%;"><b>team</b></td>
            <td><b>MP</b></td>
            <td><b>Pts</b></td>
            <td><b>PPG</b></td>
            <td><b>W</b></td>
            <td><b>D</b></td>
            <td><b>L</b></td>
            <td><b>GD</b></td>
            <td><b>GF</b></td>
            <td><b>GA</b></td>
          </tr>
          {%for i in range(0,standings_table.shape[0])%}
          <tr class="{{ theme }}-light">
            <td>{{ standings_table.iloc[i][0] }}</td>
            <td style="width: 20%;">{{ standings_table.iloc[i][1] }}</td>
            <td>{{ standings_table.iloc[i][2] }}</td>
            <td>{{ standings_table.iloc[i][3] }}</td>
            <td>{{ standings_table.iloc[i][5] }}</td>
            <td class="{{ theme }}-green">{{ standings_table.iloc[i][6] }}</td>
            <td class="{{ theme }}-orange">{{ standings_table.iloc[i][8] }}</td>
            <td class="{{ theme }}-red">{{ standings_table.iloc[i][7] }}</td>
            <td class="{{ theme }}-t-blue">{{ standings_table.iloc[i][9] }}</td>
            <td class="{{ theme }}-t-blue">{{ standings_table.iloc[i][10] }}</td>
            <td class="{{ theme }}-t-blue">{{ standings_table.iloc[i][11] }}</td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
      <!-- end of regular season-->
      <!-- form -->
      <span><h3 class="{{ theme }}-dark"><b>Form</b></h3></span>
        <div class="{{ theme }}-dark">
          <div>
            <table>
              <tr>
                <td style="width:15%;"><b>team </b></td>
                {% for i in range(1,8) %}
                <td>G{{ i }}</td>
                {% endfor %}
              </tr>
              {%for i in range(0,standings_table.shape[0])%}
              <tr class="{{ theme }}-light">
                <td style="width:15%;">{{ form_table.iloc[i][0] }}</td>
                <td class="{{ theme }}-{{'green' if form_table.iloc[i][1][0] == 'W' else 'red' if form_table.iloc[i][1][0] == 'L' else 'orange' if form_table.iloc[i][1][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][1][0] }}</td>
                <td class="{{ theme }}-{{'green' if form_table.iloc[i][2][0] == 'W' else 'red' if form_table.iloc[i][2][0] == 'L' else 'orange' if form_table.iloc[i][2][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][2][0] }}</td>
                <td class="{{ theme }}-{{'green' if form_table.iloc[i][3][0] == 'W' else 'red' if form_table.iloc[i][3][0] == 'L' else 'orange' if form_table.iloc[i][3][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][3][0] }}</td>
                <td class="{{ theme }}-{{'green' if form_table.iloc[i][4][0] == 'W' else 'red' if form_table.iloc[i][4][0] == 'L' else 'orange' if form_table.iloc[i][4][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][4][0] }}</td>
                <td class="{{ theme }}-{{'green' if form_table.iloc[i][5][0] == 'W' else 'red' if form_table.iloc[i][5][0] == 'L' else 'orange' if form_table.iloc[i][5][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][5][0] }}</td>
                <td class="{{ theme }}-{{'green' if form_table.iloc[i][6][0] == 'W' else 'red' if form_table.iloc[i][6][0] == 'L' else 'orange' if form_table.iloc[i][6][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][6][0] }}</td>
                <td class="{{ theme }}-{{'green' if form_table.iloc[i][7][0] == 'W' else 'red' if form_table.iloc[i][7][0] == 'L' else 'orange' if form_table.iloc[i][7][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][7][0] }}</td>
              </tr>
              {%endfor%}
            </table>
          </div>
        </div>
</div>





{% endblock %}
