{% extends 'base.html' %}
{% block content %}

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="static/images/flags/cpl_logo.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-white w3-xlarge">{{ year }} Season</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a class="w3-button w3-center" href="{{ url_for('index_19') }}">{{ other_year }}</a><br>
      </div>
    </div>
  </div>
  <hr>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
    <a href="{{ url_for('standings') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-trophy fa-fw"></i>  Standings</a>
    <a href="{{ url_for('power') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-trophy fa-fw"></i>  Power Rankings</a>
    <a href="{{ url_for('comparison1') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Versus</a>
    <a href="{{ url_for('teams') }}" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Teams</a>
    <a href="{{ url_for('goals') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-soccer-ball-o fa-fw"></i>  Goals and Assists</a>
    <a href="{{ url_for('forwards') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-hand-scissors-o fa-fw"></i>  Forwards</a>
    <a href="{{ url_for('midfielders') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-hand-grab-o fa-fw"></i>  Midfielders</a>
    <a href="{{ url_for('defenders') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-hand-stop-o fa-fw"></i>  Defenders</a>
    <a href="{{ url_for('keepers') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-child fa-fw"></i>  Goal Keepers</a>
    <a href="{{ url_for('discipline') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-copy fa-fw"></i>  Discipline</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-trophy"></i> CPL Teams - click team name for roster</b></h5>
  </header>

  <div class="w3-container">
    <form method="POST" action="/roster">
      <table class="w3-table">
        <tr>
        {%for col in html_table.columns[0:-5]%}
  					<th>{{ col }}</th>
  			{%endfor%}
        <th>cpl link</th>
        <th>wiki link</th>
        </tr>
        {%for i in range(0,html_table.shape[0])%}
        <tr class="{{ html_table.iloc[i,4] }}">
          <td><img src="static/images/flags/{{ html_table.iloc[i,5] }}" alt="{{ html_table.iloc[i,0] }} Crest" style="max-height:40px"><a href="{{ url_for('roster') }}"><input class="w3-button" type="submit" id="team" name="team" value="{{ html_table.iloc[i,0] }}"/></a></td>
            {%for r in range(1,html_table.shape[1]-5)%}
            <td>{{ html_table.iloc[i,r] }}</td>
            {%endfor%}
            <td><a class="w3-button" href="{{ html_table.iloc[i,6] }}" target="_blank">club site</a></td>
            <td><a class="w3-button" href="{{ html_table.iloc[i,7] }}" target="_blank">wikipedia link</a></td>
        </tr>
        {%endfor%}
      </table>
    </form>
  </div>
  <hr>

{% endblock %}
