{% extends 'base.html' %}
{% block content %}

<!-- page content -->

  <!-- header -->
  <div class="titlediv">
    <span><h3><b>Rated {{ position }} per 90 Minutes</b></h3></span>
    <span><h4><b>Top 10</b></h4></span>
  </div>

  <!-- body -->

  <!-- top position table -->
    <div class="parent {{ theme }}-theme-dark">

        <div class="boxtable {{ theme }}-theme-dark">
            <table>
              <tr>
                <td><b>team / #</b></td>
                <td style="width:75%;"><b>name</b></td>
              </tr>
            </table>
        </div>

        <div class="boxtable {{ theme }}-theme-dark">
            <table>
              <tr>
                <td><b>MIN</b></td>
                <td><b>G</b></td>
                <td><b>A</b></td>
                <td><b>Ch</b></td>
                <td><b>S</b></td>
                <td><b>SOT</b></td>
              </tr>
            </table>
        </div>
        <div class="boxtable {{ theme }}-theme-dark">
            <table>
              <tr>
                <td><b>P</b></td>
                <td><b>X</b></td>
                <td><b>Dls</b></td>
                <td><b>Tkl</b></td>
                <td><b>O</b></td>
              </tr>
            </table>
        </div>
    </div>
    <div class="parent {{ theme }}-theme-light">
            {%for i in range(0,10)%}
            <div class="boxtable {{ theme }}-theme-light">
                <table>
                  <tr>
                    <td>{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
                    <td style="width:75%;"><b>{{ html_table.at[i,'name'] }}</b></td>
                  </tr>
                </table>
            </div>
            <div class="boxtable {{ theme }}-theme-light">
                <table>
                  <tr>
                    <td>{{ html_table.at[i,'minutes'] }}</td>
                    <td>{{ html_table.at[i,'goals'] }}</td>
                    <td>{{ html_table.at[i,'assists'] }}</td>
                    <td>{{ html_table.at[i,'chances'] }}</td>
                    <td>{{ html_table.at[i,'shots'] }}</td>
                    <td>{{ html_table.at[i,'s-target'] }}</td>
                  </tr>
                </table>
            </div>
            <div class="boxtable {{ theme }}-theme-light">
                <table>
                  <tr>
                    <td>{{ html_table.at[i,'passes'] }}</td>
                    <td>{{ html_table.at[i,'crosses'] }}</td>
                    <td>{{ html_table.at[i,'duels'] }}</td>
                    <td>{{ html_table.at[i,'tackles'] }}</td>
                    <td class="{{ theme }}-text-blue"><b>{{ html_table.at[i,'new_overall'] }}</b></td>
                  </tr>
                </table>
            </div>
            {%endfor%}
      </div>
    <!-- end of top position table-->
    <!-- position table -->
    <span><h4><b>rest of the table</b></h4></span>
      <div class="parent {{ theme }}-theme-dark">

          <div class="boxtable {{ theme }}-theme-dark">
              <table>
                <tr>
                  <td><b>team / #</b></td>
                  <td style="width:75%;"><b>name</b></td>
                </tr>
              </table>
          </div>

          <div class="boxtable {{ theme }}-theme-dark">
              <table>
                <tr>
                  <td><b>MIN</b></td>
                  <td><b>G</b></td>
                  <td><b>A</b></td>
                  <td><b>Ch</b></td>
                  <td><b>S</b></td>
                  <td><b>SOT</b></td>
                </tr>
              </table>
          </div>
          <div class="boxtable {{ theme }}-theme-dark">
              <table>
                <tr>
                  <td><b>P</b></td>
                  <td><b>X</b></td>
                  <td><b>Dls</b></td>
                  <td><b>Tkl</b></td>
                  <td><b>O</b></td>
                </tr>
              </table>
          </div>
      </div>
      <div class="parent {{ theme }}-theme-light">
              {%for i in range(10,html_table.shape[0])%}
              <div class="boxtable {{ theme }}-theme-light">
                  <table>
                    <tr>
                      <td>{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
                      <td style="width:75%;"><b>{{ html_table.at[i,'name'] }}</b></td>
                    </tr>
                  </table>
              </div>
              <div class="boxtable {{ theme }}-theme-light">
                  <table>
                    <tr>
                      <td>{{ html_table.at[i,'minutes'] }}</td>
                      <td>{{ html_table.at[i,'goals'] }}</td>
                      <td>{{ html_table.at[i,'assists'] }}</td>
                      <td>{{ html_table.at[i,'chances'] }}</td>
                      <td>{{ html_table.at[i,'shots'] }}</td>
                      <td>{{ html_table.at[i,'s-target'] }}</td>
                    </tr>
                  </table>
              </div>
              <div class="boxtable {{ theme }}-theme-light">
                  <table>
                    <tr>
                      <td>{{ html_table.at[i,'passes'] }}</td>
                      <td>{{ html_table.at[i,'crosses'] }}</td>
                      <td>{{ html_table.at[i,'duels'] }}</td>
                      <td>{{ html_table.at[i,'tackles'] }}</td>
                      <td class="{{ theme }}-text-blue"><b>{{ html_table.at[i,'new_overall'] }}</b></td>
                    </tr>
                  </table>
              </div>
              {%endfor%}
        </div>
      <!-- end of position table-->


{% endblock %}
