{% extends 'base.html' %}
{% block content %}

<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}
<!-- page content -->
  <!-- body -->
  <!-- weekly team performance -->
  <div class="mobile">
    <form method="POST" action="/roster">
    <div class="parent">
      <div class="boxs {{ first_colour }}">
        <table>
          <tr>
            <td style="text-align:center;width:32%;padding: 2px 2px;" rowspan="2"><img src="static/images/flags/{{ first_crest }}" alt="{{ top_team }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> Champions</h2></td>
          </tr>
          <tr>
            {% if top_team|length > 12 %}
            <td><h3 class="xfont"> {{ top_team }}</h3></td>
            {% else %}
            <!--td><h3><a class="xxfont button staat" href="/teams">{{ top_team }}</a></h3></td-->
            <td><h3><a><input class="xxxfont table-button staat" type="submit" id="team" name="team" value="{{ top_team }}"/></a></h3></td>
            {% endif %}
          </tr>
        </table>
      </div>
      <div class="boxs {{ theme }}-green">
        <table>
          <tr>
            <td style="text-align:center;width:32%;padding: 2px 2px;" rowspan="2"><img src="static/images/flags/{{ top_crest }}" alt="{{ top_mover }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> Top Team</h2></td>
          </tr>
          <tr>
            {% if top_mover|length > 12 %}
            <td><h3 class="xfont"> {{ top_mover }}</h3></td>
            {% else %}
            <!--td><h3 class="xxfont"> {{ top_mover }}</h3></td-->
            <td><h3><a><input class="xxxfont table-button staat" type="submit" id="team" name="team" value="{{ top_mover }}"/></a></h3></td>
            {% endif %}
          </tr>
        </table>
      </div>
      <div class="boxs {{ theme }}-red">
        <table>
          <tr>
            <td style="text-align:center;width:32%; padding: 2px 2px;" rowspan="2"><img src="static/images/flags/{{ bot_crest }}" alt="{{ top_dropper }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> Bottom Team</h2></td>
          </tr>
          <tr>
            {% if top_dropper|length > 12 %}
            <td><h3 class="xfont"> {{ top_dropper }}</h3></td>
            {% else %}
            <!--td><h3 class="xxfont"> {{ top_dropper }}</h3></td-->
            <td><h3><a><input class="xxxfont table-button staat" type="submit" id="team" name="team" value="{{ top_dropper }}"/></a></h3></td>
            {% endif %}
          </tr>
        </table>
      </div>
      <div class="boxs {{ theme }}-blue">
        <table>
          <tr>
            <td style="text-align:center;width:32%; padding: 2px 2px;" rowspan="2"><img src="static/images/flags/CPL-Crest-White.png" alt="{{ top_dropper }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> {{ goals }} G / {{ assists }} A</h2></td>
          </tr>
          <tr>
            <td><h3 class="xxfont"> {{ yellows }} Y / {{ reds }} R </h3></td>
          </tr>
        </table>
      </div>
    </div>
    </form>
    <div class="parent">
      <div class="box">
        <h3>Biggest Win</h3>
        <div class="child">
          {% if big_win.at[0,'hs'] > big_win.at[0,'as'] %}
          <div class="boxs {{ theme }}-green">{{ big_win.iloc[0]['home']}} {{big_win.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-red">{{ big_win.iloc[0]['away']}} {{big_win.iloc[0]['as'].astype('int') }}</div>
          {% elif big_win.at[0,'as'] > big_win.at[0,'hs'] %}
          <div class="boxs {{ theme }}-red">{{ big_win.iloc[0]['home']}} {{big_win.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-green">{{ big_win.iloc[0]['away']}} {{big_win.iloc[0]['as'].astype('int') }}</div>
          {% else %}
          <div class="boxs {{ theme }}-orange">{{ big_win.iloc[0]['home']}} {{big_win.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-orange">{{ big_win.iloc[0]['away']}} {{big_win.iloc[0]['as'].astype('int') }}</div>
          {% endif %}
        </div>
        <br>
        <h3>Other Results</h3>
        <div class="child">
          {% if top_result.at[0,'hs'] > top_result.at[0,'as'] %}
          <div class="boxs {{ theme }}-green">{{ top_result.iloc[0]['home']}} {{top_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-red">{{ top_result.iloc[0]['away']}} {{top_result.iloc[0]['as'].astype('int') }}</div>
          {% elif top_result.at[0,'as'] > top_result.at[0,'hs'] %}
          <div class="boxs {{ theme }}-red">{{ top_result.iloc[0]['home']}} {{top_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-green">{{ top_result.iloc[0]['away']}} {{top_result.iloc[0]['as'].astype('int') }}</div>
          {% else %}
          <div class="boxs {{ theme }}-orange">{{ top_result.iloc[0]['home']}} {{top_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-orange">{{ top_result.iloc[0]['away']}} {{top_result.iloc[0]['as'].astype('int') }}</div>
          {% endif %}
        </div>
        <br>
        <div class="child">
          {% if other_result.at[0,'hs'] > other_result.at[0,'as'] %}
          <div class="boxs {{ theme }}-green">{{ other_result.iloc[0]['home']}} {{other_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-red">{{ other_result.iloc[0]['away']}} {{other_result.iloc[0]['as'].astype('int') }}</div>
          {% elif other_result.at[0,'as'] > other_result.at[0,'hs'] %}
          <div class="boxs {{ theme }}-red">{{ other_result.iloc[0]['home']}} {{other_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-green">{{ other_result.iloc[0]['away']}} {{other_result.iloc[0]['as'].astype('int') }}</div>
          {% else %}
          <div class="boxs {{ theme }}-orange">{{ other_result.iloc[0]['home']}} {{other_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-orange">{{ other_result.iloc[0]['away']}} {{other_result.iloc[0]['as'].astype('int') }}</div>
          {% endif %}
        </div>
        <br>
        <h3>Bottom Team Result</h3>
        <div class="child">
          {% if low_result.at[0,'hs'] > low_result.at[0,'as'] %}
          <div class="boxs {{ theme }}-green">{{ low_result.iloc[0]['home']}} {{low_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-red">{{ low_result.iloc[0]['away']}} {{low_result.iloc[0]['as'].astype('int') }}</div>
          {% elif low_result.at[0,'as'] > low_result.at[0,'hs'] %}
          <div class="boxs {{ theme }}-red">{{ low_result.iloc[0]['home']}} {{low_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-green">{{ low_result.iloc[0]['away']}} {{low_result.iloc[0]['as'].astype('int') }}</div>
          {% else %}
          <div class="boxs {{ theme }}-orange">{{ low_result.iloc[0]['home']}} {{low_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-orange">{{ low_result.iloc[0]['away']}} {{low_result.iloc[0]['as'].astype('int') }}</div>
          {% endif %}
        </div>
        <div class="spacer"></div>
      </div>
      <br>
      <div class="box">
        <form method="POST" action="/player">
        <span><h3>Players of the Week</h3></span>
        <div>
          <table class="table-collapse sfont">
            <tr>
              <td class="t-left">Top Scorer</td>
              <td class="t-left" style="width: 45%;"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_scorer['name']}}"></input></td>
              <td>{{top_scorer['overall']}}</td>
            </tr>
            <tr>
              <td class="t-left">Most Assists</td>
              <td class="t-left"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_assist['name']}}"></input></td>
              <td>{{top_assist['overall']}}</td>
            </tr>
            <tr>
              <td class="t-left">Top Forward</td>
              <td class="t-left"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_forward['name']}}"></input></td>
              <td>{{top_forward['overall']}}</td>
            </tr>
            <tr>
              <td class="t-left">Top Midfielder</td>
              <td class="t-left"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_midfielder['name']}}"></input></td>
              <td>{{top_midfielder['overall']}}</td>
            </tr>
            <tr>
              <td class="t-left">Top Defender</td>
              <td class="t-left"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_defender['name']}}"></input></td>
              <td>{{top_defender['overall']}}</td>
            </tr>
            <tr>
              <td class="t-left">Top Keeper</td>
              <td class="t-left"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_keeper['name']}}"></input></td>
              <td>{{top_keeper['overall']}}</td>
            </tr>
            <tr>
              <td class="t-left">Top Offender</td>
              <td class="t-left"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_offender['name']}}"></input></td>
              <td>{{top_offender['overall']}}</td>
            </tr>
            {% for sus_name in suspended %}
            {% if sus_name == 'none' %}
            <tr>
              <td class="t-left">Suspended</td>
              <td class="t-left">{{ sus_name }}</td>
            </tr>
            {% else %}
            <tr>
              <td class="t-left">Suspended</td>
              <td class="t-left"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{ sus_name }}"></input></td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- DESKTOP SECTION -->
  <!-- DESKTOP SECTION -->
  <div class="desktop">
    <form method="POST" action="/roster">
    <div class="parent">
      <div class="box {{ first_colour }}">
        <div class="spacer"></div>
        <table>
          <tr>
            <td style="width:25%; text-align:center;" rowspan="2"><img src="static/images/flags/{{ first_crest }}" alt="{{ top_team }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> Champions</h2></td>
          </tr>
          <tr>
            {% if top_team|length > 12 %}
            <td><h2><a><input class="xfont table-button staat" type="submit" id="team" name="team" value="{{ top_team }}"/></a></h2></td>
            {% else %}
            <!--td><h3><a class="xxfont button staat" href="/teams">{{ top_team }}</a></h3></td-->
            <td><h2><a><input class="xxxfont table-button staat" type="submit" id="team" name="team" value="{{ top_team }}"/></a></h2></td>
            {% endif %}
          </tr>
        </table>
        <div class="spacer"></div>
      </div>
      <div class="box {{ theme }}-green">
        <div class="spacer"></div>
        <table>
          <tr>
            <td style="width:25%; text-align:center;" rowspan="2"><img src="static/images/flags/{{ top_crest }}" alt="{{ top_mover }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> Top Team</h2></td>
          </tr>
          <tr>
            {% if top_mover|length > 12 %}
            <td><h2><a><input class="xfont table-button staat" type="submit" id="team" name="team" value="{{ top_mover }}"/></a></h2></td>
            {% else %}
            <td><h2><a><input class="xxxfont table-button staat" type="submit" id="team" name="team" value="{{ top_mover }}"/></a></h2></td>
            {% endif %}
          </tr>
        </table>
        <div class="spacer"></div>
      </div>
      <div class="box {{ theme }}-red">
        <div class="spacer"></div>
        <table>
          <tr>
            <td style="width:25%; text-align:center;" rowspan="2"><img src="static/images/flags/{{ bot_crest }}" alt="{{ top_dropper }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> Bottom Team</h2></td>
          </tr>
          <tr>
            {% if top_dropper|length > 12 %}
            <td><h2><a><input class="xfont table-button staat" type="submit" id="team" name="team" value="{{ top_dropper }}"/></a></h2></td>
            {% else %}
            <td><h2><a><input class="xxxfont table-button staat" type="submit" id="team" name="team" value="{{ top_dropper }}"/></a></h2></td>
            {% endif %}
          </tr>
        </table>
        <div class="spacer"></div>
      </div>
      <div class="box {{ theme }}-blue">
        <div class="spacer"></div>
        <table>
          <tr>
            <td style="width:25%; text-align:center;" rowspan="2"><img src="static/images/flags/CPL-Crest-White.png" alt="{{ top_dropper }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> {{ goals }} G / {{ assists }} A</h2></td>
          </tr>
          <tr>
            <td><h3 class="xxfont"> {{ yellows }} Y / {{ reds }} R </h3></td>
          </tr>
        </table>
        <div class="spacer"></div>
      </div>
    </div>
    </form>
  <div class="parent">

      <div class="box {{ theme }}-light" style="padding: 15px 15px;">
        <div class="spacer"></div>
        <h2>Biggest Win</h2>
        <div class="child">
          {% if big_win.at[0,'hs'] > big_win.at[0,'as'] %}
          <div class="boxs {{ theme }}-green">{{ big_win.iloc[0]['home']}} {{big_win.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-red">{{ big_win.iloc[0]['away']}} {{big_win.iloc[0]['as'].astype('int') }}</div>
          {% elif big_win.at[0,'as'] > big_win.at[0,'hs'] %}
          <div class="boxs {{ theme }}-red">{{ big_win.iloc[0]['home']}} {{big_win.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-green">{{ big_win.iloc[0]['away']}} {{big_win.iloc[0]['as'].astype('int') }}</div>
          {% else %}
          <div class="boxs {{ theme }}-orange">{{ big_win.iloc[0]['home']}} {{big_win.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-orange">{{ big_win.iloc[0]['away']}} {{big_win.iloc[0]['as'].astype('int') }}</div>
          {% endif %}
        </div>
        <br>
        <h3>Other Results</h3>
        <div class="child">
          {% if top_result.at[0,'hs'] > top_result.at[0,'as'] %}
          <div class="boxs {{ theme }}-green">{{ top_result.iloc[0]['home']}} {{top_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-red">{{ top_result.iloc[0]['away']}} {{top_result.iloc[0]['as'].astype('int') }}</div>
          {% elif top_result.at[0,'as'] > top_result.at[0,'hs'] %}
          <div class="boxs {{ theme }}-red">{{ top_result.iloc[0]['home']}} {{top_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-green">{{ top_result.iloc[0]['away']}} {{top_result.iloc[0]['as'].astype('int') }}</div>
          {% else %}
          <div class="boxs {{ theme }}-orange">{{ top_result.iloc[0]['home']}} {{top_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-orange">{{ top_result.iloc[0]['away']}} {{top_result.iloc[0]['as'].astype('int') }}</div>
          {% endif %}
        </div>
        <br>
        <div class="child">
          {% if other_result.at[0,'hs'] > other_result.at[0,'as'] %}
          <div class="boxs {{ theme }}-green">{{ other_result.iloc[0]['home']}} {{other_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-red">{{ other_result.iloc[0]['away']}} {{other_result.iloc[0]['as'].astype('int') }}</div>
          {% elif other_result.at[0,'as'] > other_result.at[0,'hs'] %}
          <div class="boxs {{ theme }}-red">{{ other_result.iloc[0]['home']}} {{other_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-green">{{ other_result.iloc[0]['away']}} {{other_result.iloc[0]['as'].astype('int') }}</div>
          {% else %}
          <div class="boxs {{ theme }}-orange">{{ other_result.iloc[0]['home']}} {{other_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-orange">{{ other_result.iloc[0]['away']}} {{other_result.iloc[0]['as'].astype('int') }}</div>
          {% endif %}
        </div>
        <br>
        <h3>Bottom Team Result</h3>
        <div class="child">
          {% if low_result.at[0,'hs'] > low_result.at[0,'as'] %}
          <div class="boxs {{ theme }}-green">{{ low_result.iloc[0]['home']}} {{low_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-red">{{ low_result.iloc[0]['away']}} {{low_result.iloc[0]['as'].astype('int') }}</div>
          {% elif low_result.at[0,'as'] > low_result.at[0,'hs'] %}
          <div class="boxs {{ theme }}-red">{{ low_result.iloc[0]['home']}} {{low_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-green">{{ low_result.iloc[0]['away']}} {{low_result.iloc[0]['as'].astype('int') }}</div>
          {% else %}
          <div class="boxs {{ theme }}-orange">{{ low_result.iloc[0]['home']}} {{low_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-orange">{{ low_result.iloc[0]['away']}} {{low_result.iloc[0]['as'].astype('int') }}</div>
          {% endif %}
        </div>
        <div class="spacer"></div>
        <form method="POST" action="/player">
        <table  class="table-collapse">
          {% for sus_name in suspended %}
          {% if sus_name == 'none' %}
          <tr>
            <td class="t-left">Suspended</td>
            <td class="t-left">{{ sus_name }}</td>
          </tr>
          {% else %}
          <tr>
            <td class="t-left">Suspended</td>
            <td class="t-left"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{ sus_name }}"></input></td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
        </form>
      </div>
      <br>
      <div class="box {{theme}}-light" style="padding: 15px 15px;">
        <form method="POST" action="/player">
        <div class="spacer"></div>
        <span><h2>Players of the Week</h2></span>
        <div>
          <table class="table-collapse">
            <tr>
              <td class="t-left">Top Scorer</td>
              <td class="t-left" style="width:50%;"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_scorer['name']}}"></input></td>
              <td>{{top_scorer['overall']}}</td>
            </tr>
            <tr>
              <td class="t-left">Most Assists</td>
              <td class="t-left" style="width:50%;"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_assist['name']}}"></input></td>
              <td>{{top_assist['overall']}}</td>
            </tr>
            <tr>
              <td class="t-left">Top Forward</td>
              <td class="t-left" style="width:50%;"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_forward['name']}}"></input></td>
              <td>{{top_forward['overall']}}</td>
            </tr>
            <tr>
              <td class="t-left">Top Midfielder</td>
              <td class="t-left" style="width:50%;"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_midfielder['name']}}"></input></td>
              <td>{{top_midfielder['overall']}}</td>
            </tr>
            <tr>
              <td class="t-left">Top Defender</td>
              <td class="t-left" style="width:50%;"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_defender['name']}}"></input></td>
              <td>{{top_defender['overall']}}</td>
            </tr>
            <tr>
              <td class="t-left">Top Keeper</td>
              <td class="t-left" style="width:50%;"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_keeper['name']}}"></input></td>
              <td style=";width:10%;">{{top_keeper['overall']}}</td>
            </tr>
            <tr>
              <td class="t-left">Top Offender</td>
              <td class="t-left" style="width:50%;"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{top_offender['name']}}"></input></td>
              <td>{{top_offender['overall']}}</td>
            </tr>
          </table>
          </div>
          <div class="spacer"></div>
        </form>
      </div>
    </div>
</div>
<!-- END OF DESKTOP SECTION -->
    <!-- end of weekly team performance-->





{% endblock %}
