{% extends 'base.html' %}
{% block content %}

<!-- page content -->

  <!-- header -->
<h3><b>CPL Match Prediction - {{ headline }}</b></h3>

<div class="parent">

  <div class="child">
    <form method="POST" action="/versus-">
      <table style="width:100%;">
        {% if group2 == 1 %}
        <tr>
          <td class="{{ theme }}-blue" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for('comparison2') }}"><input class="{{ theme }}-button-l button" type="submit" id="home1" name="home" value="{{ group1 }}"/></a></td>
        </tr>
        {% elif group3 == 1 %}
        <tr>
          <td class="{{ theme }}-blue" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for('comparison2') }}"><input class="{{ theme }}-button-l button" type="submit" id="home1" name="home" value="{{ group1 }}"/></a></td>
          <td class="{{ theme }}-green" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for('comparison2') }}"><input class="{{ theme }}-button-l button" type="submit" id="home1" name="home" value="{{ group2 }}"/></a></td>
        </tr>
        {% else %}
        <tr>
          <td class="{{ theme }}-blue" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for('comparison2') }}"><input class="{{ theme }}-button-l button" type="submit" id="home1" name="home" value="{{ group1 }}"/></a></td>
          <td class="{{ theme }}-green" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for('comparison2') }}"><input class="{{ theme }}-button-l button" type="submit" id="home1" name="home" value="{{ group2 }}"/></a></td>
          <td class="{{ theme }}-blue" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for('comparison2') }}"><input class="{{ theme }}-button-l button" type="submit" id="home1" name="home" value="{{ group3 }}"/></a></td>
          <td class="{{ theme }}-green" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for('comparison2') }}"><input class="{{ theme }}-button-l button" type="submit" id="home1" name="home" value="{{ group4 }}"/></a></td>
        </tr>
        {% endif %}
      </table>
    </form>
  </div>

  <div class="child">
    <div class="box">
      <div class="child {{ home_colour }}">
        <table>
          <tr>
            <td style="text-align: center; width:30%;" rowspan="2"><img src="static/images/flags/{{ home_crest }}" alt="{{ home_team }} Crest" style="max-height:100px"></td>
            <td><h3>{{ home_team }}</h3></td>
          </tr>
          <tr>
            <td><h4>Home Team</h4></td>
          </tr>
        </table>
      </div>
      {% if home_win > away_win %}
        <div class="{{ theme }}-green">
          <table>
            <tr>
              <td><h4 style="width:50%;">{{ home_win }}% Win</h4></td>
        {% elif home_win == away_win %}
        <div class="{{ theme }}-orange">
          <table>
            <tr>
              <td><h4 style="width:50%;">{{ draw }}% Draw</h4></td>
        {% else %}
        <div class="{{ theme }}-red"></td>
          <table>
            <tr>
              <td><h4 style="width:50%;">{{ home_win }}% Loss</h4></td>
        {% endif %}
              <td><h4 style="width:50%;" class="w3-right">Score: {{home_score}}</h4></td>
            </tr>
          </table>
        </div>
      <div>
        <div class="{{ home_colour }}"><div class="spacer"></div><a> Current Form</a><div class="spacer"></div></div>
        <table style="width:100%;">
          <tr>
            <td style="padding: 15px 5px;" class="{{ theme }}-green"> {{ home_form.loc[0] }}</td>
            <td style="padding: 15px 5px;" class="{{ theme }}-red"> {{ home_form.loc[1] }}</td>
            <td style="padding: 15px 5px;" class="{{ theme }}-orange"> {{ home_form.loc[2] }}</td>
          </tr>
        </table>
      </div>
      <div class="{{ home_colour }}">
        <div>
          <a> CanPL Season Matches VS {{ away_team }}</a>
        </div>
        <table>
          <tr>
            <td style="padding: 15px 5px;" class="{{ theme }}-green"> {{ home_history['w'].values[0] }}</td>
            <td style="padding: 15px 5px;" class="{{ theme }}-red"> {{ home_history['l'].values[0] }}</td>
            <td style="padding: 15px 5px;" class="{{ theme }}-t-white {{ theme }}-orange"> {{ home_history['d'].values[0] }}</td>
          </tr>
        </table>
      <div><div class="spacer"></div><a>Recommended Starting 11</a><div class="spacer"></div></div>
        <table class="{{ theme }}-light">
          {%for i in range(0,home_table.shape[0])%}
          <tr>
              {%for r in range(home_table.shape[1])%}
              {% if r == 0 %}
                <td style="width:60%;">{{ home_table.iloc[i,r] }}</td>
              {% else %}
                <td>{{ home_table.iloc[i,r] }}</td>
              {% endif%}
              {%endfor%}
          </tr>
          {%endfor%}
        </table>
        </div>
      <div class="{{ home_colour }}">
        <img src="static/images/2020/cpl-2020-{{ home_team }}-radar.png" alt="{{ home_team }} Radar" style="max-width:95%">
      </div>
    </div>

    <div class="box">
      <div class="w3-container {{ away_colour }} w3-padding-16">
        <table>
          <tr>
            <td style="text-align: center; width:30%;" rowspan="2"><img src="static/images/flags/{{ away_crest }}" alt="{{ away_team }} Crest" style="max-height:100px"></td>
            <td><h3>{{ away_team }}</h3></td>
          </tr>
          <tr>
            <td><h4>Away Team</h4></td>
          </tr>
        </table>
      </div>
      {% if home_win > away_win %}
      <div class="{{ theme }}-red">
        <table>
          <tr>
            <td><h4 style="width:50%;">{{ away_win }}% Loss</h4>
      {% elif home_win == away_win %}
      <div class="{{ theme }}-orange">
        <table>
          <tr>
            <td><h4 style="width:50%;">{{ draw }}% Draw</h4>
      {% else %}
      <div class="{{ theme }}-green">
        <table>
          <tr>
            <td><h4 style="width:50%;">{{ away_win }}% Win</h4>
      {% endif %}
            <td><h4 style="width:50%;" class="w3-right">Score: {{away_score}}</h4></td>
          </tr>
        </table>
      </div>
      <div>
        <div class="{{ away_colour }}"><div class="spacer"></div><a> Current Form</a><div class="spacer"></div></div>
        <table style="width:100%;">
          <tr>
            <td style="padding: 15px 5px;" class="{{ theme }}-green"> {{ away_form.loc[0] }}</td>
            <td style="padding: 15px 5px;" class="{{ theme }}-red"> {{ away_form.loc[1] }}</td>
            <td style="padding: 15px 5px;" class="{{ theme }}-orange"> {{ away_form.loc[2] }}</td>
          </tr>
        </table>
      </div>
      <div class="{{ away_colour }}">
        <div>
          <a> CanPL Season Matches VS {{ home_team }}</a>
        </div>
        <table>
          <tr>
            <td style="padding: 15px 5px;" class="{{ theme }}-green"> {{ away_history['w'].values[0] }}</td>
            <td style="padding: 15px 5px;" class="{{ theme }}-red"> {{ away_history['l'].values[0] }}</td>
            <td style="padding: 15px 5px;" class="{{ theme }}-orange"> {{ away_history['d'].values[0] }}</td>
          </tr>
        </table>
        <div><div class="spacer"></div><a>Recommended Starting 11</a><div class="spacer"></div></div>
        <table class="{{ theme }}-light">
          {%for i in range(0,away_table.shape[0])%}
          <tr>
              {%for r in range(away_table.shape[1])%}
                {% if r == 0 %}
                  <td style="width:60%;">{{ away_table.iloc[i,r] }}</td>
                {% else %}
                  <td>{{ away_table.iloc[i,r] }}</td>
                {% endif%}
              {%endfor%}
          </tr>
          {%endfor%}
        </table>
      </div>
      <div class="{{ away_colour }}">
        <img src="static/images/2020/cpl-2020-{{ away_team }}-radar.png" alt="{{ away_team }} Radar" style="max-width:95%">
      </div>
    </div>

  </div>
</div>

{% endblock %}
