{% extends 'base.html' %}
{% block content %}

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse cpl-eclipse-l w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="static/images/flags/CPL-Crest-White.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button w3-xlarge">{{ year }} Season</button>
      <div class="w3-dropdown-content w3-indigo w3-bar-block w3-card-4">
        <a class="w3-button w3-center" href="{{ url_for('index_19') }}">{{ other_year }}</a><br>
      </div>
    </div>
  </div>
  <hr>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
    <a href="{{ url_for('standings') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-trophy fa-fw"></i>  Standings</a>
    <a href="{{ url_for('power') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bolt fa-fw"></i>  Power Rankings</a>
    <a href="{{ url_for('comparison1') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Match Prediction</a>
    <a href="{{ url_for('teams') }}" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-shield fa-fw"></i>  Teams</a>
    <a href="{{ url_for('radar') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-line-chart fa-fw"></i>  Radar Charts</a>
    <a href="{{ url_for('eleven') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Best Eleven</a>
    <a href="{{ url_for('goals') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-soccer-ball-o fa-fw"></i>  Goals and Assists</a>
    <a href="{{ url_for('forwards') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-hand-scissors-o fa-fw"></i>  Forwards</a>
    <a href="{{ url_for('midfielders') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-hand-grab-o fa-fw"></i>  Midfielders</a>
    <a href="{{ url_for('defenders') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-hand-stop-o fa-fw"></i>  Defenders</a>
    <a href="{{ url_for('keepers') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-child fa-fw"></i>  Goal Keepers</a>
    <a href="{{ url_for('discipline') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-copy fa-fw"></i>  Discipline</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
      <div class="w3-half"><h5><b><i class="fa fa-users"></i> {{ team_name }} - Player Information</b></h5></div>
    <div class="w3-half" style="text-align: right"><a href="{{ url_for('teams') }}"><b><input class="w3-button" value="Back"/></b></a></div>
  </header>


  <div class="w3-container w3-row-padding">
    <div>
      <div class="w3-third {{ team_colour }}">
        <div class="w3-center">
          <a href="{{ html_table.iloc[0,31] }}" target="_blank">
            <img src="static/images/players/2020/{{ html_table.iloc[0,1] }}" alt="{{ html_table.iloc[0,5] }}" style="max-height:200px"></a>
        </div>
          <p><img src="static/images/flags/{{ html_table.iloc[0,2] }}" alt="{{ html_table.iloc[0,2] }}" style="max-height:30px"></p>
          <p>{{ html_table.iloc[0,0] }}</p>
          <p>Number: {{ html_table.iloc[0,6] }}</p>
          <p>Position: {{ html_table.iloc[0,5] }}</p>
          <p>Overall: {{ html_table.iloc[0,3] }}</p>
          <p>Minutes: {{ html_table.iloc[0,7] }}</p>
          <p>Goals: {{ html_table.iloc[0,15] }}</p>
          <p>Assists: {{ html_table.iloc[0,13] }}</p>
      </div>
      <div class="w3-third {{ team_colour }}">
        <div>
          <p> Touches: {{ html_table.iloc[0,8] }}</p>
          <p> Passes: {{ html_table.iloc[0,9] }}</p>
          <p> Pass Accuracy: {{ html_table.iloc[0,10] }}</p>
          <p> Crosses: {{ html_table.iloc[0,11] }}</p>
          <p>Cross Accuracy: {{ html_table.iloc[0,12] }}</p>
          <p>Chances: {{ html_table.iloc[0,14] }}</p>
          <p>Shots: {{ html_table.iloc[0,16] }}</p>
          <p>Shots on Target: {{ html_table.iloc[0,17] }}</p>
          <p>Shots Inside Box: {{ html_table.iloc[0,18] }}</p>
          <p>Shots Outside Box: {{ html_table.iloc[0,19] }}</p>
          <p>Tackles: {{ html_table.iloc[0,20] }}</p>
          <p>Tackles Won: {{ html_table.iloc[0,21] }}</p>
          <p>Duels: {{ html_table.iloc[0,22] }}</p>
          <p>Duels Won:{{ html_table.iloc[0,23] }}</p>
        </div>
      </div>
      <div class="w3-third {{ team_colour }}">
        <div>
          <p>Clearances: {{ html_table.iloc[0,24] }}</p>
          <p>Interceptions: {{ html_table.iloc[0,25] }}</p>
          <p>Yellows: {{ html_table.iloc[0,26] }}</p>
          <p>Reds: {{ html_table.iloc[0,27] }}</p>
          <p>Fouls Won: {{ html_table.iloc[0,28] }}</p>
          <p>Fouls Conceded: {{ html_table.iloc[0,29] }}</p>
          <p>Shots Faced: {{ html_table.iloc[0,30] }}</p>
          <p>Saves: {{ html_table.iloc[0,31] }}</p>
          <p>Claimed Crosses: {{ html_table.iloc[0,32] }}</p>
          <p>Clean Sheets: {{ html_table.iloc[0,34] }}</p>
          <a href="{{ html_table.iloc[0,33] }}" target="_blank"> Wiki Link</a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

{% endblock %}
