{% extends 'base.html' %}
{% block content %}

<!-- page content -->

  <!-- header -->
  <form method="POST" action="/roster">
    <table>
      <tr>
        <td><h3><b>Player Information - {{ name }}</b></h3></td>
        <td class="textright"><a href="{{ url_for('roster') }}"><input class="text-white button" type="submit" id="team" name="team" value="{{ html_table.iloc[0,0] }}"/></a></td>
      </tr>
    </table>
  </form>

    <!-- profile section including photo -->
  <div class="parent {{ team_colour }}">

    <div class="box center">
        <img src="static/images/players/2020/{{ html_table.at[0,'image'] }}" alt="{{ html_table.iloc[0,5] }}" style="max-width:80%">
    </div>

    <div class="box center">
      <img src="static/images/2020/player_graphs/{{ radar }}" alt="player radar" style="max-width:90%">
    </div>

    <div class="box center">
      <img src="static/images/2020/player_graphs/{{ graph }}" alt="player performance" style="max-width:90%">
    </div>

      <div class="boxtable">
      <table>
        <tr>
          <td><a><img src="static/images/flags/{{ html_table.at[0,'flag'] }}" alt="{{ html_table.iloc[0,2] }}" style="max-height:30px"><a></td>
          <td>{{ nationality }}</td>
          <td>{{ html_table.at[0,'overall'] }}**</td>
        </tr>
      </table>
      </div>
      <div class="boxtable">
        <table>
          <tr>
            <td>MIN: {{ html_table.at[0,'minutes'] }}</td>
            <td>xG: {{ html_table.at[0,'xG'] }}**</td>
            <td>xA: {{ html_table.at[0,'xA'] }}**</td>
          </tr>
        </table>
      </div>
      <div class="boxtable">
        <table>
          <tr>
            <td>Y: {{ html_table.at[0,'yellow'] }}</td>
            <td>R: {{ html_table.at[0,'red'] }}</td>
            <td>#: {{ html_table.at[0,'number'] }}</td>
            <td>{{ html_table.at[0,'position'] }}</td>
          </tr>
        </table>
      </div>
    </div>

      <div class="parent {{ team_colour }}">
        <!-- graph section -->
          <div class="titlediv">
              <h3>{{ year }} Rolling Statistics</h3>
          </div>

        <!-- table section -->
          <div class="boxtable">
            <table>
                <tr>
                  <td>Goals: {{ html_table.at[0,'goals'] }}</td>
                  <td>Assists: {{ html_table.at[0,'assists'] }}</td>
                </tr>
                <tr>
                  <td>Passes: {{ html_table.at[0,'passes'] }}</td>
                  <td>Accuracy: {{ html_table.at[0,'pass-acc'] }}</td>
                </tr>
                <tr>
                  <td>Crosses: {{ html_table.at[0,'cross'] }}</td>
                  <td>Accuracy: {{ html_table.at[0,'cross-acc'] }}</td>
                </tr>
                <tr>
                  <td>Shots: {{ html_table.at[0,'shots'] }}</td>
                  <td>Shots on Target: {{ html_table.at[0,'s-target'] }}</td>
                </tr>
                <tr>
                  <td>Shots Inside Box: {{ html_table.at[0,'s-box'] }}</td>
                  <td>Shots Outside Box: {{ html_table.at[0,'s-out-box'] }}</td>
                </tr>
                <tr>
                  <td>Tackles: {{ html_table.at[0,'tackles'] }}</td>
                  <td>Tackles Won: {{ html_table.at[0,'t-won'] }}</td>
                </tr>
              </table>
          </div>

          <div class="boxtable">
            <table>
                <tr>
                  <td>Duels: {{ html_table.at[0,'duels'] }}</td>
                  <td>Duels Won: {{ html_table.at[0,'d-won'] }}</td>
                </tr>
                <tr>
                  <td>Fouls Won: {{ html_table.at[0,'f-won'] }}</td>
                  <td>Fouls Conceded: {{ html_table.at[0,'f-conceded'] }}</td>
                </tr>
                <tr>
                  <td>Touches: {{ html_table.at[0,'touches'] }}</td>
                  <td>Chances: {{ html_table.at[0,'chances'] }}</td>
                </tr>
                <tr>
                  <td>Clearances: {{ html_table.at[0,'clearances'] }}</td>
                  <td>Interceptions: {{ html_table.at[0,'interceptions'] }}</td>
                </tr>
                <tr>
                  <td>Shots Faced: {{ html_table.at[0,'shots faced'] }}</td>
                  <td>Claimed Crosses: {{ html_table.at[0,'claimed crosses'] }}</td>
                </tr>
                <tr>
                  <td>Saves: {{ html_table.at[0,'saves'] }}</td>
                  <td>Clean Sheets: {{ html_table.at[0,'cs'] }}</td>
                </tr>
              </table>
            </div>
        </div>
            <div class=" {{ team_colour }}">
              <div class="spacer"></div>
              <table>
                <tr>
                  <td><a>**NOTE: Overall, xG & xA are rolling results. Altered after each match played.</a></td>
                  <td class="textright"><a class="text-white button" href="{{ html_table.iloc[0,33] }}" target="_blank"><b> Wiki Link</b></a></td>
                </tr>
             </table>
             <div class="spacer"></div>
           </div>
         <!-- end of graph and table section -->


{% endblock %}
