{% extends 'base.html' %}
{% block content %}

<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->
<div class="mobile">
  <!-- table -->
  <div class="parent">
    <!-- table header -->
    <div>
      <table>
        <tr>
          <td><b>crest</b></td>
          <td style="width:38%;"><b>team</b></td>
          <td style="width:8%;"><b>W</b></td>
          <td style="width:8%;"><b>D</b></td>
          <td style="width:8%;"><b>L</b></td>
          <td><b>{{ columns[6] }}</b></td>
          <td><b>{{ columns[7] }}</b></td>
        </tr>
      </table>
    </div>
    <!-- end of table header -->
  </div>
  <div class="parent">
    {%for i in range(0,html_table.shape[0])%}
    <div>
      <form method="POST" action="/roster">
        <table>
          <tr>
            <td style="text-align:center;"><img src="static/images/flags/{{ html_table.iloc[i,5] }}" alt="{{ html_table.iloc[i,0] }} Crest" style="max-height:30px"></td>
            <td style="width:38%;"><a href="{{ roster }}"><input class="{{ theme }}-colour button" type="submit" id="team" name="team" value="{{ html_table.iloc[i,0] }}"/></a></td>
            <td class="{{ theme }}-green" style="width:8%;">{{ html_table.iloc[i][10] }}</td>
            <td class="{{ theme }}-orange" style="width:8%;"><a>{{ html_table.iloc[i][12] }}</a></td>
            <td class="{{ theme }}-red" style="width:8%;"><a>{{ html_table.iloc[i][11] }}</a></td>
            <td><a class="{{ theme }}-colour button" href="{{ html_table.iloc[i,6] }}" target="_blank">site</a></td>
            <td><a class="{{ theme }}-colour button" href="{{ html_table.iloc[i,7] }}" target="_blank">wiki</a></td>
          </tr>
        </table>
      </form>
    </div>
    {%endfor%}
  </div>
  <!-- end of table -->
</div>

<div class="desktop">
  <!-- table -->
  <div class="parent {{ theme }}-dark">
    <!-- table header -->
    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td style="width:10%;"><b>crest</b></td>
          <td style="width:25%;"><b> team</b></td>
          <td style="width:20%;"><b> city/prov</b></td>
          <td style="width:5%;"><b>wins</b></td>
          <td style="width:5%;"><b>draws</b></td>
          <td style="width:5%;"><b>loses</b></td>
          <td><b>{{ columns[6] }}</b></td>
          <td><b>{{ columns[7] }}</b></td>
        </tr>
      </table>
    </div>
    <!-- end of table header -->
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(0,html_table.shape[0])%}
    <div>
      <form method="POST" action="/roster">
        <table>
          <tr>
            <td style="width:10%;text-align:center;"><img src="static/images/flags/{{ html_table.iloc[i,5] }}" alt="{{ html_table.iloc[i,0] }} Crest" style="max-height:40px"></td>
            <td style="width:25%;"><a href="{{ url_for('roster') }}"><input class="{{ theme }}-light button" type="submit" id="team" name="team" value="{{ html_table.iloc[i,0] }}"/></a></td>
            <td style="width:20%;"><a>{{ html_table.iloc[i][1] }} {{ html_table.iloc[i][2] }}</td>
              <td class="{{ theme }}-green" style="width:5%;overflow:hidden;">{{ html_table.iloc[i][10] }}</td>
              <td class="{{ theme }}-orange" style="width:5%;"><a>{{ html_table.iloc[i][12] }}</a></td>
              <td class="{{ theme }}-red" style="width:5%;"><a>{{ html_table.iloc[i][11] }}</a></td>
              <td><a class="{{ theme }}-light button" href="{{ html_table.iloc[i,6] }}" target="_blank">club site</a></td>
              <td><a class="{{ theme }}-light button" href="{{ html_table.iloc[i,7] }}" target="_blank">wikipedia</a></td>
            </tr>
          </table>
        </form>
      </div>
      {%endfor%}
    </div>
    <!-- end of table -->
  </div>

  {% endblock %}
