{% extends 'base.html' %}
{% block content %}
<!-- page content -->
  <!-- header -->
<h3><b>Dashboard - {{ champs }}</b></h3>

  <!-- body -->
  <!-- weekly team performance -->
  <div class="mobile">
    <div class="parent">
      <div class="boxs {{ first_colour }}">
        <table>
          <tr>
            <td style="text-align:center;width:32%;padding: 2px 2px;" rowspan="2"><img src="static/images/flags/{{ first_crest }}" alt="{{ top_team }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> Champions</h2></td>
          </tr>
          <tr>
            <td><h3 class="xxfont"> {{ top_team }}</h3></td>
          </tr>
        </table>
      </div>
      <div class="boxs {{ theme }}-green">
        <table>
          <tr>
            <td style="text-align:center;width:32%;padding: 2px 2px;" rowspan="2"><img src="static/images/flags/{{ top_crest }}" alt="{{ top_mover }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> Top Team</h2></td>
          </tr>
          <tr>
            <td><h3 class="xxfont"> {{ top_mover }}</h3></td>
          </tr>
        </table>
      </div>
      <div class="boxs {{ theme }}-red">
        <table>
          <tr>
            <td style="text-align:center;width:32%; padding: 2px 2px;" rowspan="2"><img src="static/images/flags/{{ bot_crest }}" alt="{{ top_dropper }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> Bottom Team</h2></td>
          </tr>
          <tr>
            <td><h3 class="xxfont"> {{ top_dropper }}</h3></td>
          </tr>
        </table>
      </div>
      <div class="boxs {{ theme }}-blue">
        <table>
          <tr>
            <td style="text-align:center;width:32%; padding: 2px 2px;" rowspan="2"><img src="static/images/flags/CPL-Crest-White.png" alt="{{ top_dropper }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> {{ goals }} G / {{ assists }} A</h2></td>
          </tr>
          <tr>
            <td><h3 class="xxfont"> {{ yellows }} Y / {{ reds }} R </h3></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="desktop">
    <div class="parent">
      <div class="box {{ first_colour }}">
        <table>
          <tr>
            <td style="width:25%; text-align:center;" rowspan="2"><img src="static/images/flags/{{ first_crest }}" alt="{{ top_team }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> Champions</h2></td>
          </tr>
          <tr>
            <td><h3 class="xxfont"> {{ top_team }}</h3></td>
          </tr>
        </table>
      </div>
      <div class="box {{ theme }}-green">
        <table>
          <tr>
            <td style="width:25%; text-align:center;" rowspan="2"><img src="static/images/flags/{{ top_crest }}" alt="{{ top_mover }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> Top Team</h2></td>
          </tr>
          <tr>
            <td><h3 class="xxfont"> {{ top_mover }}</h3></td>
          </tr>
        </table>
      </div>
      <div class="box {{ theme }}-red">
        <table>
          <tr>
            <td style="width:25%; text-align:center;" rowspan="2"><img src="static/images/flags/{{ bot_crest }}" alt="{{ top_dropper }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> Bottom Team</h2></td>
          </tr>
          <tr>
            <td><h3 class="xxfont"> {{ top_dropper }}</h3></td>
          </tr>
        </table>
      </div>
      <div class="box {{ theme }}-blue">
        <table>
          <tr>
            <td style="width:25%; text-align:center;" rowspan="2"><img src="static/images/flags/CPL-Crest-White.png" alt="{{ top_dropper }} Crest" style="max-height:60px"></td>
            <td style="vertical-align: bottom;"><h2 class="xxfont"> {{ goals }} G / {{ assists }} A</h2></td>
          </tr>
          <tr>
            <td><h3 class="xxfont"> {{ yellows }} Y / {{ reds }} R </h3></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

    <!-- end of weekly team performance -->
    <div class="mobile">
      <div class="parent">

          <div class="box">
            <h3>Biggest Win</h3>
            <div class="child">
              {% if big_win.at[0,'hs'] > big_win.at[0,'as'] %}
              <div class="boxs {{ theme }}-green">{{ big_win.iloc[0]['home']}} {{big_win.iloc[0]['hs'].astype('int') }}</div>
              <div class="boxs {{ theme }}-red">{{ big_win.iloc[0]['away']}} {{big_win.iloc[0]['as'].astype('int') }}</div>
              {% elif big_win.at[0,'as'] > big_win.at[0,'hs'] %}
              <div class="boxs {{ theme }}-red">{{ big_win.iloc[0]['home']}} {{big_win.iloc[0]['hs'].astype('int') }}</div>
              <div class="boxs {{ theme }}-green">{{ big_win.iloc[0]['away']}} {{big_win.iloc[0]['as'].astype('int') }}</div>
              {% else %}
              <div class="boxs {{ theme }}-orange">{{ big_win.iloc[0]['home']}} {{big_win.iloc[0]['hs'].astype('int') }}</div>
              <div class="boxs {{ theme }}-orange">{{ big_win.iloc[0]['away']}} {{big_win.iloc[0]['as'].astype('int') }}</div>
              {% endif %}
            </div>

            <h3>Other Results</h3>
            <div class="child">
              {% if top_result.at[0,'hs'] > top_result.at[0,'as'] %}
              <div class="boxs {{ theme }}-green">{{ top_result.iloc[0]['home']}} {{top_result.iloc[0]['hs'].astype('int') }}</div>
              <div class="boxs {{ theme }}-red">{{ top_result.iloc[0]['away']}} {{top_result.iloc[0]['as'].astype('int') }}</div>
              {% elif top_result.at[0,'as'] > top_result.at[0,'hs'] %}
              <div class="boxs {{ theme }}-red">{{ top_result.iloc[0]['home']}} {{top_result.iloc[0]['hs'].astype('int') }}</div>
              <div class="boxs {{ theme }}-green">{{ top_result.iloc[0]['away']}} {{top_result.iloc[0]['as'].astype('int') }}</div>
              {% else %}
              <div class="boxs {{ theme }}-orange">{{ top_result.iloc[0]['home']}} {{top_result.iloc[0]['hs'].astype('int') }}</div>
              <div class="boxs {{ theme }}-orange">{{ top_result.iloc[0]['away']}} {{top_result.iloc[0]['as'].astype('int') }}</div>
              {% endif %}
            </div>

            <div class="child">
              {% if other_result.at[0,'hs'] > other_result.at[0,'as'] %}
              <div class="boxs {{ theme }}-green">{{ other_result.iloc[0]['home']}} {{other_result.iloc[0]['hs'].astype('int') }}</div>
              <div class="boxs {{ theme }}-red">{{ other_result.iloc[0]['away']}} {{other_result.iloc[0]['as'].astype('int') }}</div>
              {% elif other_result.at[0,'as'] > other_result.at[0,'hs'] %}
              <div class="boxs {{ theme }}-red">{{ other_result.iloc[0]['home']}} {{other_result.iloc[0]['hs'].astype('int') }}</div>
              <div class="boxs {{ theme }}-green">{{ other_result.iloc[0]['away']}} {{other_result.iloc[0]['as'].astype('int') }}</div>
              {% else %}
              <div class="boxs {{ theme }}-orange">{{ other_result.iloc[0]['home']}} {{other_result.iloc[0]['hs'].astype('int') }}</div>
              <div class="boxs {{ theme }}-orange">{{ other_result.iloc[0]['away']}} {{other_result.iloc[0]['as'].astype('int') }}</div>
              {% endif %}
            </div>

            <h3>Bottom Team Result</h3>
            <div class="child">
              {% if low_result.at[0,'hs'] > low_result.at[0,'as'] %}
              <div class="boxs {{ theme }}-green">{{ low_result.iloc[0]['home']}} {{low_result.iloc[0]['hs'].astype('int') }}</div>
              <div class="boxs {{ theme }}-red">{{ low_result.iloc[0]['away']}} {{low_result.iloc[0]['as'].astype('int') }}</div>
              {% elif low_result.at[0,'as'] > low_result.at[0,'hs'] %}
              <div class="boxs {{ theme }}-red">{{ low_result.iloc[0]['home']}} {{low_result.iloc[0]['hs'].astype('int') }}</div>
              <div class="boxs {{ theme }}-green">{{ low_result.iloc[0]['away']}} {{low_result.iloc[0]['as'].astype('int') }}</div>
              {% else %}
              <div class="boxs {{ theme }}-orange">{{ low_result.iloc[0]['home']}} {{low_result.iloc[0]['hs'].astype('int') }}</div>
              <div class="boxs {{ theme }}-orange">{{ low_result.iloc[0]['away']}} {{low_result.iloc[0]['as'].astype('int') }}</div>
              {% endif %}
            </div>
            <div class="spacer"></div>
          </div>

          <div class="box">
            <span><h3>Players of the Week</h3></span>
            <div>
              <table>
                <tr>
                  <td>Top Scorer</td>
                  <td>{{top_scorer['name']}}</td>
                  <td style="text-align:left;width:100px;">{{top_scorer['overall']}}</td>
                </tr>
                <tr>
                  <td>Most Assists</td>
                  <td>{{top_assist['name']}}</td>
                  <td style="text-align:left;width:100px;">{{top_assist['overall']}}</td>
                </tr>
                <tr>
                  <td>Top Forward</td>
                  <td>{{top_forward['name']}}</td>
                  <td style="text-align:left;width:100px;">{{top_forward['overall']}}</td>
                </tr>
                <tr>
                  <td>Top Midfielder</td>
                  <td>{{top_midfielder['name']}}</td>
                  <td style="text-align:left;width:100px;">{{top_midfielder['overall']}}</td>
                </tr>
                <tr>
                  <td>Top Defender</td>
                  <td>{{top_defender['name']}}</td>
                  <td style="text-align:left;width:100px;">{{top_defender['overall']}}</td>
                </tr>
                <tr>
                  <td>Top Keeper</td>
                  <td>{{top_keeper['name']}}</td>
                  <td style="text-align:left;;width:100px;">{{top_keeper['overall']}}</td>
                </tr>
                <tr>
                  <td>Top Offender</td>
                  <td>{{top_offender['name']}}</td>
                  <td style="text-align:left;width:100px;">{{top_offender['overall']}}</td>
                </tr>
                <tr>
                  <td>Suspended</td>
                  <td>{{ suspended }}</td>
                  <td></td>
                </tr>
              </table>
              </div>
          </div>
        </div>
    </div>

<div class="desktop">
  <div class="parent">

      <div class="box {{ theme }}-light">
        <h3>Biggest Win</h3>
        <div class="child">
          {% if big_win.at[0,'hs'] > big_win.at[0,'as'] %}
          <div class="boxs {{ theme }}-green">{{ big_win.iloc[0]['home']}} {{big_win.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-red">{{ big_win.iloc[0]['away']}} {{big_win.iloc[0]['as'].astype('int') }}</div>
          {% elif big_win.at[0,'as'] > big_win.at[0,'hs'] %}
          <div class="boxs {{ theme }}-red">{{ big_win.iloc[0]['home']}} {{big_win.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-green">{{ big_win.iloc[0]['away']}} {{big_win.iloc[0]['as'].astype('int') }}</div>
          {% else %}
          <div class="boxs {{ theme }}-orange">{{ big_win.iloc[0]['home']}} {{big_win.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-orange">{{ big_win.iloc[0]['away']}} {{big_win.iloc[0]['as'].astype('int') }}</div>
          {% endif %}
        </div>

        <h3>Other Results</h3>
        <div class="child">
          {% if top_result.at[0,'hs'] > top_result.at[0,'as'] %}
          <div class="boxs {{ theme }}-green">{{ top_result.iloc[0]['home']}} {{top_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-red">{{ top_result.iloc[0]['away']}} {{top_result.iloc[0]['as'].astype('int') }}</div>
          {% elif top_result.at[0,'as'] > top_result.at[0,'hs'] %}
          <div class="boxs {{ theme }}-red">{{ top_result.iloc[0]['home']}} {{top_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-green">{{ top_result.iloc[0]['away']}} {{top_result.iloc[0]['as'].astype('int') }}</div>
          {% else %}
          <div class="boxs {{ theme }}-orange">{{ top_result.iloc[0]['home']}} {{top_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-orange">{{ top_result.iloc[0]['away']}} {{top_result.iloc[0]['as'].astype('int') }}</div>
          {% endif %}
        </div>

        <div class="child">
          {% if other_result.at[0,'hs'] > other_result.at[0,'as'] %}
          <div class="boxs {{ theme }}-green">{{ other_result.iloc[0]['home']}} {{other_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-red">{{ other_result.iloc[0]['away']}} {{other_result.iloc[0]['as'].astype('int') }}</div>
          {% elif other_result.at[0,'as'] > other_result.at[0,'hs'] %}
          <div class="boxs {{ theme }}-red">{{ other_result.iloc[0]['home']}} {{other_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-green">{{ other_result.iloc[0]['away']}} {{other_result.iloc[0]['as'].astype('int') }}</div>
          {% else %}
          <div class="boxs {{ theme }}-orange">{{ other_result.iloc[0]['home']}} {{other_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-orange">{{ other_result.iloc[0]['away']}} {{other_result.iloc[0]['as'].astype('int') }}</div>
          {% endif %}
        </div>

        <h3>Bottom Team Result</h3>
        <div class="child">
          {% if low_result.at[0,'hs'] > low_result.at[0,'as'] %}
          <div class="boxs {{ theme }}-green">{{ low_result.iloc[0]['home']}} {{low_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-red">{{ low_result.iloc[0]['away']}} {{low_result.iloc[0]['as'].astype('int') }}</div>
          {% elif low_result.at[0,'as'] > low_result.at[0,'hs'] %}
          <div class="boxs {{ theme }}-red">{{ low_result.iloc[0]['home']}} {{low_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-green">{{ low_result.iloc[0]['away']}} {{low_result.iloc[0]['as'].astype('int') }}</div>
          {% else %}
          <div class="boxs {{ theme }}-orange">{{ low_result.iloc[0]['home']}} {{low_result.iloc[0]['hs'].astype('int') }}</div>
          <div class="boxs {{ theme }}-orange">{{ low_result.iloc[0]['away']}} {{low_result.iloc[0]['as'].astype('int') }}</div>
          {% endif %}
        </div>
        <div class="spacer"></div>
      </div>

      <div class="box {{ theme }}-light">
        <span><h3>Players of the Week</h3></span>
        <div>
          <table>
            <tr>
              <td>Top Scorer</td>
              <td>{{top_scorer['name']}}</td>
              <td style="text-align:left;width:100px;">{{top_scorer['overall']}}</td>
            </tr>
            <tr>
              <td>Most Assists</td>
              <td>{{top_assist['name']}}</td>
              <td style="text-align:left;width:100px;">{{top_assist['overall']}}</td>
            </tr>
            <tr>
              <td>Top Forward</td>
              <td>{{top_forward['name']}}</td>
              <td style="text-align:left;width:100px;">{{top_forward['overall']}}</td>
            </tr>
            <tr>
              <td>Top Midfielder</td>
              <td>{{top_midfielder['name']}}</td>
              <td style="text-align:left;width:100px;">{{top_midfielder['overall']}}</td>
            </tr>
            <tr>
              <td>Top Defender</td>
              <td>{{top_defender['name']}}</td>
              <td style="text-align:left;width:100px;">{{top_defender['overall']}}</td>
            </tr>
            <tr>
              <td>Top Keeper</td>
              <td>{{top_keeper['name']}}</td>
              <td style="text-align:left;;width:100px;">{{top_keeper['overall']}}</td>
            </tr>
            <tr>
              <td>Top Offender</td>
              <td>{{top_offender['name']}}</td>
              <td style="text-align:left;width:100px;">{{top_offender['overall']}}</td>
            </tr>
            <tr>
              <td>Suspended</td>
              <td>{{ suspended }}</td>
              <td></td>
            </tr>
          </table>
          </div>
      </div>
    </div>
</div>

    <!-- end of weekly team performance-->





{% endblock %}
