{% extends 'base.html' %}
{% block content %}

<!-- header -->
{% include "position-form.html" %}
{% block body %}{% endblock %}

<!-- body -->
<div class="mobile">
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td style="width:10%;"><b>team</b></td>
            <td style="width:38%;"><b>name</b></td>
            <td><b>G</b></td>
            <td><b>A</b></td>
            <td><b>Ch</b></td>
            <td><b>SOG</b></td>
            <td style="width:15%;text-align:center;"><b>O</b></td>
          </tr>
          {%for i in range(0,10)%}
          <tr class="{{ theme }}-light">
            <td style="width:10%;">{{ html_table.at[i, 'team'] }}</td>
            <td style="font-size: 0.8em;width:38%;"><b>{{ ' '.join((html_table.at[i,'name']).split()[1:]) }}</b></td>
            <td style="font-size: 0.8em;">{{ html_table.at[i,'Goal'] }}</td>
            <td style="font-size: 0.8em;">{{ html_table.at[i,'Ast'] }}</td>
            <td style="font-size: 0.8em;">{{ html_table.at[i,'Chance'] }}</td>
            <td style="font-size: 0.8em;">{{ html_table.at[i,'SOG'] }}</td>
            <td class="{{ theme }}-t-blue" style="width:15%;"><b>{{ html_table.at[i,'overall'] }}</b></td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
    <!-- end of top position table-->
    <!-- position table -->
    <span><h3 class="{{ theme }}-dark"><b>rest of the table</b></h3></span>
    <div class="{{ theme }}-dark">
        <div>
          <table>
            <tr>
              <td style="width:10%;"><b>team</b></td>
              <td style="width:38%;"><b>name</b></td>
              <td><b>G</b></td>
              <td><b>A</b></td>
              <td><b>Ch</b></td>
              <td><b>SOG</b></td>
              <td style="width:15%;text-align:center;"><b>O</b></td>
            </tr>
            {%for i in range(10,html_table.shape[0])%}
            <tr class="{{ theme }}-light">
              <td style="width:10%;">{{ html_table.at[i, 'team'] }}</td>
              <td style="font-size: 0.8em;width:38%;"><b>{{ ' '.join((html_table.at[i,'name']).split()[1:]) }}</b></td>
              <td style="font-size: 0.8em;">{{ html_table.at[i,'Goal'] }}</td>
              <td style="font-size: 0.8em;">{{ html_table.at[i,'Ast'] }}</td>
              <td style="font-size: 0.8em;">{{ html_table.at[i,'Chance'] }}</td>
              <td style="font-size: 0.8em;">{{ html_table.at[i,'SOG'] }}</td>
              <td class="{{ theme }}-t-blue" style="width:15%;"><b>{{ html_table.at[i,'overall'] }}</b></td>
            </tr>
            {%endfor%}
          </table>
        </div>
    </div>
    <!-- end of position table-->
</div>
<!-- top position table -->

<div class="desktop">
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td style="width:10%;"><b>team / #</b></td>
            <td style="width:30%;"><b>name</b></td>
            <td><b>MIN</b></td>
            <td><b>G</b></td>
            <td><b>A</b></td>
            <td><b>Ch</b></td>
            <td><b>Big</b></td>
            <td><b>Ch OP</b></td>
            <td><b>SOG</b></td>
            <td><b>S-I-B</b></td>
            <td><b>S-O-B</b></td>
            <td><b>Pass%</b></td>
            <td><b>O</b></td>
          </tr>
          {%for i in range(0,10)%}
          <tr class="{{ theme }}-light">
            <td class="textleft" style="width:10%;">{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
            <td style="width:30%;"><b>{{ html_table.at[i,'name'] }}</b></td>
            <td>{{ html_table.at[i,'Min'] }}</td>
            <td>{{ html_table.at[i,'Goal'] }}</td>
            <td>{{ html_table.at[i,'Ast'] }}</td>
            <td>{{ html_table.at[i,'Chance'] }}</td>
            <td>{{ html_table.at[i,'BgChncCrtd'] }}</td>
            <td>{{ html_table.at[i,'ChncOpnPl'] }}</td>
            <td>{{ html_table.at[i,'SOG'] }}</td>
            <td>{{ html_table.at[i,'SOTInBox'] }}</td>
            <td>{{ html_table.at[i,'SOTOBox'] }}</td>
            <td>{{ html_table.at[i,'Pass%'] }}</td>
            <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i,'overall'] }}</b></td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
    <!-- end of top position table-->
    <!-- position table -->
    <span><h3 class="{{ theme }}-dark"><b>rest of the table</b></h3></span>
    <div class="{{ theme }}-dark">
        <div>
          <table>
            <tr>
              <td style="width:10%;"><b>team / #</b></td>
              <td style="width:30%;"><b>name</b></td>
              <td><b>MIN</b></td>
              <td><b>G</b></td>
              <td><b>A</b></td>
              <td><b>Ch</b></td>
              <td><b>Big</b></td>
              <td><b>Ch OP</b></td>
              <td><b>SOG</b></td>
              <td><b>S-I-B</b></td>
              <td><b>S-O-B</b></td>
              <td><b>Pass%</b></td>
              <td><b>O</b></td>
            </tr>
            {%for i in range(10,html_table.shape[0])%}
            <tr class="{{ theme }}-light">
              <td class="textleft" style="width:10%;">{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
              <td style="width:30%;"><b>{{ html_table.at[i,'name'] }}</b></td>
              <td>{{ html_table.at[i,'Min'] }}</td>
              <td>{{ html_table.at[i,'Goal'] }}</td>
              <td>{{ html_table.at[i,'Ast'] }}</td>
              <td>{{ html_table.at[i,'Chance'] }}</td>
              <td>{{ html_table.at[i,'BgChncCrtd'] }}</td>
              <td>{{ html_table.at[i,'ChncOpnPl'] }}</td>
              <td>{{ html_table.at[i,'SOG'] }}</td>
              <td>{{ html_table.at[i,'SOTInBox'] }}</td>
              <td>{{ html_table.at[i,'SOTOBox'] }}</td>
              <td>{{ html_table.at[i,'Pass%'] }}</td>
              <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i,'overall'] }}</b></td>
            </tr>
            {%endfor%}
          </table>
        </div>
    </div>
    <!-- end of position table-->
</div>

{% endblock %}
