{% extends 'base.html' %}
{% block content %}

<!-- header -->
<form class="{{ theme }}-dark" method="POST" action="/roster">
  <div>
    <h3><b>Player Information - {{ name }}</b></h3>
  </div>
  <div><a href="{{ url_for('roster') }}"><input class="text-white button" type="submit" id="team" name="team" value="{{ player_info.iloc[0]['team'] }}"/></a>
  </div>
</form>

<!-- profile section including photo -->
<div class="{{ team_colour }}">
  <div class="mobile">
    <div class="{{ team_colour }}">
      {% if year != '2019'%}
      <div class="box center">
        <img src="static/images/players/{{ year }}/{{ player_info.iloc[0]['image'] }}" alt="{{ player_info.iloc[0]['name'] }}" style="max-width:60%;">
      </div>
      <div class="textcenter xxfont" style="width:100%;">
        <a>{{ position }}</a>
      </div>
      <div class="spacer">

      </div>
      <div>
        <img src="static/images/{{ year }}/player_graphs/{{ radar }}" alt="player radar" style="max-width:50%;float:left">
      </div>
      <div>
        <img src="static/images/{{ year }}/player_graphs/{{ graph }}" alt="player performance" style="max-width:50%">
      </div>
      {% else %}
      <div class="center">
        <img src="static/images/players/{{ year }}/{{ player_info.iloc[0]['image'] }}" alt="{{ player_info.iloc[0]['name'] }}" style="max-width:80%">
      </div>
      {% endif %}
    </div>
  </div>

  <div class="desktop">
    <div class="parent {{ team_colour }}">
      {% if year != '2019'%}
      <div class="box center">
        <img src="static/images/players/{{ year }}/{{ player_info.iloc[0]['image'] }}" alt="{{ player_info.iloc[0]['name'] }}" style="max-width:60%">
      </div>
      <div class="box center">
        <img src="static/images/{{ year }}/player_graphs/{{ radar }}" alt="player radar" style="max-width:70%">
      </div>
      <div class="box center">
        <img src="static/images/{{ year }}/player_graphs/{{ graph }}" alt="player performance" style="max-width:70%">
      </div>
      {% else %}
      <div style="padding: 10px 25px;">
        <img src="static/images/players/{{ year }}/{{player_info.iloc[0]['image'] }}" alt="{{ player_info.iloc[0]['name'] }}" style="max-width:40%;">
      </div>
      {% endif %}
    </div>
  </div>

  <div class="mobile">
    <table>
      <tr>
        <td><a><img src="static/images/flags/{{ player_info.iloc[0]['flag'] }}" alt="{{ player_info.iloc[0]['flag'][:-4] }}" style="max-height:30px"><a></td>
        <td>{{ nationality }}</td>
        <td>{{ stats90.iloc[0]['overall'] }}**</td>
      </tr>
      <tr>
        <td>MIN: {{ stats90.iloc[0]['minutes'] }}</td>
        <td>xG: {{ stats90.iloc[0]['goals'] }}**</td>
        <td>xA: {{ stats90.iloc[0]['assists'] }}**</td>
      </tr>
      <tr>
        <td>Yellows: {{ discipline.iloc[0]['yellow'] }}</td>
        <td>Reds: {{ discipline.iloc[0]['red'] }}</td>
        <td>Number: {{ stats.iloc[0]['number'] }}</td>
      </tr>
    </table>
  </div>

  <div class="desktop">
    <table>
      <tr>
        <td><a><img src="static/images/flags/{{ player_info.iloc[0]['flag'] }}" alt="{{ player_info.iloc[0]['flag'][:-4] }}" style="max-height:30px"><a></td>
        <td>{{ nationality }}</td>
        <td>{{ stats.iloc[0]['overall'] }}**</td>
        <td>MIN: {{ stats.iloc[0]['minutes']|int }}</td>
        <td>xG: {{ stats90.iloc[0]['goals'] }}**</td>
        <td>xA: {{ stats90.iloc[0]['assists'] }}**</td>
        <td>Y: {{ discipline.iloc[0]['yellow'] }}</td>
        <td>R: {{ discipline.iloc[0]['red'] }}</td>
        <td>#: {{ stats.iloc[0]['number'] }}</td>
        <td>{{ position }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="mobile">
  <!-- table section -->
    <div class="parent {{ team_colour }}">
      <div class="{{ theme }}-dark" style="width:100%;">
        <h3>{{ year }} Rolling Statistics</h3>
      </div>
      <div class="{{ theme }}-dark" style="width:100%;">
        <h4> Season</h4>
      </div>
      <div class="parent {{ theme }}-dark">
        <div class="{{ theme }}-dark">
          <table>
            <tr>
              {% for column in stats.columns[4:9] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ theme }}-light">
          <table>
            <tr>
              {% for column in stats.columns[4:9] %}
                {% if column == 'overall'%}
                <td>{{ stats.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats.iloc[0][column]|int }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      <div class="parent {{ theme }}-dark">
        <div class="{{ theme }}-dark">
          <table>
            <tr>
              {% for column in stats.columns[9:] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ theme }}-light">
          <table>
            <tr>
              {% for column in stats.columns[9:] %}
                {% if column == 'overall'%}
                <td>{{ stats.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats.iloc[0][column]|int }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      <div class="{{ theme }}-dark" style="width:100%;">
        <h4> Per 90</h4>
      </div>
      <div class="parent {{ theme }}-dark">
        <div class="{{ theme }}-dark">
          <table>
            <tr>
              {% for column in stats90.columns[4:9] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ theme }}-light">
          <table>
            <tr>
              {% for column in stats90.columns[4:9] %}
                {% if column == 'minutes'%}
                <td>per{{ stats90.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats90.iloc[0][column] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      <div class="parent {{ theme }}-dark">
        <div class="{{ theme }}-dark">
          <table>
            <tr>
              {% for column in stats90.columns[9:-2] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ theme }}-light">
          <table>
            <tr>
              {% for column in stats90.columns[9:-2] %}
                {% if column == 'minutes'%}
                <td>per{{ stats90.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats90.iloc[0][column] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    </div>
  <!-- END table section -->
</div>

<div class="desktop">
  <!-- table section -->
    <div class="parent {{ team_colour }}">
      <div class="{{ theme }}-dark" style="width:100%;">
        <h3>{{ year }} Rolling Statistics</h3>
      </div>
      <div class="parent {{ theme }}-dark">
        <div class="{{ theme }}-dark">
          <table>
            <tr>
              {% for column in stats.columns[4:] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ theme }}-light">
          <table>
            <tr>
              {% for column in stats.columns[4:] %}
                {% if column == 'overall'%}
                <td>{{ stats.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats.iloc[0][column]|int }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>

      <div class="parent {{ theme }}-dark">
        <div class="{{ theme }}-dark">
          <table>
            <tr>
              {% for column in stats90.columns[4:-2] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ theme }}-light">
          <table>
            <tr>
              {% for column in stats90.columns[4:-2] %}
                {% if column == 'minutes'%}
                <td>per{{ stats90.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats90.iloc[0][column] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    </div>
  <!-- END table section -->
</div>

  <div class=" {{ team_colour }}" style="width:100%;">
    <div class="spacer"></div>
    <div style="text-align:right; padding: 0px 15px;">
      <a class="text-white button" href="{{ player_info.iloc[0]['link'] }}" target="_blank"><b> Wiki Link</b></a>
    </div>
    <div class="mobile">
      <a style="font-size:0.7em;">**NOTE: Overall, xG & xA are rolling results. Altered after each match played.</a>
    </div>
    <div class="desktop">
      <a style=" padding: 0px 15px;">**NOTE: Overall, xG & xA are rolling results. Altered after each match played.</a>
    </div>
    <div class="spacer"></div>
  </div>
  <!-- end of graph and table section -->


  {% endblock %}
