{% extends 'base.html' %}
{% block content %}

<!-- page content -->
{% include "position-form.html" %}
{% block body %}{% endblock %}

  <!-- body -->
<div class="mobile">
  <!-- position table -->
  <div class="parent {{ theme }}-dark">
    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td><b>team</b></td>
          <td style="width:35%;"><b>name</b></td>
          <td><b>MIN</b></td>
          <td><b>CS</b></td>
          <td><b>Sv</b></td>
          <td><b>X-P</b></td>
          <td><b>G-Cncd</b></td>
          <td style="text-align: center;"><b>O</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(html_table.shape[0])%}
    <div class="{{ theme }}-light">
      <table>
        <tr>
          <td class="textleft">{{ html_table.at[i, 'team'] }}</td>
          <td style="font-size: 0.8em;width:35%;"><b>{{  ' '.join((html_table.at[i,'name']).split()[1:])  }}</b></td>
          <td>{{ html_table.at[i, 'Min'] }}</td>
          <td>{{ html_table.at[i, 'CleanSheet'] }}</td>
          <td>{{ html_table.at[i, 'Saves'] }}</td>
          <td>{{ html_table.at[i, 'CrossPunch'] }}</td>
          <td>{{ html_table.at[i, 'GoalCncd'] }}</td>
          <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i, 'overall'] }}</b></td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
  <!-- end of position table-->
</div>
<!-- body -->
<div class="desktop">
  <!-- position table -->
  <div class="parent {{ theme }}-dark">
    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td><b>team / #</b></td>
          <td style="font-size: 0.8em;width:35%;"><b>name</b></td>
          <td><b>MIN</b></td>
          <td><b>CS</b></td>
          <td><b>Sv</b></td>
          <td><b>X-P</b></td>
          <td><b>G-Cncd</b></td>
          <td style="text-align: center;"><b>O</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(html_table.shape[0])%}
    <div class="{{ theme }}-light">
      <table>
        <tr>
          <td class="textleft">{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
          <td style="width:35%;"><b>{{ html_table.at[i,'name'] }}</b></td>
          <td>{{ html_table.at[i, 'Min'] }}</td>
          <td>{{ html_table.at[i, 'CleanSheet'] }}</td>
          <td>{{ html_table.at[i, 'Saves'] }}</td>
          <td>{{ html_table.at[i, 'CrossPunch'] }}</td>
          <td>{{ html_table.at[i, 'GoalCncd'] }}</td>
          <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i, 'overall'] }}</b></td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
  <!-- end of position table-->
</div>

{% endblock %}
