{% extends 'base.html' %}
{% block content %}

<!-- page content -->
{% include "position-form.html" %}
{% block body %}{% endblock %}

<!-- body -->
<div class="mobile">
  <!-- top position table -->
  <div class="parent {{ theme }}-dark">
    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <th style="text-align:left;">team</th>
          <th style="width:38%;">name</th>
          {% for col in html_table.columns[2:6] %}
          <th style="font-size: 0.8em;">{{ col }}</th>
          {% endfor%}
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    <div class="{{ theme }}-light">
      <table>
        {% for i in range(0,9) %}
        <tr>
            <td style="font-size: 0.8em;">{{ html_table.iloc[i]['team'] }}</td>
            <!--td style="text-align:right;width:20%;"><b>{{ html_table.iloc[i]['name'] }}</b></td-->
            <td style="text-align:left;font-size: 0.8em;width:38%;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['display'] }}" style="height:10%;"></input></td>
            {% for col in html_table.columns[2:6] %}
            <td style="font-size: 0.8em;">{{ html_table.iloc[i][col] }}</td>
            {% endfor%}
        </tr>
        {% endfor%}
      </table>
    </div>
    </form>
  </div>
  <!-- end of top position table-->
  <!-- position table -->
  <span><h3 class="{{ theme }}-dark"><b>rest of the table</b></h3></span>
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <th style="text-align:left;">team</th>
          <th style="width:38%;">name</th>
          {% for col in html_table.columns[2:6] %}
          <th style="font-size: 0.8em;">{{ col }}</th>
          {% endfor%}
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    <div class="{{ theme }}-light">
      <table>
        {% for i in range(9,html_table.shape[0]) %}
        <tr>
            <td style="font-size: 0.8em;">{{ html_table.iloc[i]['team'] }}</td>
            <!--td style="text-align:right;width:20%;"><b>{{ html_table.iloc[i]['name'] }}</b></td-->
            <td style="text-align:left;font-size: 0.8em;width:38%;"><input href="{{ url_for('player') }}" class="{{ team_colour }} button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['display'] }}" style="height:10%;"></input></td>
            {% for col in html_table.columns[2:6] %}
            <td style="font-size: 0.8em;">{{ html_table.iloc[i][col] }}</td>
            {% endfor%}
        </tr>
        {% endfor%}
      </table>
    </div>
    </form>
  </div>
  <!-- end of position table-->
</div>

<div class="desktop">
  <!-- top position table -->
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <th style="text-align:left;width:3vw;">team</th>
          <th style="width:10vw;">name</th>
          {% for col in html_table.columns[2:-2] %}
          <th style="font-size: 0.8em;width:2vw;">{{ col }}</th>
          {% endfor%}
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    <div class="{{ theme }}-light">
      <table>
        {% for i in range(0,9) %}
        <tr>
            <td style="text-align:left;width:3vw;">{{ html_table.iloc[i]['team'] }}</td>
            <!--td style="text-align:right;width:20%;"><b>{{ html_table.iloc[i]['name'] }}</b></td-->
            <td style="text-align:left;;width:10vw;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['display'] }}" style="height:10%;"></input></td>
            {% for col in html_table.columns[2:-2] %}
            <td style="font-size: 0.8em;width:2vw;">{{ html_table.iloc[i][col] }}</td>
            {% endfor%}
        </tr>
        {% endfor%}
      </table>
    </div>
    </form>
  </div>
  <!-- end of top position table-->
  <!-- position table -->
  <span><h3 class="{{ theme }}-dark"><b>rest of the table</b></h3></span>
  <div class="parent {{ theme }}-dark">
    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <th style="text-align:left;width:3vw;">team</th>
          <th style="width:10vw;">name</th>
          {% for col in html_table.columns[2:-2] %}
          <th style="font-size: 0.8em;width:2vw;">{{ col }}</th>
          {% endfor%}
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    <div class="{{ theme }}-light">
      <table>
        {% for i in range(9,html_table.shape[0]) %}
        <tr>
            <td style="text-align:left;width:3vw;">{{ html_table.iloc[i]['team'] }}</td>
            <td style="text-align:left;;width:10vw;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['display'] }}" style="height:10%;"></input></td>
            {% for col in html_table.columns[2:-2] %}
            <td style="font-size: 0.8em;width:2vw;">{{ html_table.iloc[i][col] }}</td>
            {% endfor%}
        </tr>
        {% endfor%}
      </table>
    </div>
    </form>
  </div>
  <!-- end of position table-->
</div>

{% endblock %}
