{% extends 'base.html' %}
{% block content %}

<!-- page content -->

<!-- header -->
<div class="{{ theme }}-dark">
  <h3><b>Rated {{ position }} {{ year }}</b></h3>
  <form class="center" method="post" action="{{ page }}" style="width: 80%">
    <div class="form">
      <input class="{{ theme }}-colour inputbox" style="width: 40%;display: inline;" type="text" id="year" name="year" autocomplete="off" required />
      <label for="first" class="label-name">
        <span class="content-name">Select Year</span>
      </label>
      <input class="{{ theme }}-action button" style="width: 20%;display: inline;" type="submit" formaction="{{ page }}" value="submit"/>
    </div>
    <div class="spacer"></div>
  </form>
</div>

<div class="mobile">
  <!-- position table -->
  <div class="parent {{ theme }}-dark">
    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td><b>team</b></td>
          <td style="width:35%;"><b>name</b></td>
          <td><b>CS</b></td>
          <td><b>Sv</b></td>
          <td><b>SF</b></td>
          <td><b>CX</b></td>
          <td style="text-align: center;"><b>O</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(html_table.shape[0])%}
    <div class="{{ theme }}-light">
      <table>
        <tr>
          <td>{{ html_table.at[i, 'team'] }}</td>
          <td style="width:35%;"><b>{{  ' '.join((html_table.at[i,'name']).split()[1:])  }}</b></td>
          <td>{{ html_table.at[i, 'cs'] }}</td>
          <td>{{ html_table.at[i, 'saves'] }}</td>
          <td>{{ html_table.at[i, 'shots faced'] }}</td>
          <td>{{ html_table.at[i, 'claimed crosses'] }}</td>
          <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i, 'overall'] }}</b></td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
  <!-- end of position table-->
</div>
<!-- body -->
<div class="desktop">
  <!-- position table -->
  <div class="parent {{ theme }}-dark">
    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td><b>team / #</b></td>
          <td style="width:35%;"><b>name</b></td>
          <td><b>MIN</b></td>
          <td><b>CS</b></td>
          <td><b>Sv</b></td>
          <td><b>SF</b></td>
          <td><b>CX</b></td>
          <td style="text-align: center;"><b>O</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(html_table.shape[0])%}
    <div class="{{ theme }}-light">
      <table>
        <tr>
          <td>{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
          <td style="width:35%;"><b>{{ html_table.at[i,'name'] }}</b></td>
          <td>{{ html_table.at[i, 'minutes'] }}</td>
          <td>{{ html_table.at[i, 'cs'] }}</td>
          <td>{{ html_table.at[i, 'saves'] }}</td>
          <td>{{ html_table.at[i, 'shots faced'] }}</td>
          <td>{{ html_table.at[i, 'claimed crosses'] }}</td>
          <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i, 'overall'] }}</b></td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
  <!-- end of position table-->
</div>

{% endblock %}
