{% extends 'base.html' %}
{% block content %}

<!-- page content -->

  <!-- header -->
<span><h3><b>Rated {{ position }} per 90</b></h3></span>

  <!-- body -->

  <!-- position table -->
    <div class="parent {{ theme }}-dark">

        <div class="boxtableshort {{ theme }}-dark">
            <table>
              <tr>
                <td><b>team / #</b></td>
                <td style="width:75%;"><b>name</b></td>
              </tr>
            </table>
        </div>

        <div class="boxtableshort {{ theme }}-dark">
            <table>
              <tr>
                <td><b>MIN</b></td>
                <td><b>CS</b></td>
                <td><b>Sv</b></td>
                <td><b>SF</b></td>
                <td><b>CX</b></td>
                <td><b>O</b></td>
              </tr>
            </table>
        </div>
    </div>
    <div class="parent {{ theme }}-light">
            {%for i in range(html_table.shape[0])%}
            <div class="boxtableshort {{ theme }}-light">
                <table>
                  <tr>
                    <td>{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
                    <td style="width:75%;"><b>{{ html_table.at[i,'name'] }}</b></td>
                  </tr>
                </table>
            </div>
            <div class="boxtableshort {{ theme }}-light">
                <table>
                  <tr>
                    <td>{{ html_table.at[i, 'minutes'] }}</td>
                    <td>{{ html_table.at[i, 'cs'] }}</td>
                    <td>{{ html_table.at[i, 'saves'] }}</td>
                    <td>{{ html_table.at[i, 'shots faced'] }}</td>
                    <td>{{ html_table.at[i, 'claimed crosses'] }}</td>
                    <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i, 'new_overall'] }}</b></td>
                  </tr>
                </table>
            </div>
            {%endfor%}
      </div>
    <!-- end of position table-->


{% endblock %}
