{% extends 'base.html' %}
{% block content %}

<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->
<!-- body -->
<!-- position table -->
<div class="mobile">
  <div class="parent {{ theme }}-dark">
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td style="width:20%;"><b>team / #</b></td>
            <td style="width:45%;"><b>name</b></td>
            <td><b>R</b></td>
            <td><b>2Y</b></td>
            <td><b>Y</b></td>
            <td><b>Fls</b></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- end of table header -->
  </div>
  <div class="parent {{ theme }}-light">
    <!-- table -->
    {%for i in range(0,html_table.shape[0])%}
    <div class="{{ theme }}-light">
      <div>
        <table>
          <tr>
            <td style="width:20%;">{{ html_table.iloc[i]['team'] }} / {{ html_table.iloc[i][3] }}</td>
            <td style="width:45%;"><b>{{ ' '.join((html_table.iloc[i]['name']).split()[1:]) }}</b></td>
            <td>{{ html_table.iloc[i]['Red'] }}</td>
            <td>{{ html_table.iloc[i]['2ndYellow'] }}</td>
            <td>{{ html_table.iloc[i]['Yellow'] }}</td>
            <td class="{{ theme }}-t-blue"><b>{{ html_table.iloc[i]['Fls'] }}</b></td>
          </tr>
        </table>
      </div>
    </div>
    {%endfor%}
    <!-- end of table -->
  </div>
</div>

<div class="desktop">
  <div class="parent {{ theme }}-dark">
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td><b>team / #</b></td>
            <td style="width:45%;"><b>name</b></td>
            <td ><b>MIN</b></td>
            <td><b>Red</b></td>
            <td><b>2nd Yellow</b></td>
            <td><b>Yellow</b></td>
            <td><b>Fls</b></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- end of table header -->
  </div>
  <div class="parent {{ theme }}-light">
    <!-- table -->
    {%for i in range(0,html_table.shape[0])%}
    <div class="{{ theme }}-light">
      <div>
        <table>
          <tr>
            <td class="textleft">{{ html_table.iloc[i]['team'] }} / {{ html_table.iloc[i][3] }}</td>
            <td style="width:45%;"><b>{{ html_table.iloc[i]['name'] }}</b></td>
            <td>{{ html_table.iloc[i]['Min'] }}</td>
            <td>{{ html_table.iloc[i]['Red'] }}</td>
            <td>{{ html_table.iloc[i]['2ndYellow'] }}</td>
            <td>{{ html_table.iloc[i]['Yellow'] }}</td>
            <td class="{{ theme }}-t-blue"><b>{{ html_table.iloc[i]['Fls'] }}</b></td>
          </tr>
        </table>
      </div>
    </div>
    {%endfor%}
    <!-- end of table -->
  </div>
</div>

{% endblock %}
