{% extends 'base.html' %}
{% block content %}

<!-- page content -->

  <!-- header -->
  <div class="{{ theme }}-dark">
    <h3><b>Radar Charts {{ year }}</b></h3>
    <form class="center" method="post" action="{{ page }}" style="width: 80%">
      <div class="parent">
        <div class="form box">
          <input class="{{ theme }}-colour inputbox" type="text" id="year" name="year" autocomplete="off" required />
          <label for="year" class="label-name">
            <span class="content-name">Select Year</span>
          </label>
          </div>
        <div class="box">
          <input class="{{ theme }}-action button" style="width: 80%;dislay: inline;" type="submit" formaction="{{ page }}" value="submit"/>
        </div>
      </div>
      <div class="spacer"></div>
    </form>
  </div>

  <div class="mobile">
    <div class="parent {{ theme }}-dark">
      {% if year == '2020' %}
        {% for name in ['Atlético Ottawa','Cavalry FC','FC Edmonton','Forge FC','HFX Wanderers FC','Pacific FC','Valour FC','York9 FC']%}
          <span><h3>{{ name }}</h3></span>
            <div class="child {{ html_table[html_table['team'] == name ]['colour'] }}">
              <div class="box center">
                <img src="static/images/{{ year }}/cpl-{{ year }}-{{ name }}-radar.png" alt="{{ name }} Radar" style="max-height:190px">
              </div>

              <div class="box">
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                  <table>
                    <tr>
                      <td colspan="3"><h3>Rolling Expected</h3></td>
                    </tr>
                    <tr>
                      <td><h3>xG: {{ stats.at[0,'xg'] }}</h3></td>
                      <td style="text-indent: -10px;"><h3>xPPG: {{ stats.at[0,'xp'] }}</h3></td>
                      <td><h3> xPTS: {{ stats.at[0,'xt'] }}</h3></td>
                    </tr>
                  </table>

               <div class="box center">
                 <img src="static/images/{{ year }}/cpl-2020-{{ name }}-overall-graph.png" alt="team performance" style="max-width:98%">
               </div>
              </div>
           </div>
           {% endfor %}
        {% else %}
          {% for name in ['Cavalry FC','FC Edmonton','Forge FC','HFX Wanderers FC','Pacific FC','Valour FC','York9 FC']%}
              <div class="box {{ html_table[html_table['team'] == name ]['colour'] }}">
                <span><h3>{{ name }}</h3></span>
                <img class="center" src="static/images/{{ year }}/cpl-{{ year }}-{{ name }}-radar.png" alt="{{ name }} Radar" style="max-width:300px">
              </div>
          {% endfor %}
        {% endif %}
    </div>
  </div>

<div class="desktop">
  <div class="parent {{ theme }}-dark">
    {% if year == '2020' %}
      {% for name in ['Atlético Ottawa','Cavalry FC','FC Edmonton','Forge FC','HFX Wanderers FC','Pacific FC','Valour FC','York9 FC']%}
        <span><h3>{{ name }}</h3></span>
          <div class="child {{ html_table[html_table['team'] == name ]['colour'] }}">
            <div class="box center">
              <img src="static/images/{{ year }}/cpl-{{ year }}-{{ name }}-radar.png" alt="{{ name }} Radar" style="max-width:60%">
            </div>

            <div class="box">
              <div class="spacer"></div>
              <div class="spacer"></div>
                <table>
                  <tr>
                    <td colspan="3"><h3>Rolling Expected</h3></td>
                  </tr>
                  <tr>
                    <td style="text-align:right;"><h3> xG: </h3></td><td><h3> {{ stats.at[0,'xg'] }}</h3></td>
                    <td style="text-align:right;"><h3> xPPG: </h3></td><td><h3> {{ stats.at[0,'xp'] }}</h3></td>
                    <td style="text-align:right;"><h3> xPTS: </h3></td><td><h3> {{ stats.at[0,'xt'] }}</h3></td>
                  </tr>
                </table>

             <div class="box center">
               <img src="static/images/{{ year }}/cpl-2020-{{ name }}-overall-graph.png" alt="team performance" style="max-width:98%">
             </div>
            </div>
         </div>
         {% endfor %}
      {% else %}
        {% for name in ['Cavalry FC','FC Edmonton','Forge FC','HFX Wanderers FC','Pacific FC','Valour FC','York9 FC']%}
            <div class="box {{ html_table[html_table['team'] == name ]['colour'] }}">
              <span><h3>{{ name }}</h3></span>
              <img class="center" src="static/images/{{ year }}/cpl-{{ year }}-{{ name }}-radar.png" alt="{{ name }} Radar" style="max-width:300px">
            </div>
        {% endfor %}
      {% endif %}
  </div>
</div>

{% endblock %}
