{% extends 'r-base.html' %}
{% block content %}

<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->
  <!-- body -->
  <div class="mobile">
    <div class="parent {{ theme }}-dark">
      {% if year == '2020' %}
        {% for name in ['Atlético Ottawa','Cavalry FC','FC Edmonton','Forge FC','HFX Wanderers FC','Pacific FC','Valour FC','York9 FC']%}
          <span><h3>{{ name }}</h3></span>
            <div class="child {{ html_table[html_table['team'] == name ]['colour'] }}">
              <div class="box center">
                <canvas id="{{ name }} Mobile"></canvas>
                <!-- img src="static/images/{{ year }}/cpl-{{ year }}-{{ name }}-radar.png" alt="{{ name }} Radar" style="max-height:190px" -->
              </div>

              <div class="box">
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                  <table>
                    <tr>
                      <td colspan="3"><h3>Rolling Expected</h3></td>
                    </tr>
                    <tr>
                      <td><h3>xG: {{ stats[stats['team'] == name]['xg'].values[0] }}</h3></td>
                      <td style="text-indent: -10px;"><h3>xPPG: {{ stats[stats['team'] == name]['xp'].values[0] }}</h3></td>
                      <td><h3> xPTS: {{ stats[stats['team'] == name]['xt'].values[0] }}</h3></td>
                    </tr>
                  </table>

               <div class="box center">
                 <img src="static/images/{{ year }}/cpl-2020-{{ name }}-overall-graph.png" alt="team performance" style="max-width:98%">
               </div>
              </div>
           </div>
           {% endfor %}
        {% else %}
          {% for name in ['Cavalry FC','FC Edmonton','Forge FC','HFX Wanderers FC','Pacific FC','Valour FC','York9 FC']%}
              <div class="box {{ html_table[html_table['team'] == name ]['colour'] }}">
                <span><h3>{{ name }}</h3></span>
                <canvas id="{{ name }} Mobile"></canvas>
                <!--img class="center" src="static/images/{{ year }}/cpl-{{ year }}-{{ name }}-radar.png" alt="{{ name }} Radar" style="max-width:300px"-->
              </div>
          {% endfor %}
        {% endif %}
    </div>
  </div>

<div class="desktop">
  <div class="parent {{ theme }}-dark">
    {% if year == '2019' %}
      {% for name in ['Cavalry FC','FC Edmonton','Forge FC','HFX Wanderers FC','Pacific FC','Valour FC','York9 FC']%}
          <div class="boxs {{ html_table[html_table['team'] == name ]['colour'] }}">
            <span><h3>{{ name }}</h3></span>
            <canvas id="{{ name }}"></canvas>
            <!--img class="center" src="static/images/{{ year }}/cpl-{{ year }}-{{ name }}-radar.png" alt="{{ name }} Radar" style="max-width:300px"-->
          </div>
      {% endfor %}
    {% else %}
      {% for name in ['Atlético Ottawa','Cavalry FC','FC Edmonton','Forge FC','HFX Wanderers FC','Pacific FC','Valour FC','York9 FC']%}
        <span><h3>{{ name }}</h3></span>
          <div class="child {{ html_table[html_table['team'] == name ]['colour'] }}">
            <div class="box center">
              <canvas id="{{ name }}"></canvas>
              <!--div id="{{ name }}" style="background:black;width: 100%;padding: 20px"></div-->
              <!--img src="static/images/{{ year }}/cpl-{{ year }}-{{ name }}-radar.png" alt="{{ name }} Radar" style="max-width:60%"-->
            </div>

            <div class="box">
              <div class="spacer"></div>
              <div class="spacer"></div>
                <table>
                  <tr>
                    <td colspan="3"><h3>Rolling Expected</h3></td>
                  </tr>
                  <tr>
                    <td style="text-align:right;"><h3> xG: </h3></td><td><h3> {{ stats[stats['team'] == name]['xg'].values[0] }}</h3></td>
                    <td style="text-align:right;"><h3> xPPG: </h3></td><td><h3> {{ stats[stats['team'] == name]['xp'].values[0] }}</h3></td>
                    <td style="text-align:right;"><h3> xPTS: </h3></td><td><h3> {{ stats[stats['team'] == name]['xt'].values[0] }}</h3></td>
                  </tr>
                </table>

             <div class="box center">
               <img src="static/images/{{ year }}/cpl-2020-{{ name }}-overall-graph.png" alt="team performance" style="max-width:98%">
             </div>
            </div>
         </div>
         {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}
