{% extends 'c-base.html' %}
{% block content %}

<!-- page content -->
<br>
<h4><b>CPL Match Prediction {{ year }} - {{ headline }}</b></h4>
<br>
  <div>
    <form method="POST" action="{{ url_for(request.endpoint) }}">
      <table style="width:100%;">
        {% if group2 == 1 %}
        <tr>
          <td class="xxfont borderq {{ theme }}-action" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for(request.endpoint) }}"><input class="{{ theme }}-action button" type="submit" id="home1" name="home" value="{{ group1 }}"/></a></td>
        </tr>
        {% elif group3 == 1 %}
        <tr>
          <td class="xfont borderq {{ theme }}-action" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for(request.endpoint) }}"><input class="{{ theme }}-action button" type="submit" id="home1" name="home" value="{{ group1 }}"/></a></td>
          <td class="xfont borderq {{ theme }}-blue" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for(request.endpoint) }}"><input class="{{ theme }}-blue button" type="submit" id="home1" name="home" value="{{ group2 }}"/></a></td>
        </tr>
        {% else %}
        <tr>
          <td class="borderq {{ theme }}-action" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for(request.endpoint) }}"><input class="{{ theme }}-action button" type="submit" id="home1" name="home" value="{{ group1 }}"/></a></td>
          <td class="borderq {{ theme }}-blue" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for(request.endpoint) }}"><input class="{{ theme }}-blue button" type="submit" id="home1" name="home" value="{{ group2 }}"/></a></td>
          <td class="borderq {{ theme }}-action" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for(request.endpoint) }}"><input class="{{ theme }}-action button" type="submit" id="home1" name="home" value="{{ group3 }}"/></a></td>
          <td class="borderq {{ theme }}-blue" style="text-align:center; padding: 15px 0px;"><a href="{{ url_for(request.endpoint) }}"><input class="{{ theme }}-blue button" type="submit" id="home1" name="home" value="{{ group4 }}"/></a></td>
        </tr>
        {% endif %}
      </table>
    </form>
  </div>

<div class="parent">
  <!-- home team stats -->
    <div class="box">
      <div class="textcenter {{ home_colour }}">
        <table>
          <tr>
            <td style="width:30%;" rowspan="2"><img src="static/images/flags/{{ home_crest }}" alt="{{ home_team }} Crest" style="max-height:100px"></td>
            <td class="xfont"><h2>{{ home_team }}</h2></td>
          </tr>
          <tr>
            <td><h4 class="xxfont">Home Team</h4></td>
          </tr>
        </table>

      {% if home_win > away_win %}
      {% set HRC = 'green' %}
      {% set HRT = 'Win' %}
      {% elif home_win == away_win %}
      {% set HRC = 'orange' %}
      {% set HRT = 'Draw' %}
      {% else %}
      {% set HRC = 'red' %}
      {% set HRT = 'Loss' %}
      {% endif %}
      <div class="{{ theme }}-{{ HRC }}" style="width:50%;height:35px;float:left;">
        <h4 style="margin-top: 5px;">{{ home_win }}% {{ HRT }}</h4>
      </div>
      <div class="{{ theme }}-{{ HRC }}" style="width:50%;height:35px;float:right;">
        <h4 style="margin-top: 5px;">Score: {{home_score}}</h4>
      </div>

          <div class="spacer"></div>
          <a> Current Form</a>
          <div class="spacer"></div>
          <div class="parent">
            <div class="boxs textcenter {{ theme }}-green" style="height:35px;">
              <h4 style="margin-top: 5px;">{{ home_form.loc[0] }}</h4>
            </div>
            <div class="boxs textcenter {{ theme }}-orange" style="height:35px;">
              <h4 style="margin-top: 5px;">{{ home_form.loc[2] }}</h4>
            </div>
            <div class="boxs textcenter {{ theme }}-red" style="height:35px;">
              <h4 style="margin-top: 5px;">{{ home_form.loc[1] }}</h4>
            </div>
          </div>
          <div class="spacer"></div>
          <a>Matches VS {{ away_team }}</a>
          <div class="spacer"></div>
          <div class="parent">
            <div class="boxs textcenter {{ theme }}-green" style="height:35px;">
              <h4 style="margin-top: 5px;">{{ home_history['w'].values[0] }}</h4>
            </div>
            <div class="boxs textcenter {{ theme }}-orange" style="height:35px;">
              <h4 style="margin-top: 5px;">{{ home_history['d'].values[0] }}</h4>
            </div>
            <div class="boxs textcenter {{ theme }}-red" style="height:35px;">
              <h4 style="margin-top: 5px;">{{ home_history['l'].values[0] }}</h4>
            </div>
          </div>
          <div class="spacer"></div>
          <a>Recommended Starting 11</a>
          <div class="spacer"></div>
        <div class="{{ theme }}-light">
          <br>
          <table>
            {%for i in range(0,home_table.shape[0])%}
            <tr>
                {%for r in range(home_table.shape[1])%}
                {% if r == 0 %}
                  <td style="width:60%;text-align: left;">{{ home_table.iloc[i,r] }}</td>
                {% else %}
                  <td>{{ home_table.iloc[i,r] }}</td>
                {% endif%}
                {%endfor%}
            </tr>
            {%endfor%}
          </table>
          <br>
        </div>
      </div>
      <div class="{{ home_colour }} center">
        <canvas id="homeChart"></canvas>
        <!--img src="static/images/2020/cpl-2020-{{ home_team }}-radar.png" alt="{{ home_team }} Radar" style="max-width:95%"-->
      </div>
    </div>
    <!-- END OF home team stats -->

    <!-- away team stats -->
    <div class="box">
      <div class="textcenter {{ away_colour }}">
        <table>
          <tr>
            <td style="width:30%;" rowspan="2"><img src="static/images/flags/{{ away_crest }}" alt="{{ away_team }} Crest" style="max-height:100px"></td>
            <td class="xfont"><h2>{{ away_team }}</h2></td>
          </tr>
          <tr>
            <td><h4 class="xxfont">Away Team</h4></td>
          </tr>
        </table>

        {% if home_win > away_win %}
        {% set ARC = 'red' %}
        {% set ART = 'Loss' %}
        {% elif home_win == away_win %}
        {% set ARC = 'orange' %}
        {% set ART = 'Draw' %}
        {% else %}
        {% set HRC = 'green' %}
        {% set HRT = 'Win' %}
        {% endif %}
        <div class="textcenter {{ theme }}-{{ HRC }}" style="width:50%;height:35px;float:left;">
          <h4 style="margin-top: 5px;">{{ away_win }}% {{ HRT }}</h4>
        </div>
        <div class="textcenter {{ theme }}-{{ HRC }}" style="width:50%;height:35px;float:right;">
          <h4 style="margin-top: 5px;">Score: {{away_score}}</h4>
        </div>

          <div class="spacer"></div>
          <a> Current Form</a>
          <div class="spacer"></div>
          <div class="parent">
            <div class="boxs textcenter {{ theme }}-green" style="height:35px;">
              <h4 style="margin-top: 5px;">{{ away_form.loc[0] }}</h4>
            </div>
            <div class="boxs textcenter {{ theme }}-orange" style="height:35px;">
              <h4 style="margin-top: 5px;">{{ away_form.loc[2] }}</h4>
            </div>
            <div class="boxs textcenter {{ theme }}-red" style="height:35px;">
              <h4 style="margin-top: 5px;">{{ away_form.loc[1] }}</h4>
            </div>
          </div>
          <div class="spacer"></div>
          <a>Matches VS {{ home_team }}</a>
          <div class="spacer"></div>
          <div class="parent">
            <div class="boxs textcenter {{ theme }}-green" style="height:35px;">
              <h4 style="margin-top: 5px;">{{ away_history['w'].values[0] }}</h4>
            </div>
            <div class="boxs textcenter {{ theme }}-orange" style="height:35px;">
              <h4 style="margin-top: 5px;">{{ away_history['d'].values[0] }}</h4>
            </div>
            <div class="boxs textcenter {{ theme }}-red" style="height:35px;">
              <h4 style="margin-top: 5px;">{{ away_history['l'].values[0] }}</h4>
            </div>
          </div>
          <div class="spacer"></div>
          <a>Recommended Starting 11</a>
          <div class="spacer"></div>
        <div class="{{ theme }}-light">
          <br>
          <table>
            {%for i in range(0,away_table.shape[0])%}
            <tr>
                {%for r in range(away_table.shape[1])%}
                  {% if r == 0 %}
                    <td style="width:60%;text-align: left;">{{ away_table.iloc[i,r] }}</td>
                  {% else %}
                    <td>{{ away_table.iloc[i,r] }}</td>
                  {% endif%}
                {%endfor%}
            </tr>
            {%endfor%}
          </table>
          <br>
        </div>
      </div>
      <div class="{{ away_colour }} center">
        <!--canvas id="awayChart"></canvas-->
        <!--img src="static/images/2020/cpl-2020-{{ away_team }}-radar.png" alt="{{ away_team }} Radar" style="max-width:95%"-->
      </div>
    </div>
    <!-- END OF away team stats -->
</div>

{% endblock %}
