{% extends 'base.html' %}
{% block content %}

<!-- page content -->

  <!-- header -->
  <div class="titlediv">
    <span><h3><b>Discipline {{ year }}</b></h3></span>
  </div>

  <!-- body -->

  <!-- position table -->
  <div class="parent {{ theme }}-theme-dark">
    <div class="boxtableshort {{ theme }}-theme-dark">
      <div>
        <table>
          <tr>
            <td><b>team / #</b></td>
            <td style="width:75%;"><b>{{ columns[1] }}</b></td>
          </tr>
        </table>
      </div>
    </div>
      <div class="boxtableshort {{ theme }}-theme-dark">
        <div>
          <table>
            <tr>
              <td ><b>MIN</b></td>
              <td><b>Y</b></td>
              <td><b>R</b></td>
              <td><b>Fls</b></td>
              <td><b>O</b></td>
            </tr>
          </table>
        </div>
      </div>
      <!-- end of table header -->
  </div>
  <div class="parent {{ theme }}-theme-light">
      <!-- table -->
      {%for i in range(0,html_table.shape[0])%}
        <div class="boxtableshort {{ theme }}-theme-light">
          <div>
            <table>
              <tr>
                <td>{{ html_table.iloc[i][0] }} / {{ html_table.iloc[i][3] }}</td>
                <td style="width:75%;"><b>{{ html_table.iloc[i][1] }}</b></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="boxtableshort {{ theme }}-theme-light">
          <div>
            <table>
              <tr>
                <td>{{ html_table.iloc[i][4] }}</td>
                <td>{{ html_table.iloc[i][5] }}</td>
                <td>{{ html_table.iloc[i][6] }}</td>
                <td>{{ html_table.iloc[i][7] }}</td>
                <td class="{{ theme }}-text-blue"><b>{{ html_table.iloc[i][8] }}</b></td>
              </tr>
            </table>
          </div>
        </div>
        {%endfor%}
        <!-- end of table -->

  </div>


  {% endblock %}
