{% extends 'base.html' %}
{% block content %}

<!-- page content -->

  <!-- header -->
  <div class="titlediv">
    <span><h3><b>Goals and Assists</b></h3></span>
    <span><h4><b>Top Goalscorers</b></h4></span>
  </div>

  <!-- body -->

      <div class="parent {{ theme }}-theme-dark">
          <!-- table header -->
          <div class="boxtableshort {{ theme }}-theme-dark">
            <div>
              <table>
                <tr>
                  <td><b>rank / team</b></td>
                  <td><b>name</b></td>
                </tr>
              </table>
            </div>
          </div>
            <div class="boxtableshort {{ theme }}-theme-dark">
              <div>
                <table>
                  <tr>
                    <td><b>Pos</b></td>
                    <td><b>#</b></td>
                    <td><b>MIN</b></td>
                    <td><b>G</b></td>
                  </tr>
                </table>
              </div>
            </div>
      <!-- end of table header -->
      <!-- table -->
      </div>
      <div class="parent {{ theme }}-theme-light">
      {%for i in range(0,html_table.shape[0])%}
        <div class="boxtableshort {{ theme }}-theme-light">
          <div>
            <table>
              <tr>
                <td>{{ html_table.iloc[i][0] }} / {{ html_table.iloc[i][1] }}</td>
                <td style="width:75%;">{{ html_table.iloc[i][2] }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="boxtableshort {{ theme }}-theme-light">
          <div>
            <table>
              <tr>
                <td>{{ html_table.iloc[i][3] }}</td>
                <td>{{ html_table.iloc[i][4] }}</td>
                <td>{{ html_table.iloc[i][5] }}</td>
                <td class="{{ theme }}-text-blue"><b>{{ html_table.iloc[i][6] }}</b></td>
              </tr>
            </table>
          </div>
        </div>
        {%endfor%}
        <!-- end of table -->
        </div>
        <span><h4><b>Top Assist Makers</b></h4></span>
        <div class="parent {{ theme }}-theme-dark">
            <!-- table header -->
            <div class="boxtableshort {{ theme }}-theme-dark">
              <div>
                <table>
                  <tr>
                    <td><b>rank / team</b></td>
                    <td><b>name</b></td>
                  </tr>
                </table>
              </div>
            </div>
              <div class="boxtableshort {{ theme }}-theme-dark">
                <div>
                  <table>
                    <tr>
                      <td><b>Pos</b></td>
                      <td><b>#</b></td>
                      <td><b>MIN</b></td>
                      <td><b>A</b></td>
                    </tr>
                  </table>
                </div>
              </div>
        <!-- end of table header -->
        <!-- table -->
      </div>
      <div class="parent {{ theme }}-theme-light">
        {%for i in range(0,assists_table.shape[0])%}
          <div class="boxtableshort {{ theme }}-theme-light">
            <div>
              <table>
                <tr>
                  <td>{{ assists_table.iloc[i][0] }} / {{ assists_table.iloc[i][1] }}</td>
                  <td></td>
                  <td style="width:75%;">{{ assists_table.iloc[i][2] }}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="boxtableshort {{ theme }}-theme-light">
            <div>
              <table>
                <tr>
                  <td>{{ assists_table.iloc[i][3] }}</td>
                  <td>{{ assists_table.iloc[i][4] }}</td>
                  <td >{{ assists_table.iloc[i][5] }}</td>
                  <td class="{{ theme }}-text-blue"><b>{{ assists_table.iloc[i][6] }}</b></td>
                </tr>
              </table>
            </div>
          </div>
          {%endfor%}
          </div>
          <!-- end of table -->


  {% endblock %}
