{% extends 'base.html' %}
{% block content %}

<!-- page content -->
{% include "position-form.html" %}
{% block body %}{% endblock %}

<!-- body -->
<div class="mobile">
  <!-- top position table -->
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td style="width:12%;"><b>team</b></td>
          <td style="width:38%;"><b>name</b></td>
          <td><b>G</b></td>
          <td style="font-size: 0.8em;"><b>TklW</b></td>
          <td style="font-size: 0.8em;"><b>Intr</b></td>
          <td style="font-size: 0.8em;"><b>DlsW</b></td>
          <td style="text-align:center;width:12%;"><b>O</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(0,10)%}
    <div class="{{ theme }}-light">
      <table>
        <tr>
          <td style="width:12%;">{{ html_table.at[i, 'team'] }}</td>
          <td style="font-size: 0.8em;width:38%;"><b>{{  ' '.join((html_table.at[i,'name']).split()[1:])  }}</b></td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'Goal'] }}</td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'t-won'] }}</td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'interceptions'] }}</td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'d-won'] }}</td>
          <td class="{{ theme }}-t-blue" style="width:12%;"><b>{{ html_table.at[i,'overall'] }}</b></td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
  <!-- end of top position table-->
  <!-- position table -->
  <span><h3 class="{{ theme }}-dark"><b>rest of the table</b></h3></span>
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td><b>team</b></td>
          <td style="width:38%;"><b>name</b></td>
          <td><b>G</b></td>
          <td style="font-size: 0.8em;"><b>TklW</b></td>
          <td style="font-size: 0.8em;"><b>Intr</b></td>
          <td style="font-size: 0.8em;"><b>DlsW</b></td>
          <td style="text-align:center;width:12%;"><b>O</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(10,html_table.shape[0])%}
    <div class="{{ theme }}-light">
      <table>
        <tr>
          <td>{{ html_table.at[i, 'team'] }}</td>
          <td style="font-size: 0.8em;width:38%;"><b>{{  ' '.join((html_table.at[i,'name']).split()[1:])  }}</b></td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'goals'] }}</td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'t-won'] }}</td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'interceptions'] }}</td>
          <td style="font-size: 0.8em;">{{ html_table.at[i,'d-won'] }}</td>
          <td class="{{ theme }}-t-blue" style="width:12%;"><b>{{ html_table.at[i,'overall'] }}</b></td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
  <!-- end of position table-->
</div>

<div class="desktop">
  <!-- top position table -->
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td><b>team / #</b></td>
          <td style="width:25%;"><b>name</b></td>
          <td><b>MIN</b></td>
          <td><b>G</b></td>
          <td><b>TklM</b></td>
          <td><b>Clr</b></td>
          <td><b>Int</b></td>
          <td><b>DlsW</b></td>
          <td><b>G-DFK</b></td>
          <td><b>O</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(0,10)%}
    <div class="{{ theme }}-light">
      <table>
        <tr>
          <td class="textleft">{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
          <td style="width:25%;"><b>{{ html_table.at[i,'name'] }}</b></td>
          <td>{{ html_table.at[i,'Min'] }}</td>
          <td>{{ html_table.at[i,'Goal'] }}</td>
          <td>{{ html_table.at[i,'TcklMade%'] }}</td>
          <td>{{ html_table.at[i,'Clrnce'] }}</td>
          <td>{{ html_table.at[i,'Int'] }}</td>
          <td>{{ html_table.at[i,'DuelsW%'] }}</td>
          <td>{{ html_table.at[i,'GoalDirFK'] }}</td>
          <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i,'overall'] }}</b></td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
  <!-- end of top position table-->
  <!-- position table -->
  <span><h3 class="{{ theme }}-dark"><b>rest of the table</b></h3></span>
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td><b>team / #</b></td>
          <td style="width:25%;"><b>name</b></td>
          <td><b>MIN</b></td>
          <td><b>G</b></td>
          <td><b>TklM</b></td>
          <td><b>Clr</b></td>
          <td><b>Int</b></td>
          <td><b>DlsW</b></td>
          <td><b>G-DFK</b></td>
          <td><b>O</b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(10,html_table.shape[0])%}
    <div class="{{ theme }}-light">
      <table>
        <tr>
          <td class="textleft">{{ html_table.at[i, 'team'] }} / {{ html_table.at[i,'number'] }}</td>
          <td style="width:25%;"><b>{{ html_table.at[i,'name'] }}</b></td>
          <td>{{ html_table.at[i,'Min'] }}</td>
          <td>{{ html_table.at[i,'Goal'] }}</td>
          <td>{{ html_table.at[i,'TcklMade%'] }}</td>
          <td>{{ html_table.at[i,'Clrnce'] }}</td>
          <td>{{ html_table.at[i,'Int'] }}</td>
          <td>{{ html_table.at[i,'DuelsW%'] }}</td>
          <td>{{ html_table.at[i,'GoalDirFK'] }}</td>
          <td class="{{ theme }}-t-blue"><b>{{ html_table.at[i,'overall'] }}</b></td>
        </tr>
      </table>
    </div>
    {%endfor%}
  </div>
  <!-- end of position table-->
</div>

{% endblock %}
