<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg CanPL Best Eleven</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Canadian Premier League (CanPL) best eleven as chosen based on year to date performance.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon.png" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% extends 'base.html' %}
{% block content %}


<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->
  <!-- body -->
<div class="parent">
  <!-- FORWARDS -->
  <div class="parent">
    {% for c,r in html_table.iterrows() %}
    <div class="boxm {{ r['colour'] }}">
      <form method="POST" action="/player">
        <div class="{{ r['colour'] }}">
          <table>
            <tr>
              <td rowspan="3" style="width:40%"><a href="{{ r['link'] }}" target="_blank" class="center">
                <img src="static/images/players/{{ year }}/{{ r['image'] }}" alt="photo of{{ r['name'] }}" style="max-width:78%">
              </a>
            </td>
          </tr>
          <tr>
            <td class="xfont"><p>#{{ r['number'] | int }}</p></td>
            <td><p class="center"><img src="static/images/flags/{{ r['flag'] }}" alt="flag of {{ r['flag'][:-4] }}" style="max-width:100%"></p></td>
            <td class="xfont" style="text-indent:-10px;"><p>{{ r['overall'] }}</p></td>
          </tr>
          <tr>
            <td colspan="3"><p>{{ r['pos#'] }}</p></td>
          </tr>
          <tr>
            <td colspan="4"><h2 href="{{ url_for('player') }}"><input class="{{ r['colour'] }} button" type="submit" id="name" name="name" value="{{ r['display'] }}"></h2></td>
          </tr>
        </table>
      </div>
      <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
