<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Best Eleven</title>
  <meta name="description" content="Canadian Premier League best eleven players per week or finished season.">
</head>

{% extends 'base.html' %}
{% block content %}


<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->
  <!-- body -->
<div class="parent">
  <!-- FORWARDS -->
  <div class="parent">
    {% for c,r in html_table.iterrows() %}
    <div class="boxm {{ r['colour'] }}">
      <form method="POST" action="/player">
        <div class="{{ r['colour'] }}">
          <table>
            <tr>
              <td rowspan="3" style="width:40%"><a href="{{ r['link'] }}" target="_blank" class="center">
                <img src="static/images/players/{{ year }}/{{ r['image'] }}" alt="photo of{{ r['name'] }}" style="max-width:78%">
              </a>
            </td>
          </tr>
          <tr>
            <td class="xfont"><p>#{{ r['number'] | int }}</p></td>
            <td><p class="center"><img src="static/images/flags/{{ r['flag'] }}" alt="flag of {{ r['flag'][:-4] }}" style="max-width:100%"></p></td>
            <td class="xfont" style="text-indent:-10px;"><p>{{ r['overall'] }}</p></td>
          </tr>
          <tr>
            <td colspan="3"><p>{{ r['pos#'] }}</p></td>
          </tr>
          <tr>
            <td colspan="4"><h2 href="{{ url_for('player') }}"><input class="{{ r['colour'] }} button" type="submit" id="name" name="name" value="{{ r['display'] }}"></h2></td>
          </tr>
        </table>
      </div>
      <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
