<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg Canadian Premier League Stats for Teams & Players</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Canadian Premier League (CanPL) stats, standings, team and roster information, data analysis and data visualization for football and Soccer fans of the League.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon.png" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% extends 'base.html' %}
{% block content %}

<div class="page80">
  <a class="twitter-timeline" href="https://twitter.com/NutmegFan?ref_src=twsrc%5Etfw">Tweets by NutmegFan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

{% endblock %}
