<!-- Simple pop-up dialog box containing a form -->
<footer>
  <div class="container">
    <div class="page80" style="border-radius: 0.5rem; padding: 20px 20px;">
      <div class="parent">
        <div class="box">
          <h3>Say hi</h3>
          <!-- you can fing user ID by looking in twitter DMs-->
          <p style="display:inline;">Contact: <a href="https://twitter.com/messages/compose?recipient_id=21113973" target="_blank"><i class="{{theme}}-body fa fa-twitter"></i></a></p>
          </div>
          <div class="boxl textright">
            <br>
            <a>Made in the <b>GTA</b> by</a>
            <a> Todd McCullough</a>
            <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{theme}}-body fa fa-twitter"></i></a>
            <a href="https://github.com/tamccullough" target="_blank"><i class="{{theme}}-body fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/tamccullough/" target="_blank"><i class="{{theme}}-body fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
</footer>
