
<div>
  <!--h1>{{ error }}</h1-->
  <form method="post" action="{{ url_for(request.endpoint) }}">
    <div class="parent">
      <div class="mobile boxs sfont" style="width:100%;">
        {% if request.endpoint == 'index'%}
          <a>{{ headline }}</a>
        {% else %}
          <a>{{ headline }} {{ year }}</a>
        {% endif %}
      </div>
      <div class="desktop box">
        {% if request.endpoint == 'index'%}
          <h3 style="padding: 10px;"><b>{{ headline }}</b></h3>
        {% else %}
          <h3 style="padding: 10px;"><b>{{ headline }} {{ year }}</b></h3>
        {% endif %}
      </div>
      <div class="form box t-center">
        <select name="year" id="year" onchange="this.form.submit();">
          <option value="{{ year }}">select year</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
        </select>
        </div>
    </div>
  </form>
</div>
