<form class="{{ theme }}-dark" method="post" action="{{ page }}">
<div class="parent">
  <div class="box">
    <h3><b>{{ headline }}</b></h3>
  </div>
  <div class="form box">
    <select class="{{ theme }}-colour" name="year" id="year">
      <option value="">Select Year</option>
      <option value="2020">2020</option>
      <option value="2019">2019</option>
    </select>
    </div>
  <div class="box">
    <input class="{{ theme }}-action button" style="width: 100%;dislay: inline;" type="submit" formaction="{{ page }}" value="submit"/>
  </div>
</div>
</form>
