<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg CanPL Goals and Assists Leaders</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Canadian Premier League (CanPL) table information for goals and assists leaders in selected year.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon.png" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% extends 'base.html' %}
{% block content %}
<div class="mobile">
  <a>{{ year }} Stats</a>
  <ul class="position">
    <li><a href="/defenders">def</a></li>
    <li><a href="/forwards">atck</a></li>
    <li><a href="/keepers">keep</a></li>
    <li><a href="/midfielders">mid</a></li>
    <li><a href="/goals">g / a</a></li>
  </ul>
  <br>
</div>

<div class="desktop">
  <ul class="position">
    <li><a href="/defenders">defenders</a></li>
    <li><a href="/forwards">forwards</a></li>
    <li><a href="/keepers">keepers</a></li>
    <li><a href="/midfielders">midfielders</a></li>
    <li><a href="/goals">goals/assists</a></li>
  </ul>
</div>
<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->
<!-- body -->
<div class="mobile">
  <span><h4><b>Top Goal Scorers</b></h4></span>
  <div class="parent">
    <!-- table header -->
    <div>
      <div>
        <table>
          <tr>
            <td><b>rank</b></td>
            <td style="width:50%;"><b>name</b></td>
            <td><b>#</b></td>
            <td><b>MIN</b></td>
            <td><b>G</b></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- end of table header -->
    <!-- table -->
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    {%for i in range(0,html_table.shape[0])%}
    <div>
      <div>
        <table class="sfont">
          <tr>
            <td>{{ i+1 }}</td>
            <td style="text-align:left;width:50%;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['name'] }}"></input></td>
            <td>{{ html_table.iloc[i]['number'] }}</td>
            <td>{{ html_table.iloc[i]['Min'] }}</td>
            <td class="{{ theme }}-t-blue"><b>{{ html_table.iloc[i]['Goal'] }}</b></td>
          </tr>
        </table>
      </div>
    </div>
    {%endfor%}
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
    <!-- end of table -->
  </div>
  <span><h4><b>Top Assist Makers</b></h4></span>
  <div class="parent">
    <!-- table header -->
    <div>
      <div>
        <table>
          <tr>
            <td><b>rank</b></td>
            <td style="width:50%;"><b>name</b></td>
            <td><b>#</b></td>
            <td><b>MIN</b></td>
            <td><b>A</b></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- end of table header -->
    <!-- table -->
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    {%for i in range(0,assists_table.shape[0])%}
    <div class="{{ theme }}-light">
      <div>
        <table class="sfont">
          <tr>
            <td>{{ i+1 }}</td>
            <td style="text-align:left;width:50%;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['name'] }}"></input></td>
            <td>{{ assists_table.iloc[i]['number'] }}</td>
            <td >{{ assists_table.iloc[i]['Min'] }}</td>
            <td class="{{ theme }}-t-blue"><b>{{ assists_table.iloc[i]['Ast'] }}</b></td>
          </tr>
        </table>
      </div>
    </div>
    {%endfor%}
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  <!-- end of table -->
</div>

<div class="desktop">
  <span><h3  class="indent"><b>Top Goal Scorers</b></h3></span>
  <div class="parent {{ theme }}-dark">
    <!-- table header -->
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td><b>rank / team</b></td>
            <td style="width:13vw;"><b>name</b></td>
            <td><b>Pos</b></td>
            <td><b>#</b></td>
            <td><b>MIN</b></td>
            <td><b>G</b></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- end of table header -->
    <!-- table -->
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    {%for i in range(0,html_table.shape[0])%}
    <div class="{{ theme }}-light">
      <div>
        <table>
          <tr>
            <td style="text-align:left;">{{ i+1 }} / {{ html_table.iloc[i]['team'] }}</td>
            <td style="text-align:left;width:13vw;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['name'] }}"></input></td>
            <td>{{ html_table.iloc[i]['position'] }}</td>
            <td>{{ html_table.iloc[i]['number'] }}</td>
            <td>{{ html_table.iloc[i]['Min'] }}</td>
            <td class="{{ theme }}-t-blue"><b>{{ html_table.iloc[i]['Goal'] }}</b></td>
          </tr>
        </table>
      </div>
    </div>
    {%endfor%}
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
    <!-- end of table -->
  </div>
  <span><h3  class="indent"><b>Top Assist Makers</b></h3></span>
  <div class="parent {{ theme }}-dark">
    <!-- table header -->
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td><b>rank / team</b></td>
            <td style="width:13vw;"><b>name</b></td>
            <td><b>Pos</b></td>
            <td><b>#</b></td>
            <td><b>MIN</b></td>
            <td><b>A</b></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- end of table header -->
    <!-- table -->
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    {%for i in range(0,assists_table.shape[0])%}
    <div class="{{ theme }}-light">
      <div>
        <table>
          <tr>
            <td style="text-align:left;">{{ i+1 }} / {{ assists_table.iloc[i]['team'] }}</td>
            <td style="text-align:left;width:13vw;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ assists_table.iloc[i]['name'] }}"></input></td>
            <td>{{ assists_table.iloc[i]['position'] }}</td>
            <td>{{ assists_table.iloc[i]['number'] }}</td>
            <td >{{ assists_table.iloc[i]['Min'] }}</td>
            <td class="{{ theme }}-t-blue"><b>{{ assists_table.iloc[i]['Ast'] }}</b></td>
          </tr>
        </table>
      </div>
    </div>
    {%endfor%}
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  <!-- end of table -->
</div>

{% endblock %}
