<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>XGXA CanPL Goals and Assists Leaders</title>
  <meta name="description" content="Canadian Premier League top goalscorers and assists in selected year.">
</head>

{% extends 'base.html' %}
{% block content %}
<div class="mobile">
  <a>{{ year }} Stats</a>
  <ul class="position">
    <li><a href="/compare">cmpr2</a></li>
    <li><a href="/goals">g/a</a></li>
    <li><a href="/defenders">def</a></li>
    <li><a href="/forwards">atck</a></li>
    <li><a href="/keepers">keep</a></li>
    <li><a href="/midfielders">mid</a></li>
  </ul>
  <br>
</div>

<div class="desktop">
  <ul class="position">
    <li><a href="/compare">compare-2</a></li>
    <li><a href="/goals">goals/assists</a></li>
    <li><a href="/defenders">defenders</a></li>
    <li><a href="/forwards">forwards</a></li>
    <li><a href="/keepers">keepers</a></li>
    <li><a href="/midfielders">midfielders</a></li>
  </ul>
</div>
<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->
<!-- body -->
<div class="mobile">
  <span><h4>Top Goal Scorers</h4></span>
  <div class="parent">
    <!-- table header -->
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td>rank</td>
            <td style="width:50%;">name</td>
            <td>#</td>
            <td>MIN</td>
            <td>G</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- end of table header -->
    <!-- table -->
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    {%for i in range(0,html_table.shape[0])%}
    <div>
      <div>
        <table class="sfont">
          <tr>
            <td>{{ i+1 }}</td>
            <td style="text-align:left;width:50%;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['name'] }}"></input></td>
            <td>{{ html_table.iloc[i]['number'] }}</td>
            <td>{{ html_table.iloc[i]['Min'] }}</td>
            <td class="{{ theme }}-t-blue"><b>{{ html_table.iloc[i]['Goal'] }}</b></td>
          </tr>
        </table>
      </div>
    </div>
    {%endfor%}
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
    <!-- end of table -->
  </div>
  <span><h4>Top Assist Makers</h4></span>
  <div class="parent">
    <!-- table header -->
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td>rank</td>
            <td style="width:50%;">name</td>
            <td>#</td>
            <td>MIN</td>
            <td>A</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- end of table header -->
    <!-- table -->
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    {%for i in range(0,assists_table.shape[0])%}
    <div class="{{ theme }}-light">
      <div>
        <table class="sfont">
          <tr>
            <td>{{ i+1 }}</td>
            <td style="text-align:left;width:50%;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['name'] }}"></input></td>
            <td>{{ assists_table.iloc[i]['number'] }}</td>
            <td >{{ assists_table.iloc[i]['Min'] }}</td>
            <td class="{{ theme }}-t-blue"><b>{{ assists_table.iloc[i]['Ast'] }}</b></td>
          </tr>
        </table>
      </div>
    </div>
    {%endfor%}
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  <!-- end of table -->
</div>

<div class="desktop">
  <span><h3  class="indent">Top Goal Scorers</h3></span>
  <div class="parent {{ theme }}-dark">
    <!-- table header -->
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td>rank / team</td>
            <td style="width:13vw;">name</td>
            <td>Pos</td>
            <td>#</td>
            <td>MIN</td>
            <td>G</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- end of table header -->
    <!-- table -->
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    {%for i in range(0,html_table.shape[0])%}
    <div class="{{ theme }}-light">
      <div>
        <table class="sfont">
          <tr>
            <td style="text-align:left;">{{ i+1 }} / {{ html_table.iloc[i]['team'] }}</td>
            <td style="text-align:left;width:13vw;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['name'] }}"></input></td>
            <td>{{ html_table.iloc[i]['position'] }}</td>
            <td>{{ html_table.iloc[i]['number'] }}</td>
            <td>{{ html_table.iloc[i]['Min'] }}</td>
            <td class="{{ theme }}-t-blue"><b>{{ html_table.iloc[i]['Goal'] }}</b></td>
          </tr>
        </table>
      </div>
    </div>
    {%endfor%}
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
    <!-- end of table -->
  </div>
  <span><h3  class="indent">Top Assist Makers</h3></span>
  <div class="parent {{ theme }}-dark">
    <!-- table header -->
    <div class="{{ theme }}-dark">
      <div>
        <table>
          <tr>
            <td>rank / team</td>
            <td style="width:13vw;">name</td>
            <td>Pos</td>
            <td>#</td>
            <td>MIN</td>
            <td>A</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- end of table header -->
    <!-- table -->
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    {%for i in range(0,assists_table.shape[0])%}
    <div class="{{ theme }}-light">
      <div>
        <table class="sfont">
          <tr>
            <td style="text-align:left;">{{ i+1 }} / {{ assists_table.iloc[i]['team'] }}</td>
            <td style="text-align:left;width:13vw;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ assists_table.iloc[i]['name'] }}"></input></td>
            <td>{{ assists_table.iloc[i]['position'] }}</td>
            <td>{{ assists_table.iloc[i]['number'] }}</td>
            <td >{{ assists_table.iloc[i]['Min'] }}</td>
            <td class="{{ theme }}-t-blue"><b>{{ assists_table.iloc[i]['Ast'] }}</b></td>
          </tr>
        </table>
      </div>
    </div>
    {%endfor%}
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  <!-- end of table -->
</div>

{% endblock %}
