<!-- nav menu -->
<div>
  <nav>
    <div class="logo">
      <a class="mobile staat logo" href="/">Nutmeg</a>
      <a class="desktop staat logo" href="/">Nutmeg</a>
      <a class="desktop" style="font-size:0.5em;">For CPL Fans</a>
    </div>
    <ul class="nav-links">
      <li><a href="/teams">teams</a></li>
      <li><a href="/standings">standings</a></li>
      <li><a href="/power">rankings</a></li>
      <li><a href="/radar">radar</a></li>
      <li><a href="/versus">prediction</a></li>
      <li><a href="/best11">best/11</a></li>
      <li><a href="/forwards">forwards</a></li>
      <li><a href="/midfielders">midfield</a></li>
      <li><a href="/defenders">defense</a></li>
      <li><a href="/keepers">keepers</a></li>
      <li><a href="/goals">goals/assists</a></li>
      <li><a href="/discipline">discipline</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</div>
<!-- end of nav menu -->
