<!-- nav menu -->
<div class="page90">
  <nav>
    <div class="logo">
      <a class="coiny logo" href="/">XGXA</a>
    </div>
    <ul class="nav-links">
      <li><a href="/teams">clubs</a></li>
      <li><a href="/versus">versus</a></li>
      <li><a href="/standings">standings</a></li>
      <li><a href="/power">power</a></li>
      <li><a href="/eleven">eleven</a></li>
      <li><a href="/forwards">stats</a></li>
      <li><a href="/discipline">discipline</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/feed">feed</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</div>
<!-- end of nav menu -->
