<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg: Canadian Premier League Fans {{year}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Canadian Premier League Stats for league fans. CanPL stats. Standings, team and roster information, data analysis and data visualization for football and Soccer fans of the Canadian Premier League.">
  <link rel="stylesheet" href="static/css/nav.css">
  <link rel="stylesheet" href="static/css/menu.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/themes.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <!--link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">

  <style>
  * {
    scrollbar-width: auto;
    scrollbar-color: #3141a8 #2d62b5;
  }

  html,h1,h2,h3 {
    font-family: 'Staatliches', cursive;
  }

  .staat {
    font-family: 'Staatliches', cursive;
  }

  body,h4,h5,a {
    font-family: 'Lato', sans-serif;
  }
  </style>

</head>

<!-- nav menu -->
<div>
  <nav>
    <div class="logo">
      <a class="mobile staat logo" href="/" style="font-size:3em;">Nutmeg</a>
      <a class="desktop staat logo" href="/">Nutmeg</a>
      <a class="desktop" style="font-size:0.5em;">For CPL Fans</a>
    </div>
    <ul class="nav-links">
      <li><a href="/teams">teams</a></li>
      <li><a href="/standings">standings</a></li>
      <li><a href="/power">rankings</a></li>
      <li><a href="/radar">radar</a></li>
      <li><a href="/versus">prediction</a></li>
      <li><a href="/best11">best/11</a></li>
      <li><a href="/forwards">forwards</a></li>
      <li><a href="/midfielders">midfield</a></li>
      <li><a href="/defenders">defense</a></li>
      <li><a href="/keepers">keepers</a></li>
      <li><a href="/goals">goals/assists</a></li>
      <li><a href="/discipline">discipline</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</div>
<!-- end of nav menu -->
<div class="desktop">
  <div class="page80">
    <div class="spacer"></div>
    <h3 class="xxfont" style="display: inline;">{{ weekday }} {{ month }} <b class="bold">{{ day }}</b></h3>
  </div>
</div>
<!-- Top container -->
<body id="top" class="{{ theme }}-colour">

  <div class="container">
    <div class="page80">

      <button id="backToTop" class="topbutton {{ theme }}-action textcenter">
        <a class="button text-white" href="#top">top</a>
      </button>

      {% block content %}
      {% endblock %}


      <!-- league information container -->
      <div>
        <div class="parent {{ theme }}-colour">
          <div class="boxs">
            <h3 class="bottombar blue-bar">Official Site</h3>
            <a class="button" href="https://canpl.ca/" target="_blank">Canadian Premier League</a><br>
            <a>Toronto, Canada</a>
          </div>
          <div class="boxs">
            <h3 class="bottombar pink-bar">Official TV Partner</h3>
            <a class="button" href="https://onesoccer.ca/" target="_blank">One Soccer</a><br>
            <a>Toronto, Canada</a>
          </div>
          <div class="boxl">
            <h3 class="bottombar green-bar">Club Links</h3>
            <table>
              <tr>
                <td class="t-left"><a class="button" href="https://atleticoottawa.canpl.ca/" target="_blank">Atletico Ottawa</a></td>
                <td class="t-left"><a class="button" href="https://cavalryfc.canpl.ca/" target="_blank">Cavalry FC</a></td>
              </tr>
              <tr>
                <td class="t-left"><a class="button" href="https://fcedmonton.canpl.ca/" target="_blank">FC Edmonton</a></td>
                <td class="t-left"><a class="button" href="https://forgefc.canpl.ca/" target="_blank">Forge FC</a></td>
              </tr>
              <tr>
                <td class="t-left"><a class="button" href="https://hfxwanderersfc.canpl.ca/" target="_blank">HFX Wanderers FC</a></td>
                <td class="t-left"><a class="button" href="https://pacificfc.canpl.ca/" target="_blank">Pacific FC</a></td>
              </tr>
              <tr>
                <td class="t-left"><a class="button" href="https://valourfc.canpl.ca/" target="_blank">Valour FC</a></td>
                <td class="t-left"><a class="button" href="https://yorkunitedfc.canpl.ca/" target="_blank">York United FC</a></td>
              </tr>
            </table>
          </div>
        </div>

      </div>
      <div class="spacer"></div>
      <!-- Footer -->
      <div class="spacer"></div>
      <footer class="{{ theme }}-colour">
        <a> Todd McCullough</a>
        <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{theme}}-colour fa fa-twitter"></i></a>
        <a href="https://github.com/tamccullough" target="_blank"><i class="{{theme}}-colour fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/tamccullough/" target="_blank"><i class="{{theme}}-colour fa fa-linkedin"></i></a>
      </footer>
      <!--div>
        <p>{{ player_line }}</p>
      </div-->
      <!-- End page content -->
    </div>
  </div>
  {% set colour_lst = ['lawngreen','lemonchiffon','lightblue','lightcoral','lightcyan','lightgreen','lightpink','lightsalmon','lightseagreen','lightskyblue','limegreen','linen','magenta','mintcream','mistyrose']%}
  <script src="static/css/app.js"></script>
  <script src="static/css/top.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
  <script type="text/javascript">
    new Chart(document.getElementById('playerLine'), {
      type: 'line',
      data: {
        labels: [
          {% for x in range(1,(player_line[0] | length)-1) %}
          {{ x }},
          {% endfor %}
          {{ (player_line[0] | length) }}
        ],
        datasets: [
          {% for i in range((player_line | length) -1) %}
          {
            label: 'data1',
            data: [
              {% for x in range(player_line[i] | length -1) %}
              {{ player_line[i][x] | safe }},
              {% endfor %}
              {{ player_line[i][-1] | safe}}

            ],
            fill: false,
            borderColor: '{{ colour_lst[i] }}',
            backgroundColor: '{{ colour_lst[i] }}'
          },
          {% endfor %}
          {
            label: 'data2',
            data: [
              {% for j in range(player_line[-1] | length -1) %}
              {{ player_line[-1][j] | safe }},
              {% endfor %}
              {{ player_line[-1][-1] | safe}}
            ],
            fill: false,
            borderColor: '{{ colour_lst[-1] }}',
            backgroundColor: '{{ colour_lst[-1] }}'
          }
        ],
      },
      options: {
        legend: {
            display: false,
        },
        scales: {
          yAxes: [
            {
              ticks: {
                fontColor: 'white'
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                fontColor: 'white'
              }
            }
          ]
        }
      }
    });
  </script>
  <script type="text/javascript">
    new Chart(document.getElementById('playerLineMobile'), {
      type: 'line',
      data: {
        labels: [
          {% for x in range(1,(player_line[0] | length)-1) %}
          {{ x }},
          {% endfor %}
          {{ (player_line[0] | length) }}
        ],
        datasets: [
          {% for i in range((player_line | length) -1) %}
          {
            label: 'data1',
            data: [
              {% for x in range(player_line[i] | length -1) %}
              {{ player_line[i][x] | safe }},
              {% endfor %}
              {{ player_line[i][-1] | safe}}

            ],
            fill: false,
            borderColor: '{{ colour_lst[i] }}',
            backgroundColor: '{{ colour_lst[i] }}'
          },
          {% endfor %}
          {
            label: 'data2',
            data: [
              {% for j in range(player_line[-1] | length -1) %}
              {{ player_line[-1][j] | safe }},
              {% endfor %}
              {{ player_line[-1][-1] | safe}}
            ],
            fill: false,
            borderColor: '{{ colour_lst[-1] }}',
            backgroundColor: '{{ colour_lst[-1] }}'
          }
        ],
      },
      options: {
        legend: {
            display: false,
        },
        scales: {
          yAxes: [
            {
              ticks: {
                fontColor: 'white'
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                fontColor: 'white'
              }
            }
          ]
        }
      }
    });
  </script>
  <script type="text/javascript">
    new Chart(document.getElementById('playerRadar'), {
      type: 'radar',
      data: {
        labels: [{{ radar_chart_cols | safe }}],
        datasets: [{
          data: [{{ radar_chart.loc[0].values[:]|join(',') }}],
          fill: true,
          backgroundColor: '{{ colour_lst[2] }}',
          borderColor: '{{ colour_lst[2] }}',
          pointHoverRadius: 10,
          pointHoverBackgroundColor: "#fff",
          pointBackgroundColor: '{{ colour_lst[2] }}'
        }]
      },
      options: {
        legend: {
          display: false
        },
        borderWidth: 10,
        scale: {
          ticks: {
            display: false,
            beginAtZero: true,
            maxTicksLimit: 10,
            max: 1
          },
          gridLines: {
            lineWidth: 0.5,
            color: '#fff'
          },
          pointLabels: {
            fontColor: '#fff',
            fontSize: 14,
            fontFamily: "'Lato', sans-serif"
          }
        }
      }
    });
  </script>
  <script type="text/javascript">
    new Chart(document.getElementById('playerRadarMobile'), {
      type: 'radar',
      data: {
        labels: [{{ radar_chart_cols | safe }}],
        datasets: [{
          data: [{{ radar_chart.loc[0].values[:]|join(',') }}],
          fill: true,
          backgroundColor: '{{ colour_lst[2] }}',
          borderColor: '{{ colour_lst[2] }}',
          pointHoverRadius: 10,
          pointHoverBackgroundColor: "#fff",
          pointBackgroundColor: '{{ colour_lst[2] }}'
        }]
      },
      options: {
        legend: {
          display: false
        },
        borderWidth: 10,
        scale: {
          ticks: {
            display: false,
            beginAtZero: true,
            maxTicksLimit: 10,
            max: 1
          },
          gridLines: {
            lineWidth: 0.5,
            color: '#fff'
          },
          pointLabels: {
            fontColor: '#fff',
            fontSize: 14,
            fontFamily: "'Lato', sans-serif"
          }
        }
      }
    });
  </script>
</body>
</html>
