<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg CanPL Player Profile</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Canadian Premier League (CanPL) statistics page for indidivually selected player stats.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon.png" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% extends 'base.html' %}
{% block content %}

{% if year != '2021' %}
{% set asterisk = '' %}
{% set NOTE = '' %}
{% else %}
{% set asterisk = '**' %}
{% set NOTE = '**NOTE: Overall, xG & xA are rolling results. Altered after each match played.' %}
{% endif %}

<!-- header -->
<h1>{{ error }}</h1>
  <form method="post" action="/player">
  <div class="parent">
    <div class="box">
      <h3><b>{{ name }} - {{ year }}</b></h3>
    </div>
    <div class="box textright">
      {% if (active_years | length) == 1 %}
      <p>Player was only active during the {{ active_years[0] }} season</p>
      {% else %}
      <p>Select season from years active;
        {% for x in range( active_years | length -1 ) %}
        <a><input href="{{ url_for('player') }}" class="table-button" type="submit" id="year" name="year" value="{{ active_years[x] }}"></input></a>,
      {% endfor %}
        <a><input href="{{ url_for('player') }}" class="table-button" type="submit" id="year" name="year" value="{{ active_years[-1] }}"></input></a>
      </p>
      {% endif %}
    </div>
  </div>
  <input type="hidden" id="name" name="name" value="{{ player_info.iloc[0]['name'] }}">
  </form>
  <div class="{{ theme }}-body">
    {% if request.referrer.split('/')[-1] %}
    <p>back to -> <a class="text-white button" id="go-back">{{ request.referrer.split('/')[-1] }}</a></p>
    {% else %}
    <p>back to -> <a class="text-white button" id="go-back">index</a></p>
    {% endif %}
  </div>

<!-- profile section including photo -->
<!-- IMAGE RADAR SMALL stats table -->
<div class="parent {{ team_colour }}">
  <div class="boxs center">
    <br>
      <img src="static/images/players/{{ year }}/{{ player_info.iloc[0]['image'] }}" alt="{{ player_info.iloc[0]['name'] }}" style="max-width:60%">
  </div>

  <div class="box">
    <br>
    <div class="mobile">
      <table>
        <tr>
          <td><a><img src="static/images/flags/{{ player_info.iloc[0]['flag'] }}" alt="{{ player_info.iloc[0]['flag'][:-4] }}" style="max-height:30px"><a></td>
          <td>{{ nationality }}</td>
          <td>O: {{ stats90.iloc[0]['O'] }}{{asterisk}}</td>
        </tr>
        <tr>
          <td>M: {{ stats90.iloc[0]['Min'] }}</td>
          <td>xG: {{ stats.iloc[0]['xG'] }}{{asterisk}}</td>
          <td>xA: {{ stats.iloc[0]['xA'] }}{{asterisk}}</td>
        </tr>
        <tr>
          <td>Y: {{ discipline.iloc[0]['Yellow'] }}</td>
          <td>R: {{ discipline.iloc[0]['Red'] }}</td>
          <td>#: {{ number }}</td>
        </tr>
      </table>
    </div>

    <div class="desktop">
      <br>
      <table>
        <tr>
          <td><a><img src="static/images/flags/{{ player_info.iloc[0]['flag'] }}" alt="{{ player_info.iloc[0]['flag'][:-4] }}" style="max-height:30px"><a></td>
          <td colspan="2">{{ nationality }}</td>
        </tr>
        <tr>
          <td>O: {{ stats.iloc[0]['O'] }}{{asterisk}}</td>
          <td>MIN: {{ stats.iloc[0]['Min']|int }}</td>
          <td>xG: {{ stats90.iloc[0]['xG'] }}{{asterisk}}</td>
        </tr>
        <tr>
          <td>xA: {{ stats90.iloc[0]['xA'] }}{{asterisk}}</td>
          <td>Y: {{ discipline.iloc[0]['Yellow'] }}</td>
          <td>R: {{ discipline.iloc[0]['Red'] }}</td>
        </tr>
        <tr>
          <td>2ndY: {{ discipline.iloc[0]['2ndYellow'] }}</td>
          <td>#: {{ number }}</td>
          <td>{{ position }}</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="box chartcontainer">
    <canvas id="playerRadar"></canvas>
  </div>

</div>
<!-- end of IMAGE RADAR SMALL stats table -->

<!-- LINE chart -->
<div class="{{ team_colour }}">
  <div class="tooltip">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hover here for stat explanation. **All stats are Per90 except;  Clean Sheets*maxSavesper90, Goals for clarity
    <p class="tooltiptext">
      {% for x in column_names[:-1] %}
      {{ x }}<br>
      {% endfor %}
      {{ column_names[-1]}}
    </p>
  </div>
  <div class="{{ team_colour }} indent">
    {% for i in range(chart_team_colour_list | length ) %}
    <h4 style="display:inline;border-bottom: 0.35rem solid {{ chart_team_colour_list[i] }};">{{ line_columns[i] }}</h4>
    {% endfor %}
  </div>
  <br>
  <div class="{{ team_colour }} chartcontainer">
    <canvas id="playerLine"></canvas>
  </div>
</div>
<!-- end of LINE chart -->

<!-- TABLE versions -->

<!-- mobile TABLE version -->
<div class="mobile">
    <div class="parent">
      <div class="{{ team_colour }}-2 indent" style="width:100%;">
        <a>Rolling Statistics</a>
      </div>
      <div class="parent">
        <div  class="{{ team_colour }}-2">
          <table class="sfont">
            <tr>
              {% for column in stats.columns[ 3 : col_nums[0] ] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ team_colour }}">
          <table class="sfont">
            <tr>
              {% for column in stats.columns[ 3 : col_nums[0] ] %}
                {% if (column == 'overall' or column == 'ExpG' or column == 'ExpA')%}
                <td>{{ stats.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats.iloc[0][column]|int }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      <div class="parent">
        <div  class="{{ team_colour }}-2">
          <table class="sfont">
            <tr>
              {% for column in stats.columns[ col_nums[0] :-2] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ team_colour }}">
          <table class="sfont">
            <tr>
              {% for column in stats.columns[ col_nums[0] :-2] %}
                {% if (column == 'overall' or column == 'xg' or column == 'xa')%}
                <td>{{ stats.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats.iloc[0][column]|int }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      <div class="{{ team_colour }}-2 indent" style="width:100%;">
        <a>Rolling Statistics Per 90</a>
      </div>
      <div class="parent">
        <div  class="{{ team_colour }}-2">
          <table class="sfont">
            <tr>
              {% for column in stats90.columns[ 3 : col_nums[0] ] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ team_colour }}">
          <table class="sfont">
            <tr>
              {% for column in stats90.columns[ 3 : col_nums[0] ] %}
                {% if column == 'Min'%}
                <td>per{{ stats90.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats90.iloc[0][column] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      <div class="parent">
        <div class="{{ team_colour }}-2">
          <table class="sfont">
            <tr>
              {% for column in stats90.columns[ col_nums[0] :-2] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ team_colour }}">
          <table class="sfont">
            <tr>
              {% for column in stats90.columns[ col_nums[0] :-2] %}
                {% if column == 'Min'%}
                <td>per{{ stats90.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats90.iloc[0][column] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    </div>
</div>
<!-- end of MOBILE table version -->
<!-- desktop TABLE version -->
<div class="desktop">
  <div class="{{ team_colour }}-2 indent">
    <h4>Rolling Statistics</h4>
  </div>
    <div class="parent {{ team_colour }}">
      <div class="parent">
        <div  class="{{ team_colour }}-2">
          <table class="sfont">
            <tr>
              {% for column in stats.columns[ 3 :-2 ] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ theme }}-light">
          <table>
            <tr>
              {% for column in stats.columns[ 3 :-2 ] %}
                {% if (column == 'overall' or column == 'xg' or column == 'xa')%}
                <td>{{ stats.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats.iloc[0][column]|int }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      <div  class="{{ team_colour }}-2 indent" style="width:100%;">
        <h4>Rolling Statistics Per 90</h4>
      </div>
      <div class="parent">
        <div class="{{ team_colour }}-2">
          <table class="sfont">
            <tr>
              {% for column in stats90.columns[ 3 :-2] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ theme }}-light">
          <table>
            <tr>
              {% for column in stats90.columns[ 3 :-2] %}
                {% if column == 'Min'%}
                <td>per{{ stats90.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats90.iloc[0][column] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    </div>
</div>
<!-- end of DESKTOP table section -->

<!-- end of TABLE versions -->

  <div class=" {{ team_colour }}" style="width:100%;">
    <div class="spacer"></div>
    <div style="text-align:right; padding: 0px 15px;">
      <a class="text-white button" href="{{ player_info.iloc[0]['link'] }}" target="_blank"><b> Wiki Link</b></a>
    </div>
    <div class="mobile">
      <a style="font-size:0.7em;">{{NOTE}}</a>
    </div>
    <div class="desktop">
      <a style=" padding: 0px 15px;">{{NOTE}}</a>
    </div>
    <div class="spacer"></div>
  </div>
  <!-- end of graph and table section -->



  {% endblock %}
