<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg CanPL Player Comparison</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Canadian Premier League (CanPL) select two different players to view their individual stats during the selected year.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon.png" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% extends 't-base.html' %}
{% block content %}

<div class="mobile">
  <a>{{ year }} Stats</a>
  <ul class="position">
    <li><a href="/compare">cmpr2</a></li>
    <li><a href="/goals">g/a</a></li>
    <li><a href="/defenders">def</a></li>
    <li><a href="/forwards">atck</a></li>
    <li><a href="/keepers">keep</a></li>
    <li><a href="/midfielders">mid</a></li>
  </ul>
  <br>
</div>

<div class="desktop">
  <ul class="position">
    <li><a href="/compare">compare-2</a></li>
    <li><a href="/goals">goals/assists</a></li>
    <li><a href="/defenders">defenders</a></li>
    <li><a href="/forwards">forwards</a></li>
    <li><a href="/keepers">keepers</a></li>
    <li><a href="/midfielders">midfielders</a></li>
  </ul>
</div>

<div>
  <div class="parent">
    <div class="boxs">
      <a>{{ headline }}</a>
    </div>
    <div class="boxs textright">
      <a class="button" href="/compare">refresh</a>
    </div>
  </div>
</div>
<!-- page content -->
<div class="parent">
  <!-- player 1 stats -->
  <div class="boxl {{ player1_colour }}">
    <hr>
    <form method="post" action="{{ url_for(request.endpoint) }}">
      <div class="parent">
        <div class="form boxs">
          <select name="player1_pos" id="player1_pos" onchange="this.form.submit();">
            <option value="">{{ player1_pos }}</option>
            <option value="defenders">defenders</option>
            <option value="forwards">forwards</option>
            <option value="keepers">keepers</option>
            <option value="midfielders">midfielders</option>
          </select>
        </div>
        <div class="form boxs">
          <select name="player1" id="player1" onchange="this.form.submit();">
            <option value="">select player 1</option>
            {% for name in player1_select_list %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form boxs">
          <select name="player1YR" id="player1YR" onchange="this.form.submit();">
            <option value="">{{ p1_year }}</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
          </select>
        </div>
      </div>
      <input type="hidden" id="player1_pos" name="player1_pos" value="{{ player1_pos }}">
      <input type="hidden" id="player1" name="player1" value="{{ player_names[0] }}">
      <input type="hidden" id="player1YR" name="player1YR" value="{{ p1_year }}">
      <input type="hidden" id="player2_pos" name="player2_pos" value="{{ player2_pos }}">
      <input type="hidden" id="player2" name="player2" value="{{ player_names[1] }}">
      <input type="hidden" id="player2YR" name="player2YR" value="{{ p2_year }}">
    </form>
    <div class="textcenter">
      <table>
        <tr>
          <td style="width:30%;" rowspan="2"><img src="static/images/players/{{ p1_year }}/{{ player1_image }}" alt="{{ player_names[0] }} photo" style="max-height:100px"></td>
          <td class="xfont"><h2>{{ p1_year }}</h2></td>
        </tr>
        <tr>
          <td><h4 class="xxfont">{{ player_names[0] }}</h4></td>
        </tr>
      </table>
        <table>
          <tr>
            <td><a><img src="static/images/flags/{{ player1_flag }}" alt="{{ player1_flag[:-4] }} national flag" style="max-height:30px"><a></td>
            <td><h4 style="margin-top: 5px;">{{ player1_pos[:-1] }}</h4></td>
            <td><h4 style="margin-top: 5px;">{{ player1_num }}</h4></td>
          </tr>
        </table>
        <table>
          <tr>
            <td><h4 style="margin-top: 5px;">O: {{ player1_over }}</h4></td>
            {% if player1_pos == 'defenders'%}
            <td><h4 style="margin-top: 5px;">Int: {{ player1_special1 }}</h4></td>
            <td><h4 style="margin-top: 5px;">Clr: {{ player1_special2 }}</h4></td>
            {% elif player1_pos == 'keepers' %}
            <td><h4 style="margin-top: 5px;">CS: {{ player1_special1 }}</h4></td>
            <td><h4 style="margin-top: 5px;">Saves: {{ player1_special2 }}</h4></td>
            {% else %}
            <td><h4 style="margin-top: 5px;">xG: {{ player1_special1 }}</h4></td>
            <td><h4 style="margin-top: 5px;">XA: {{ player1_special2 }}</h4></td>
            {% endif %}
            <td><h4 style="margin-top: 5px;">Min: {{ player1_min }}</h4></td>
          </tr>
        </table>

      </div>
      <hr>
    </div>
    <!-- END OF home team stats -->

    <!-- player 2 stats -->
    <div class="boxl {{ player2_colour }}">
      <hr>
      <form method="post" action="{{ url_for(request.endpoint) }}">
        <div class="parent">
          {% if (player1_pos == 'defenders') or (player1_pos == 'keepers') %}
          <div class="boxs textcenter">
          </div>
          {% else %}
          <div class="form boxs">
            <select name="player2_pos" id="player2_pos" onchange="this.form.submit();">
              <option value="">{{ player2_pos }}</option>
              <option value="forwards">forwards</option>
              <option value="midfielders">midfielders</option>
            </select>
          </div>
          {% endif %}
          <div class="form boxs">
            <select name="player2" id="player2" onchange="this.form.submit();">
              <option value="">select player 2</option>
              {% for name in player2_select_list %}
              <option value="{{ name }}">{{ name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form boxs">
            <select name="player2YR" id="player2YR" onchange="this.form.submit();">
              <option value="">{{ p2_year }}</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
            </select>
          </div>
        </div>
        <input type="hidden" id="player1_pos" name="player1_pos" value="{{ player1_pos }}">
        <input type="hidden" id="player1" name="player1" value="{{ player_names[0] }}">
        <input type="hidden" id="player1YR" name="player1YR" value="{{ p1_year }}">
        <input type="hidden" id="player2_pos" name="player2_pos" value="{{ player2_pos }}">
        <input type="hidden" id="player2" name="player2" value="{{ player_names[1] }}">
        <input type="hidden" id="player2YR" name="player2YR" value="{{ p2_year }}">
      </form>
      <div class="textcenter">
        <table>
          <tr>
            <td style="width:30%;" rowspan="2"><img src="static/images/players/{{ p2_year }}/{{ player2_image }}" alt="{{ player_names[1] }} photo" style="max-height:100px"></td>
            <td class="xfont"><h2>{{ p2_year }}</h2></td>
          </tr>
          <tr>
            <td><h4 class="xxfont">{{ player_names[1] }}</h4></td>
          </tr>
        </table>

        <table>
          <tr>
            <td><a><img src="static/images/flags/{{ player2_flag }}" alt="{{ player2_flag[:-4] }} national flag" style="max-height:30px"><a></td>
            <td><h4 style="margin-top: 5px;">{{ player2_pos[:-1] }}</h4></td>
            <td><h4 style="margin-top: 5px;">{{ player2_num }}</h4></td>
          </tr>
        </table>

        <table>
          <tr>
            <td><h4 style="margin-top: 5px;">O: {{ player2_over }}</h4></td>
            {% if player2_pos == 'defenders'%}
            <td><h4 style="margin-top: 5px;">Int: {{ player2_special1 }}</h4></td>
            <td><h4 style="margin-top: 5px;">Clr: {{ player2_special2 }}</h4></td>
            {% elif player2_pos == 'keepers' %}
            <td><h4 style="margin-top: 5px;">CS: {{ player2_special1 }}</h4></td>
            <td><h4 style="margin-top: 5px;">Saves: {{ player2_special2 }}</h4></td>
            {% else %}
            <td><h4 style="margin-top: 5px;">xG: {{ player2_special1 }}</h4></td>
            <td><h4 style="margin-top: 5px;">XA: {{ player2_special2 }}</h4></td>
            {% endif %}
            <td><h4 style="margin-top: 5px;">Min: {{ player2_min }}</h4></td>
          </tr>
        </table>
        </div>
        <hr>
      </div>
      <!-- END OF away team stats -->
    </div>
    {% set i = 0 %}
    {% for word in ['testing','testing2','testing3','testing4']%}
    <div class="{{ theme }}-grey">
      <div class="tooltip">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ line_columns[loop.index-1] }}
        <p class="tooltiptext">
          {% for x in player_names[:-1] %}
          {{ x }}<br>
          {% endfor %}
          {{ player_names[-1]}}
        </p>
      </div>
      <div class="indent">
        {% for i in range(chart_team_colour_list | length ) %}
        <h4 style="display:inline;border-bottom: 0.35rem solid {{ chart_team_colour_list[i] }};">{{ player_names[i] }}</h4>
        {% endfor %}
      </div>
      <br>
      <div class="chartcontainer">
        <canvas id="{{ word }}"></canvas>
      </div>
    </div>
    {% endfor %}



    {% endblock %}
