<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>XGXA CanPL Player Profile</title>
  <meta name="description" content="Canadian Premier League statistics page for indidivually selected player stats.">
</head>

{% extends 'base.html' %}
{% block content %}

{% if year != '2021' %}
{% set NOTE ='**NOTE: Overall, xG & xA are final season results.' %}
{% set age_diff = 2021 - (year | int) %}
{% else %}
{% set NOTE = '**NOTE: Overall, xG & xA are rolling results. Altered after each match played.' %}
{% set age_diff = 0 %}
{% endif %}
{% if position == 'keeper' %}
{% set CHECK = 0 %}
{% elif position == 'defender' %}
{% set CHECK = 1 %}
{% else %}
{% set CHECK = 2 %}
{% endif %}
{% set mult90 = stats90.iloc[0]['Min'] / 90 %}
<!-- header -->
  <form method="post" action="/player">
  <div class="parent">
    <div class="box">
      <h3>{{ name }} - {{ year }}</h3>
    </div>
    <div class="box textright">
      {% if (active_years | length) == 1 %}
      <p>Active in {{ active_years[0] }} only</p>
      {% else %}
      <p>Active during;
        {% for x in range( active_years | length -1 ) %}
        <a><input href="{{ url_for('player') }}" class="table-button" type="submit" id="year" name="year" value="{{ active_years[x] }}"></input></a>,
      {% endfor %}
        <a><input href="{{ url_for('player') }}" class="table-button" type="submit" id="year" name="year" value="{{ active_years[-1] }}"></input></a>
      </p>
      {% endif %}
    </div>
  </div>
  <input type="hidden" id="name" name="name" value="{{ player_info.iloc[0]['name'] }}">
  </form>
  <div class="{{ theme }}-body">
    {% if request.referrer.split('/')[-1] %}
    <p>back to -> <a class="text-white button" id="go-back">{{ request.referrer.split('/')[-1] }}</a></p>
    {% else %}
    <p>back to -> <a class="text-white button" id="go-back">index</a></p>
    {% endif %}
  </div>

<!-- profile section including photo -->
<!-- IMAGE RADAR SMALL stats table -->
<div class="parent {{ team_colour }}">
  <div class="boxs center">
    <br>
      <img src="static/images/players/{{ year }}/{{ player_info.iloc[0]['image'] }}" alt="{{ player_info.iloc[0]['name'] }}" style="max-width:60%">
  </div>

  <div class="box">
    <br>
    <div class="mobile">
      <table>
        <tr>
          <td><a><img src="static/images/flags/{{ player_info.iloc[0]['flag'] }}" alt="{{ player_info.iloc[0]['flag'][:-4] }}" style="max-height:30px"><a></td>
          <td>{{ nationality }}</td>
        </tr>
        <tr>
          <td>Age:</td>
          {% if age_diff != 0 %}
          <th>Age|{{ year }}:</th>
          {% else %}
          <td>Age:</td>
          {% endif %}
          <td>{{ (age | int ) - age_diff }}</td>
          <td>O: {{ stats.iloc[0]['O'] }}{{asterisk}}</td>
        </tr>
        <tr>
          <td>M: {{ stats.iloc[0]['Min'] }}</td>
          <td>xG: {{ stats.iloc[0]['xG'] }}{{asterisk}}</td>
          <td>xA: {{ stats.iloc[0]['xA'] }}{{asterisk}}</td>
        </tr>
        <tr>
          <td>Y: {{ discipline.iloc[0]['Yellow'] }}</td>
          <td>R: {{ discipline.iloc[0]['Red'] }}</td>
          <td>#: {{ number }}</td>
        </tr>
      </table>
    </div>

    <div class="desktop">
      <table>
        <tr>
          <td><a><img src="static/images/flags/{{ player_info.iloc[0]['flag'] }}" alt="{{ player_info.iloc[0]['flag'][:-4] }}" style="max-height:30px"><a></td>
          <td colspan="2">{{ nationality }}</td>
        </tr>
        <tr>
          {% if age_diff != 0 %}
          <th style="text-indent:15px;">Age|{{ year }}:</th>
          {% else %}
          <th style="text-indent:15px;">Age:</th>
          {% endif %}
          <th>{{ (age | int ) - age_diff }}</th>
        </tr>
        <tr>
          <td>O: {{ stats.iloc[0]['O'] }}{{asterisk}}</td>
          {% if CHECK == 0 %}
          <td>xCS: {{ ((stats.iloc[0]['Min']/90) * stats90.iloc[0]['CS']) | round(2) }}{{asterisk}}</td>
          <td>xSV: {{ ((stats.iloc[0]['Min']/90) * stats90.iloc[0]['SV']) | round(2) }}{{asterisk}}</td>
          {% elif CHECK == 1 %}
          <td>xInt: {{ ((stats.iloc[0]['Min']/90) * stats90.iloc[0]['int']) | round(2) }}{{asterisk}}</td>
          <td>xsTkl: {{ ((stats.iloc[0]['Min']/90) * stats90.iloc[0]['sTkl']) | round(2) }}{{asterisk}}</td>
          {% else %}
          <td>xG: {{ ((stats.iloc[0]['Min']/90) * stats90.iloc[0]['xG']) | round(2) }}{{asterisk}}</td>
          <td>xA: {{ ((stats.iloc[0]['Min']/90) * stats90.iloc[0]['xA']) | round(2) }}{{asterisk}}</td>
          {% endif %}
        </tr>
        <tr>
          <td>MIN: {{ stats.iloc[0]['Min']|int }}</td>
          <td>Y: {{ discipline.iloc[0]['Yellow'] }}</td>
          <td>R: {{ discipline.iloc[0]['Red'] }}</td>
        </tr>
        <tr>
          <td>2ndY: {{ discipline.iloc[0]['2ndYellow'] }}</td>
          <td>#: {{ number }}</td>
          <td>{{ position }}</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="box">
    <canvas id="playerRadar"></canvas>
  </div>

</div>
<!-- end of IMAGE RADAR SMALL stats table -->

<!-- LINE chart -->
<div class="{{ team_colour }}">
  <div class="tooltip font-s">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**All stats are Per90 except;Clean Sheets*maxSavesper90, Goals for clarity
    <p class="tooltiptext">
      {% for x in column_names[:-1] %}
      {{ x }}<br>
      {% endfor %}
      {{ column_names[-1]}}
    </p>
  </div>
  <div class="{{ team_colour }} indent">
    {% for i in range(chart_team_colour_list | length ) %}
    <h4 style="display:inline;border-bottom: 0.35rem solid {{ chart_team_colour_list[i] }};">{{ line_columns[i] }}</h4>
    {% endfor %}
  </div>
  <br>
  <div class="{{ team_colour }}">
    <canvas id="playerLine"></canvas>
  </div>
</div>
<!-- end of LINE chart -->

<!-- TABLE versions -->

<!-- mobile TABLE version -->
<div class="mobile">
    <div class="parent">
      <div class="{{ team_colour }}-2 indent" style="width:100%;">
        <a>Rolling Statistics</a>
      </div>
      <div class="parent">
        <div  class="{{ team_colour }}-2">
          <table class="sfont">
            <tr>
              {% for column in stats.columns[ 3 : col_nums[0] ] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ team_colour }}">
          <table class="sfont">
            <tr>
              {% for column in stats.columns[ 3 : col_nums[0] ] %}
                {% if column in ['O','xG','xA'] %}
                <td>{{ stats90.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats.iloc[0][column]|int }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      <div class="parent">
        <div  class="{{ team_colour }}-2">
          <table class="sfont">
            <tr>
              {% for column in stats.columns[ col_nums[0] :-2] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ team_colour }}">
          <table class="sfont">
            <tr>
              {% for column in stats.columns[ col_nums[0] :-2] %}
                {% if column in ['O','xG','xA'] %}
                <td>{{ stats90.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats.iloc[0][column]|int }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      <div class="{{ team_colour }}-2 indent" style="width:100%;">
        <a>Rolling Statistics Per 90</a>
      </div>
      <div class="parent">
        <div  class="{{ team_colour }}-2">
          <table class="sfont">
            <tr>
              {% for column in stats90.columns[ 3 : col_nums[0] ] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ team_colour }}">
          <table class="sfont">
            <tr>
              {% for column in stats90.columns[ 3 : col_nums[0] ] %}
                {% if column == 'Min'%}
                <td>per{{ stats90.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats90.iloc[0][column] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      <div class="parent">
        <div class="{{ team_colour }}-2">
          <table class="sfont">
            <tr>
              {% for column in stats90.columns[ col_nums[0] :-2] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ team_colour }}">
          <table class="sfont">
            <tr>
              {% for column in stats90.columns[ col_nums[0] :-2] %}
                {% if column == 'Min'%}
                <td>per{{ stats90.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats90.iloc[0][column] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    </div>
</div>
<!-- end of MOBILE table version -->
<!-- desktop TABLE version -->
<div class="desktop">
  <div class="{{ team_colour }}-2 indent">
    <h4>Rolling Statistics</h4>
  </div>
    <div class="parent {{ team_colour }}">
      <div class="parent">
        <div  class="{{ team_colour }}-2">
          <table class="sfont">
            <tr>
              {% for column in stats.columns[ 3 :-2 ] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ theme }}-light">
          <table>
            <tr>
              {% for column in stats.columns[ 3 :-2 ] %}
                {% if column in ['O','xG','xA'] %}
                  {% if column in ['xG','xA'] %}
                  <td>{{ ((stats.iloc[0]['Min']/90) * stats90.iloc[0][column]) | round(2) }}</td>
                  {% else %}
                  <td>{{ stats90.iloc[0][column] }}</td>
                  {% endif %}
                {% else %}
                <td>{{ stats.iloc[0][column]|int }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      <div  class="{{ team_colour }}-2 indent" style="width:100%;">
        <h4>Rolling Statistics Per 90</h4>
      </div>
      <div class="parent">
        <div class="{{ team_colour }}-2">
          <table class="sfont">
            <tr>
              {% for column in stats90.columns[ 3 :-2] %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
        <div class="{{ theme }}-light">
          <table>
            <tr>
              {% for column in stats90.columns[ 3 :-2] %}
                {% if column == 'Min'%}
                <td>per{{ stats90.iloc[0][column] }}</td>
                {% else %}
                <td>{{ stats90.iloc[0][column] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    </div>
</div>
<!-- end of DESKTOP table section -->

<!-- end of TABLE versions -->

  <div class=" {{ team_colour }}" style="width:100%;">
    <div class="spacer"></div>
    <div class="parent">
      <div class="box" style="text-align:left; padding: 0px 15px;">
        <a class="text-white button" href="{{ player_info.iloc[0]['link'] }}" target="_blank">Wiki Link</a>
      </div>
      <div class="box" style="text-align:right; padding: 0px 15px;">
        <a class="text-white button" href="https://www.youtube.com/results?search_query={{ name.split(' ')[0] }}+{{ name.split(' ')[1:]|map('title')|join(' ') }}+highlights" target="_blank">Youtube Highlights</a>
      </div>
    </div>
    <div class="mobile">
      <a class="font-s">{{NOTE}}</a>
    </div>
    <div class="desktop">
      <a class="font-s" style=" padding: 0px 15px;">{{NOTE}}</a>
    </div>
    <div class="spacer"></div>
  </div>
  <!-- end of graph and table section -->
  <!--div class="{{ team_colour }} center" style="width:100%;">
    <iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/results?search_query={{ name.split(' ')[0] }}+{{ name.split(' ')[1:]|map('title')|join(' ') }}+highlights"
  frameborder="0"></iframe>
</div-->



  {% endblock %}
