{% set columns = ['Min', 'G', 'xG', 'O'] %}
{% if request.endpoint[-3:] == '_90' %}
{% set PAGE = request.endpoint[:-3] %}
{% else %}
{% set PAGE = request.endpoint %}
{% endif %}
{% if position_link == 'midfielders' %}
{% set columns = ['Min', 'Pc%', 'Tcha', 'O'] %}
{% endif %}
{% if position_link == 'defenders' %}
{% set columns = ['Min', 'int', 'Clr', 'O'] %}
{% endif %}
{% if position_link == 'keepers' %}
{% set PAGE = 'goal keepers ' %}
{% set columns = ['Min', 'CS', 'SV', 'O'] %}
{% else %}
{% endif %}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>{{ year }} Ranked {{ position_link | title }} Table</title>
  <meta name="description" content="Canadian Premier League Statistics, top defenders, forwards, goalkeepers and midfielders.">
</head>

{% extends 'base.html' %}
{% block content %}
<div class="mobile">
  <a>{{ year }} Stats</a>
  <ul class="position">
    <li><a href="/compare">cmpr2</a></li>
    <li><a href="/goals">g/a</a></li>
    <li><a href="/defenders">def</a></li>
    <li><a href="/forwards">atck</a></li>
    <li><a href="/keepers">keep</a></li>
    <li><a href="/midfielders">mid</a></li>
  </ul>
  <br>
</div>

<div class="desktop">
  <ul class="position">
    <li><a href="/compare">compare-2</a></li>
    <li><a href="/goals">goals/assists</a></li>
    <li><a href="/defenders">defenders</a></li>
    <li><a href="/forwards">forwards</a></li>
    <li><a href="/keepers">keepers</a></li>
    <li><a href="/midfielders">midfielders</a></li>
  </ul>
</div>

<!-- page content -->
{% include "position-form.html" %}

<!-- body -->
<div class="mobile">
  <h4>NOTE: Mobile version shows only a slice of criteria</h4>
  <!-- top position table -->
  <div class="parent {{ theme }}-dark">
    <div class="{{ theme }}-dark">
      <table class="sfont">
        <tr>
          <th style="text-align:left;">rank/team</th>
          <th style="width:38%;">name</th>
          {% for col in columns %}
          <th>
            <div class="table-tooltip">
              <p class="table-tooltiptext">{{ tooltip[col] }}</p>
              {{ col }}
            </div>
          </th>
          {% endfor%}
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    <div class="{{ theme }}-light">
      <table class="sfont">
        {% if 10 > html_table.shape[0] %}
        {% set table_range = html_table.shape[0] %}
        {% else %}
        {% set table_range = 10 %}
        {% endif %}
        {% for i in range(0,table_range) %}
        <tr>
            <td>{{ i + 1 }}/{{ html_table.iloc[i]['team'] }}</td>
            {% if (html_table.iloc[i]['display'] | length) > 20 %}
            <td style="text-align:left;width:38%;">{{ html_table.iloc[i]['display'].split(None,1)[1] }}</td>
            {% else %}
            <td style="text-align:left;width:38%;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['display'] }}"></input></td>
            {% endif %}
            {% for col in columns %}
            <td>{{ html_table.iloc[i][col] }}</td>
            {% endfor%}
        </tr>
        {% endfor%}
      </table>
    </div>
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  <!-- end of top position table-->
  <!-- position table -->
  {% if 10 > html_table.shape[0] %}
  {% else %}
  <span><h4 class="{{ theme }}-dark indent">rest of the table</h4></span>
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table class="sfont">
        <tr>
          <th style="text-align:left;">team</th>
          <th style="text-align:left;width:38%;">name</th>
          {% for col in columns %}
          <th>{{ col }}</th>
          {% endfor%}
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    <div class="{{ theme }}-light">
      <table class="sfont">
        {% for i in range(10,html_table.shape[0]) %}
        <tr>
            <td>{{ i + 1 }}/{{ html_table.iloc[i]['team'] }}</td>
            <td style="text-align:left;width:38%;"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['display'] }}"></input></td>
            {% for col in columns %}
            <td>{{ html_table.iloc[i][col] }}</td>
            {% endfor%}
        </tr>
        {% endfor%}
      </table>
    </div>
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  {% endif %}
  <!-- end of position table-->
</div>

<div class="desktop">
  <!-- top position table -->
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table class="table-collapse sfont">
        <tr>
          <th style="text-align:left;width:3vw;">rank/team</th>
          <th style="width:10vw;">name</th>
          {% for col in html_table.columns[2:-2] %}
          <th style="width:2vw;">
            <div class="table-tooltip">
              <p class="table-tooltiptext">{{ tooltip[col] }}</p>
              {{ col }}
            </div>
          </th>
          {% endfor%}
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    <div class="{{ theme }}-light">
      <table class="table-collapse sfont">
        {% if 10 > html_table.shape[0] %}
        {% set table_range = html_table.shape[0] %}
        {% else %}
        {% set table_range = 10 %}
        {% endif %}
        {% for i in range(0,table_range) %}
        <tr>
            <td style="text-align:left;width:3vw;">{{ i + 1 }} / {{ html_table.iloc[i]['team'] }}</td>
            <td style="text-align:left;width:10vw;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['display'] }}"></input></td>
            {% for col in html_table.columns[2:-2] %}
            <td style="width:2vw;">{{ html_table.iloc[i][col] }}</td>
            {% endfor%}
        </tr>
        {% endfor%}
      </table>
    </div>
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  <!-- end of top position table-->
  <!-- position table -->
  {% if 10 > html_table.shape[0] %}
  {% else %}
  <span><h4 class="{{ theme }}-dark indent">rest of the table</h4></span>
  <div class="parent {{ theme }}-dark">
    <div class="{{ theme }}-dark">
      <table class="table-collapse sfont">
        <tr>
          <th style="text-align:left;width:3vw;">team</th>
          <th style="width:10vw;">name</th>
          {% for col in html_table.columns[2:-2] %}
          <th style="width:2vw;">{{ col }}</th>
          {% endfor%}
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    <div class="{{ theme }}-light">
      <table class="table-collapse sfont">
        {% for i in range(10,html_table.shape[0]) %}
        <tr>
            <td style="text-align:left;width:3vw;">{{ i + 1 }} / {{ html_table.iloc[i]['team'] }}</td>
            <td style="text-align:left;width:10vw;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['display'] }}"></input></td>
            {% for col in html_table.columns[2:-2] %}
            <td style="width:2vw;">{{ html_table.iloc[i][col] }}</td>
            {% endfor%}
        </tr>
        {% endfor%}
      </table>
    </div>
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  {% endif %}
  <!-- end of position table-->
</div>

{% endblock %}
