
{% if request.endpoint[-3:] == '_90' %}
{% set PAGE = request.endpoint[:-3] %}
{% else %}
{% set PAGE = request.endpoint %}
{% endif %}

{% if PAGE == 'keepers' %}
{% set PAGE = 'goal keepers ' %}
{% else %}
{% endif %}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg CanPL All {{ PAGE | title }} Player Statistics</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Canadian Premier League (CanPL) statistics for all players playing in the {{ PAGE[:-1] }} position.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon.png" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% extends 'base.html' %}
{% block content %}

<div class="mobile">
  <a>{{ year }} Stats</a>
  <ul class="position">
    <li><a href="/compare">cmpr2</a></li>
    <li><a href="/goals">g / a</a></li>
    <li><a href="/defenders">def</a></li>
    <li><a href="/forwards">atck</a></li>
    <li><a href="/keepers">keep</a></li>
    <li><a href="/midfielders">mid</a></li>
  </ul>
  <br>
</div>

<div class="desktop">
  <ul class="position">
    <li><a href="/compare">compare-2</a></li>
    <li><a href="/goals">goals/assists</a></li>
    <li><a href="/defenders">defenders</a></li>
    <li><a href="/forwards">forwards</a></li>
    <li><a href="/keepers">keepers</a></li>
    <li><a href="/midfielders">midfielders</a></li>
  </ul>
</div>

<!-- page content -->
{% include "position-form.html" %}

<!-- body -->
<div class="mobile">
  <!-- top position table -->
  <div class="parent {{ theme }}-dark">
    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <th style="text-align:left;">team</th>
          <th style="width:38%;">name</th>
          {% for col in html_table.columns[2:6] %}
          <th>{{ col }}</th>
          {% endfor%}
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    <div class="{{ theme }}-light">
      <table class="sfont">
        {% for i in range(0,9) %}
        <tr>
            <td>{{ html_table.iloc[i]['team'] }}</td>
            <!--td style="text-align:right;width:20%;"><b>{{ html_table.iloc[i]['name'] }}</b></td-->
            <td style="text-align:left;width:38%;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['display'] }}"></input></td>
            {% for col in html_table.columns[2:6] %}
            <td>{{ html_table.iloc[i][col] }}</td>
            {% endfor%}
        </tr>
        {% endfor%}
      </table>
    </div>
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  <!-- end of top position table-->
  <!-- position table -->
  <span><h4 class="{{ theme }}-dark indent"><b>rest of the table</b></h4></span>
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table class="sfont">
        <tr>
          <th style="text-align:left;">team</th>
          <th style="text-align:left;width:38%;">name</th>
          {% for col in html_table.columns[2:6] %}
          <th>{{ col }}</th>
          {% endfor%}
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    <div class="{{ theme }}-light">
      <table class="sfont">
        {% for i in range(9,html_table.shape[0]) %}
        <tr>
            <td>{{ html_table.iloc[i]['team'] }}</td>
            <!--td style="text-align:right;width:20%;"><b>{{ html_table.iloc[i]['name'] }}</b></td-->
            <td style="text-align:left;width:38%;"><input href="{{ url_for('player') }}" class="table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['display'] }}"></input></td>
            {% for col in html_table.columns[2:6] %}
            <td>{{ html_table.iloc[i][col] }}</td>
            {% endfor%}
        </tr>
        {% endfor%}
      </table>
    </div>
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  <!-- end of position table-->
</div>

<div class="desktop">
  <!-- top position table -->
  <div class="parent {{ theme }}-dark">

    <div class="{{ theme }}-dark">
      <table class="table-collapse sfont">
        <tr>
          <th style="text-align:left;width:3vw;">team</th>
          <th style="width:10vw;">name</th>
          {% for col in html_table.columns[2:-2] %}
          <th style="width:2vw;">{{ col }}</th>
          {% endfor%}
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    <div class="{{ theme }}-light">
      <table class="table-collapse sfont">
        {% for i in range(0,9) %}
        <tr>
            <td style="text-align:left;width:3vw;">{{ html_table.iloc[i]['team'] }}</td>
            <!--td style="text-align:right;width:20%;"><b>{{ html_table.iloc[i]['name'] }}</b></td-->
            <td style="text-align:left;width:10vw;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['display'] }}"></input></td>
            {% for col in html_table.columns[2:-2] %}
            <td style="width:2vw;">{{ html_table.iloc[i][col] }}</td>
            {% endfor%}
        </tr>
        {% endfor%}
      </table>
    </div>
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  <!-- end of top position table-->
  <!-- position table -->
  <span><h4 class="{{ theme }}-dark indent"><b>rest of the table</b></h4></span>
  <div class="parent {{ theme }}-dark">
    <div class="{{ theme }}-dark">
      <table class="table-collapse sfont">
        <tr>
          <th style="text-align:left;width:3vw;">team</th>
          <th style="width:10vw;">name</th>
          {% for col in html_table.columns[2:-2] %}
          <th style="width:2vw;">{{ col }}</th>
          {% endfor%}
        </tr>
      </table>
    </div>
  </div>
  <div class="parent {{ theme }}-light">
    <form method="POST" action="/player">
    <div class="{{ theme }}-light">
      <table class="table-collapse sfont">
        {% for i in range(9,html_table.shape[0]) %}
        <tr>
            <td style="text-align:left;width:3vw;">{{ html_table.iloc[i]['team'] }}</td>
            <td style="text-align:left;width:10vw;"><input href="{{ url_for('player') }}" class="{{ team_colour }} table-button" type="submit" id="name" name="name" value="{{ html_table.iloc[i]['display'] }}"></input></td>
            {% for col in html_table.columns[2:-2] %}
            <td style="width:2vw;">{{ html_table.iloc[i][col] }}</td>
            {% endfor%}
        </tr>
        {% endfor%}
      </table>
    </div>
    <input type="hidden" id="year" name="year" value="{{ year }}">
    </form>
  </div>
  <!-- end of position table-->
</div>

{% endblock %}
