
{% if request.endpoint[-3:] == '_90' %}
{% set PAGE = request.endpoint[:-3] %}
{% set MIN = ' per 90' %}
{% set button1 = 'action' %}
{% set button2 = 'dark' %}
{% else %}
{% set PAGE = request.endpoint %}
{% set MIN = '' %}
{% set button1 = 'dark' %}
{% set button2 = 'action' %}
{% endif %}

{% if PAGE == 'keepers' %}
{% set TOP = 'rated ' %}
{% else %}
{% set TOP = 'top ' %}
{% endif %}


<div class="parent">
  <div class="boxs center {{ theme }}-{{ button1 }}">
    <a class="{{ theme }}-{{ button1 }} button" href="/{{ PAGE }}">{{ PAGE }} Total</a>
  </div>
  <div class="boxs center {{ theme }}-{{ button2 }}">
    <a class="{{ theme }}-{{ button2 }} button" href="/{{ PAGE }}P90" >{{ PAGE }} Per 90</a>
  </div>
</div>


<div class="mobile">
  <form method="post" action="{{ url_for(request.endpoint) }}">
    <div style="width:100%;">
      <h3><b>{{ TOP }}{{ PAGE[0:1].upper() }}{{ PAGE[1:] }}{{ MIN }} {{ year }}</b></h3>
    </div>
  <div class="parent">
    <div class="form boxs">
      <select name="year" id="year">
        <option value="">select year</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
      </select>
      </div>
    <div class="boxs {{ theme }}-action ">
      <input class="button" style="dislay: inline;" type="submit" formaction="{{ url_for(request.endpoint) }}" value="submit"/>
    </div>
  </div>
  </form>
</div>

<div class="desktop">
  <form method="post" action="{{ url_for(request.endpoint) }}">
  <div class="parent">
    <div class="box">
      <h3 style="padding: 10px;"><b>{{ TOP }}{{ PAGE[0:1].upper() }}{{ PAGE[1:] }}{{ MIN }} {{ year }}</b></h3>
    </div>
    <div class="form box">
      <select name="year" id="year">
        <option value="">select year</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
      </select>
      </div>
    <div class="box {{ theme }}-action ">
      <input class="button" style="dislay: inline;" type="submit" formaction="{{ url_for(request.endpoint) }}" value="submit"/>
    </div>
  </div>
  </form>
</div>
