<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Power Rankings</title>
  <meta name="description" content="Canadian Premier League automated power rankings. Weekly or year ending generated power rankings.">
</head>

{% extends 'base.html' %}
{% block content %}

{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->
<div class="mobile">
  <div class="parent">
    {% for c,r in html_table.iterrows() %}
    <div class="boxs {{ r['colour'] }}">
      <form method="POST" action="/roster">
        <div>
          <hr>
          <table>
            <tr>
              <td colspan="2"><a><input class="center table-button-mobile" type="submit" id="team" name="team" value="{{ r['team'] }}"/></a></td>
            </tr>
            <tr>
              <td style="text-align:center;" rowspan="4"><img src="static/images/flags/{{ r['crest'] }}" alt="{{ r['team'] }} Crest" style="max-height:60px;"></td>
            </tr>
            <tr>
              <td><h1 class="center">{{ r['rank'] }}</h1></td>
            </tr>
            <tr>
              {% if r['move'] > 0 %}
              <td><a class="center">Move: +{{ r['move'] }}</a></td>
              {% else %}
              <td><a class="center">Move: {{ r['move'] }}</a></td>
              {% endif %}
            </tr>
            <tr>
              <td><a class="center">{{ r['form'] }}</a></td>
            </tr>
            </table>
            <hr>
          </div>
      </form>
      </div>
    {%endfor%}
    </div>
</div>

<div class="desktop">
  <div class="parent">
    {% for c,r in html_table.iterrows() %}
    <div class="boxl {{ r['colour'] }}">
      <form method="POST" action="/roster">
        <table>
          <tr>
            <!--td colspan="2" class="xxfont"><h3 class="center">{{ r['team'] }}</h3></td-->
            <td colspan="2"><a><input class="center table-button-large" type="submit" id="team" name="team" value="{{ r['team'] }}"/></a></td>
          </tr>
          <tr>
            <td style="text-align:center;" rowspan="4"><img src="static/images/flags/{{ r['crest'] }}" alt="{{ r['team'] }} Crest" style="max-height:100px"></td>
          </tr>
          <tr>
            <td><h1>{{ r['rank'] }}</h1></td>
          </tr>
          <tr>
            {% if r['move'] > 0 %}
            <td class="xfont"><h4>Movement: +{{ r['move'] }}</h4></td>
            {% else %}
            <td class="xfont"><h4>Movement: {{ r['move'] }}</h4></td>
            {% endif %}
          </tr>
          <tr>
            <td class="xfont"><h4>Form: {{ r['form'] }}</h4></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          </table>
        </form>
      </div>
    {%endfor%}
    </div>
</div>

{% endblock %}
