<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg CanPL Power Rankings</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Canadian Premier League (CanPL) automated power rankings. Weekly or year ending generated power rankings.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon.png" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% extends 'base.html' %}
{% block content %}

{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->
<div class="mobile">
  <div class="parent">
    {%for i in range(0,html_table.shape[0])%}
    <div class="boxs {{ html_table.at[i,'colour'] }}">
      <form method="POST" action="/roster">
        <div>
          <hr>
          <table>
            <tr>
              <td colspan="2"><a><input class="center table-button-mobile" type="submit" id="team" name="team" value="{{ html_table.at[i,'team'] }}"/></a></td>
            </tr>
            <tr>
              <td style="text-align:center;" rowspan="4"><img src="static/images/flags/{{ html_table.at[i,'crest'] }}" alt="{{ html_table.at[i,'team'] }} Crest" style="max-height:60px;"></td>
            </tr>
            <tr>
              <td><h1 class="center">{{ html_table.at[i,'rank'] }}</h1></td>
            </tr>
            <tr>
              <td><a class="center">Move: {{ html_table.at[i,'move'] }}</a></td>
            </tr>
            <tr>
              <td><a class="center">{{ html_table.at[i,'form'] }}</a></td>
            </tr>
            </table>
            <hr>
          </div>
      </form>
      </div>
    {%endfor%}
    </div>
</div>

<div class="desktop">
  <div class="parent">
    {%for i in range(0,html_table.shape[0])%}
    <div class="boxl {{ html_table.at[i,'colour'] }}">
      <form method="POST" action="/roster">
        <table>
          <tr>
            <!--td colspan="2" class="xxfont"><h3 class="center">{{ html_table.at[i,'team'] }}</h3></td-->
            <td colspan="2"><a><input class="center table-button-large" type="submit" id="team" name="team" value="{{ html_table.at[i,'team'] }}"/></a></td>
          </tr>
          <tr>
            <td style="text-align:center;" rowspan="4"><img src="static/images/flags/{{ html_table.at[i,'crest'] }}" alt="{{ html_table.at[i,'team'] }} Crest" style="max-height:100px"></td>
          </tr>
          <tr>
            <td><h1>{{ html_table.at[i,'rank'] }}</h1></td>
          </tr>
          <tr>
            <td class="xfont"><h4>Movement: {{ html_table.at[i,'move'] }}</h4></td>
          </tr>
          <tr>
            <td class="xfont"><h4>Form: {{ html_table.at[i,'form'] }}</h4></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          </table>
        </form>
      </div>
    {%endfor%}
    </div>
</div>

{% endblock %}
