<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg CanPL Standings</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Canadian Premier League (CanPL) standings table information. Providing access to past and present club standings.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon.png" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% extends 'base.html' %}
{% block content %}

<!-- header -->
{% include "standings-form.html" %}
{% block body %}{% endblock %}

<!-- page content -->
  <!-- body -->
<div class="mobile">
  <!-- championship -->
  {% if championship_table is defined %}
  <div><a class="indent"><b>Championship</b></a></div>
    <div>
      <div>
            <table>
              <tr style="font-size:0.8em;">
                <td><b>rank</b></td>
                <td style="width: 10%;"><b>team</b></td>
                <td><b>MP</b></td>
                <td><b>Pts</b></td>
                <td><b>W</b></td>
                <td><b>D</b></td>
                <td><b>L</b></td>
                <td><b>GF</b></td>
                <td><b>GA</b></td>
              </tr>
              {%for i in range(0,championship_table.shape[0])%}
              <tr>
                <td>{{ i+1 }}</td>
                <td class="t-center"><img style="max-height:30px;margin:-8px;text-align:center;" src="static/images/flags/{{ championship_table.at[i,'crest'] }}" alt="{{ championship_table.at[i,'crest'] }} Crest"></td>
                <td>{{ championship_table.iloc[i]['matches'] }}</td>
                <td>{{ championship_table.iloc[i]['points'] }}</td>
                <td class="{{ theme }}-green">{{ championship_table.iloc[i]['win'] }}</td>
                <td class="{{ theme }}-orange">{{ championship_table.iloc[i]['draw'] }}</td>
                <td class="{{ theme }}-red">{{ championship_table.iloc[i]['loss'] }}</td>
                <td><b>{{ championship_table.iloc[i]['Goal'] }}</td>
                <td>{{ championship_table.iloc[i]['Goal'] - championship_table.iloc[i]['gd'] }}</td>
              </tr>
              {%endfor%}
            </table>
          </div>
      </div>
      <!-- end of championship-->
    {% else %}
    {% endif %}

    <!-- playoffs -->
    {% if championship_table is defined %}
    {% if year == '2019' %}
    <div><a class="indent"><b>Summer Season</b></a></div>
    {% else %}
    <div><a class="indent"><b>Playoffs</b></a></div>
    {% endif %}
      <div>
        <div>
              <table>
                <tr style="font-size:0.8em;">
                  <td><b>rank</b></td>
                  <td style="width: 10%;"><b>team</b></td>
                  <td><b>MP</b></td>
                  <td><b>Pts</b></td>
                  <td><b>W</b></td>
                  <td><b>D</b></td>
                  <td><b>L</b></td>
                  <td><b>GF</b></td>
                  <td><b>GA</b></td>
                </tr>
                {%for i in range(0,playoffs_table.shape[0])%}
                <tr>
                  <td>{{ i+1 }}</td>
                  <td class="t-center"><img style="max-height:30px;margin:-8px;text-align:center;" src="static/images/flags/{{ playoffs_table.at[i,'crest'] }}" alt="{{ playoffs_table.at[i,'crest'] }} Crest"></td>
                  <td>{{ playoffs_table.iloc[i]['matches'] }}</td>
                  <td>{{ playoffs_table.iloc[i]['points'] }}</td>
                  <td class="{{ theme }}-green">{{ playoffs_table.iloc[i]['win'] }}</td>
                  <td class="{{ theme }}-orange">{{ playoffs_table.iloc[i]['draw'] }}</td>
                  <td class="{{ theme }}-red">{{ playoffs_table.iloc[i]['loss'] }}</td>
                  <td><b>{{ playoffs_table.iloc[i]['Goal'] }}</td>
                  <td>{{ playoffs_table.iloc[i]['Goal'] - playoffs_table.iloc[i]['gd'] }}</td>
                </tr>
                {%endfor%}
              </table>
            </div>
        </div>
        <!-- end of championship-->
      {% else %}
      {% endif %}

      <!-- regular season -->
      {% if year == '2019' %}
      <div><a class="indent"><b>Spring Season</b></a></div>
      {% else %}
      <div><a class="indent"><b>Regular Season</b></a></div>
      {% endif %}
      <div>
          <table>
            <tr style="font-size:0.8em;">
              <td><b>rank</b></td>
              <td style="width: 10%;"><b>team</b></td>
              <td><b>MP</b></td>
              <td><b>Pts</b></td>
              <td><b>W</b></td>
              <td><b>D</b></td>
              <td><b>L</b></td>
              <td><b>GF</b></td>
              <td><b>GA</b></td>
            </tr>
            {%for i in range(0,standings_table.shape[0])%}
            <tr>
              <td>{{ i+1 }}</td>
              <td class="t-center"><img style="max-height:30px;margin:-8px;text-align:center;" src="static/images/flags/{{ standings_table.at[i,'crest'] }}" alt="{{ standings_table.at[i,'crest'] }} Crest"></td>
              <td>{{ standings_table.iloc[i]['matches'] }}</td>
              <td>{{ standings_table.iloc[i]['points'] }}</td>
              <td class="{{ theme }}-green">{{ standings_table.iloc[i]['win'] }}</td>
              <td class="{{ theme }}-orange">{{ standings_table.iloc[i]['draw'] }}</td>
              <td class="{{ theme }}-red">{{ standings_table.iloc[i]['loss'] }}</td>
              <td><b>{{ standings_table.iloc[i]['Goal'] }}</td>
              <td>{{ standings_table.iloc[i]['Goal'] - standings_table.iloc[i]['gd'] }}</td>
            </tr>
            {%endfor%}
          </table>
      </div>
        <!-- end of regular season-->
        <!-- form -->
        <div><h3><b>Form</b></h3></div>
          <div>
            <div class="parent">
              <div class="t-center" style="display:inline;width:15%;"><a>club</a></div>
              <div class="t-center" style="display:inline;width:85%;"><a>game</a></div>
            </div>
            <div>
              <table style="width:100%;">
                <tr>
                  <td style="width:10%;"><b></b></td>
                  {% for i in range(1,form_table.shape[1]-1) %}
                  <td class="t-left" style="font-size:0.5em;">{{ i }}</td>
                  {% endfor %}
                </tr>
                {%for i in range(0,form_table.shape[0])%}
                <tr>
                  <td class="t-center"><img style="max-height:30px;margin:-8px;text-align:center;" src="static/images/flags/{{ form_table.at[i,'crest'] }}" alt="{{ form_table.at[i,'crest'] }} Crest"></td>
                  {%for j in range(1,form_table.shape[1]-1)%}
                  <td class="t-center {{ theme }}-{{'green' if form_table.iloc[i][j][0] == 'W' else 'red' if form_table.iloc[i][j][0] == 'L' else 'orange' if form_table.iloc[i][j][0] == 'D' else '{{ theme }}-m'}}" style="font-size:10px;padding: 0px 0px;">{{ form_table.iloc[i][j][0] }}</td>
                  {%endfor%}
                </tr>
                {%endfor%}
              </table>
            </div>
          </div>
  </div>

  <!-- championship -->
<div class="desktop">
  {% if championship_table is defined %}
  <span><h3 class="{{ theme }}-dark indent"><b>Championship</b></h3></span>
  <div class="{{ theme }}-dark">
      <div class="{{ theme }}-dark">
        <table>
          <tr>
            <td><b>rank</b></td>
            <td style="width: 20%;"><b>team</b></td>
            <td><b>MP</b></td>
            <td><b>Pts</b></td>
            <td><b>PPG</b></td>
            <td><b>W</b></td>
            <td><b>D</b></td>
            <td><b>L</b></td>
            <td><b>GD</b></td>
            <td><b>GF</b></td>
            <td><b>GA</b></td>
          </tr>
        </table>
      </div>
      <div class="{{ theme }}-light">
        <table>
          {%for i in range(0,championship_table.shape[0])%}
          <tr class="{{ theme }}-light">
            <td>{{ i+1 }}</td>
            <td class="t-left" style="width: 20%;">{{ championship_table.iloc[i]['team'] }}</td>
            <td>{{ championship_table.iloc[i]['matches'] }}</td>
            <td>{{ championship_table.iloc[i]['points'] }}</td>
            <td>{{ (championship_table.iloc[i]['points']/championship_table.iloc[i]['matches'])|round(2) }}</td>
            <td class="{{ theme }}-green">{{ championship_table.iloc[i]['win'] }}</td>
            <td class="{{ theme }}-orange">{{ championship_table.iloc[i]['draw'] }}</td>
            <td class="{{ theme }}-red">{{ championship_table.iloc[i]['loss'] }}</td>
            <td class="{{ theme }}">{{ championship_table.iloc[i]['gd'] }}</td>
            <td class="{{ theme }}-t-blue">{{ championship_table.iloc[i]['Goal'] }}</td>
            <td class="{{ theme }}-t-blue">{{ championship_table.iloc[i]['Goal'] - championship_table.iloc[i]['gd'] }}</td>
          </tr>
          {%endfor%}
        </table>
        <br>
      </div>
    </div>
    <!-- end of championship-->
    {% else %}
    {% endif %}

    {% if playoffs_table is defined %}
    {% if year == '2019' %}
    <span><h3 class="{{ theme }}-dark indent"><b>Summer Season</b></h3></span>
    {% else %}
    <span><h3 class="{{ theme }}-dark indent"><b>Playoffs</b></h3></span>
    {% endif %}
    <!-- playoffs -->
    <div class="{{ theme }}-dark">
      <div class="{{ theme }}-dark">
        <table>
          <tr>
            <td><b>rank</b></td>
            <td style="width: 20%;"><b>team</b></td>
            <td><b>MP</b></td>
            <td><b>Pts</b></td>
            <td><b>PPG</b></td>
            <td><b>W</b></td>
            <td><b>D</b></td>
            <td><b>L</b></td>
            <td><b>GD</b></td>
            <td><b>GF</b></td>
            <td><b>GA</b></td>
          </tr>
        </table>
      </div>
      <div class="{{ theme }}-light">
        <table>
          {%for i in range(0,playoffs_table.shape[0])%}
          <tr class="{{ theme }}-light">
            <td>{{ i+1 }}</td>
            <td class="t-left" style="width: 20%;">{{ playoffs_table.iloc[i]['team'] }}</td>
            <td>{{ playoffs_table.iloc[i]['matches'] }}</td>
            <td>{{ playoffs_table.iloc[i]['points'] }}</td>
            <td>{{ (playoffs_table.iloc[i]['points']/playoffs_table.iloc[i]['matches'])|round(2) }}</td>
            <td class="{{ theme }}-green">{{ playoffs_table.iloc[i]['win'] }}</td>
            <td class="{{ theme }}-orange">{{ playoffs_table.iloc[i]['draw'] }}</td>
            <td class="{{ theme }}-red">{{ playoffs_table.iloc[i]['loss'] }}</td>
            <td class="{{ theme }}">{{ playoffs_table.iloc[i]['gd'] }}</td>
            <td class="{{ theme }}-t-blue">{{ playoffs_table.iloc[i]['Goal'] }}</td>
            <td class="{{ theme }}-t-blue">{{ playoffs_table.iloc[i]['Goal'] - playoffs_table.iloc[i]['gd'] }}</td>
          </tr>
          {%endfor%}
        </table>
        <br>
      </div>
    </div>
      <!-- end of playoffs -->
    {% else %}
    {% endif %}

    {% if year == '2019' %}
    <span><h3 class="{{ theme }}-dark indent"><b>Spring Season</b></h3></span>
    {% else %}
    <span><h3 class="{{ theme }}-dark indent"><b>Regular Season</b></h3></span>
    {% endif %}
    <!-- regular season -->
    <div class="{{ theme }}-dark">
      <div class="{{ theme }}-dark">
        <table>
          <tr>
            <td><b>rank</b></td>
            <td style="width: 20%;"><b>team</b></td>
            <td><b>MP</b></td>
            <td><b>Pts</b></td>
            <td><b>PPG</b></td>
            <td><b>W</b></td>
            <td><b>D</b></td>
            <td><b>L</b></td>
            <td><b>GD</b></td>
            <td><b>GF</b></td>
            <td><b>GA</b></td>
          </tr>
        </table>
      </div>
      <div class="{{ theme }}-light">
        <table>
          {%for i in range(0,standings_table.shape[0])%}
          <tr class="{{ theme }}-light">
            <td>{{ i+1 }}</td>
            <td class="t-left" style="width: 20%;">{{ standings_table.iloc[i]['team'] }}</td>
            <td>{{ standings_table.iloc[i]['matches'] }}</td>
            <td>{{ standings_table.iloc[i]['points'] }}</td>
            <td>{{ (standings_table.iloc[i]['points']/standings_table.iloc[i]['matches'])|round(2) }}</td>
            <td class="{{ theme }}-green">{{ standings_table.iloc[i]['win'] }}</td>
            <td class="{{ theme }}-orange">{{ standings_table.iloc[i]['draw'] }}</td>
            <td class="{{ theme }}-red">{{ standings_table.iloc[i]['loss'] }}</td>
            <td class="{{ theme }}">{{ standings_table.iloc[i]['gd'] }}</td>
            <td class="{{ theme }}-t-blue">{{ standings_table.iloc[i]['Goal'] }}</td>
            <td class="{{ theme }}-t-blue">{{ standings_table.iloc[i]['Goal'] - standings_table.iloc[i]['gd'] }}</td>
          </tr>
          {%endfor%}
        </table>
        <br>
      </div>
    </div>
      <!-- end of regular season-->
      <!-- form -->
      <span><h3 class="{{ theme }}-dark"><b>Form</b></h3></span>
        <div>
          <div class="parent {{ theme }}-dark">
            <div class="t-center" style="display:inline;width:15%;"><a>club</a></div>
            <div class="t-center" style="display:inline;width:85%;"><a>game</a></div>
          </div>
          <div class="{{ theme }}-light">
            <table>
              <tr>
                <td style="width:15%;"><b>team </b></td>
                {% for i in range(1,form_table.shape[1]-1) %}
                <td class="t-center">{{ i }}</td>
                {% endfor %}
              </tr>
              {%for i in range(0,form_table.shape[0])%}
              <tr class="{{ theme }}-light">
                <td class="t-left" style="width:15%;">{{ form_table.iloc[i][0] }}</td>
                {%for j in range(1,form_table.shape[1]-1)%}
                <td class="{{ theme }}-{{'green' if form_table.iloc[i][j][0] == 'W' else 'red' if form_table.iloc[i][j][0] == 'L' else 'orange' if form_table.iloc[i][j][0] == 'D' else '{{ theme }}-m'}}" style="text-align:center;padding: 15px 5px;">{{ form_table.iloc[i][j][0] }}</td>
                {%endfor%}
              </tr>
              {%endfor%}
            </table>
            <br>
          </div>
        </div>
</div>





{% endblock %}
