{% set message = 'TC-BASE' %}
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon.png" />
  <link rel="stylesheet" href="static/css/root-mt.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
</head>

<body id="top" class="{{ theme }}-body">
<div>
  <div class="container navbox">
    {% include "nav.html" %}
  </div>
  <div class="desktop">
    <div class="page80">
      <div style="text-align:left">
        <p style="display:inline;">{{ weekday }} {{ month }} {{ day }}</p>
      </div>
    </div>
  </div>
  <!-- Top container -->
  <div class="container">
    <div class="page80">
      <button id="backToTop" class="topbutton {{ theme }}-action textcenter">
        <a class="button text-white" href="#top">top</a>
      </button>
  {% block content %}

  {% endblock %}
      <!-- league information container -->
      <div>
        <div class="{{ theme }}-body">
          <div class="spacer"></div>
            <h4 class="green-bar">links</h4>
            <table>
              <tr>
                <td class="t-center"><a class="button" href="https://atleticoottawa.canpl.ca/" target="_blank"><img style="min-width:30px;width:3vw;margin:-8px;text-align:center;" src="static/images/flags/Atletico_Ottawa_nav.png" alt="Atletico Ottawa Crest"></a></td>
                <td class="t-center"><a class="button" href="https://cavalryfc.canpl.ca/" target="_blank"><img style="min-width:30px;width:3vw;margin:-8px;text-align:center;" src="static/images/flags/cavalry_fc_nav.png" alt="Cavalry FC Crest"></a></td>
                <td class="t-center"><a class="button" href="https://fcedmonton.canpl.ca/" target="_blank"><img style="min-width:30px;width:3vw;margin:-8px;text-align:center;" src="static/images/flags/FC_Edmonton_nav.png" alt="FC Edmonton Crest"></a></td>
                <td class="t-center"><a class="button" href="https://forgefc.canpl.ca/" target="_blank"><img style="min-width:25px;width:2.5vw;margin:-8px;text-align:center;" src="static/images/flags/Forge_FC_nav.png" alt="Forge FC Crest"></a></td>
                <td class="t-center"><a class="button" href="https://hfxwanderersfc.canpl.ca/" target="_blank"><img style="min-width:40px;width:4vw;margin:-8px;text-align:center;" src="static/images/flags/HFX_Wanderers_FC.png" alt="HFX Wanderers FC Crest"></a></td>
                <td class="t-center"><a class="button" href="https://pacificfc.canpl.ca/" target="_blank"><img style="min-width:20px;width:2vw;margin:-8px;text-align:center;" src="static/images/flags/Pacific_FC_nav.png" alt="Pacific FC Crest"></a></td>
                <td class="t-center"><a class="button" href="https://valourfc.canpl.ca/" target="_blank"><img style="min-width:30px;width:3vw;margin:-8px;text-align:center;" src="static/images/flags/Valour_FC_nav.png" alt="Valour FC Crest"></a></td>
                <td class="t-center"><a class="button" href="https://yorkunitedfc.canpl.ca/" target="_blank"><img style="min-width:40px;width:4vw;margin:-8px;text-align:center;" src="static/images/flags/YU_Primary_Nav.png" alt="York United FC Crest"></a></td>
              </tr>
            </table>
        </div>
      </div>
      <div class="spacer"></div>
      <!-- Footer -->
      <div class="spacer"></div>
    </div>
   </div>
<!-- Footer -->
<!-- End page content -->
</div>
{% include "footer.html" %}
{% set message = 'LOADED' %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SCCY1VM6E9"></script>
<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-SCCY1VM6E9');
</script>
<script src="static/css/app.js"></script>
<script src="static/css/top.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
{% include "charts-team-compare.html" %}
</body>
</html>
