<body id="top" class="{{ theme }}-body">
<div>
  <div class="container navbox">
    {% include "nav.html" %}
  </div>
  <div class="desktop">
    <div class="page80">
      <div style="text-align:left">
        <p style="display:inline;">{{ weekday }} {{ month }} <b class="bold">{{ day }}</b></p>
      </div>
    </div>
  </div>
  <!-- Top container -->
  <div class="container">
    <div class="page80">
      <button id="backToTop" class="topbutton {{ theme }}-action textcenter">
        <a class="button text-white" href="#top">top</a>
      </button>
  {% block content %}

  {% endblock %}
      <!-- league information container -->
      <div>
        <div class="{{ theme }}-body">
          <div class="spacer"></div>
            <h4 class="green-bar">links</h4>
            <table>
              <tr>
                <td class="t-center"><a class="button" href="https://atleticoottawa.canpl.ca/" target="_blank"><img style="min-width:30px;width:3vw;margin:-8px;text-align:center;" src="static/images/flags/Atletico_Ottawa_nav.png" alt="Atletico Ottawa Crest"></a></td>
                <td class="t-center"><a class="button" href="https://cavalryfc.canpl.ca/" target="_blank"><img style="min-width:30px;width:3vw;margin:-8px;text-align:center;" src="static/images/flags/cavalry_fc_nav.png" alt="Cavalry FC Crest"></a></td>
                <td class="t-center"><a class="button" href="https://fcedmonton.canpl.ca/" target="_blank"><img style="min-width:30px;width:3vw;margin:-8px;text-align:center;" src="static/images/flags/FC_Edmonton_nav.png" alt="FC Edmonton Crest"></a></td>
                <td class="t-center"><a class="button" href="https://forgefc.canpl.ca/" target="_blank"><img style="min-width:25px;width:2.5vw;margin:-8px;text-align:center;" src="static/images/flags/Forge_FC_nav.png" alt="Forge FC Crest"></a></td>
                <td class="t-center"><a class="button" href="https://hfxwanderersfc.canpl.ca/" target="_blank"><img style="min-width:40px;width:4vw;margin:-8px;text-align:center;" src="static/images/flags/HFX_Wanderers_FC.png" alt="HFX Wanderers FC Crest"></a></td>
                <td class="t-center"><a class="button" href="https://pacificfc.canpl.ca/" target="_blank"><img style="min-width:20px;width:2vw;margin:-8px;text-align:center;" src="static/images/flags/Pacific_FC_nav.png" alt="Pacific FC Crest"></a></td>
                <td class="t-center"><a class="button" href="https://valourfc.canpl.ca/" target="_blank"><img style="min-width:30px;width:3vw;margin:-8px;text-align:center;" src="static/images/flags/Valour_FC_nav.png" alt="Valour FC Crest"></a></td>
                <td class="t-center"><a class="button" href="https://yorkunitedfc.canpl.ca/" target="_blank"><img style="min-width:40px;width:4vw;margin:-8px;text-align:center;" src="static/images/flags/YU_Primary_Nav.png" alt="York United FC Crest"></a></td>
              </tr>
            </table>
        </div>
      </div>
      <div class="spacer"></div>
      <!-- Footer -->
      <div class="spacer"></div>
    </div>
   </div>
<!-- Footer -->
<!-- End page content -->
</div>
{% include "footer.html" %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SCCY1VM6E9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-SCCY1VM6E9');
</script>
<script src="static/css/app.js"></script>
<script src="static/css/top.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script type="text/javascript">
new Chart(document.getElementById('testing'), {
  type: 'line',
  data: {
    labels: [
      {% for x in range(1,(team_line[0] | length)-1) %}
      {{ x }},
      {% endfor %}
      {{ (team_line[0] | length) }}
    ],
    datasets: [
      {
        label: '{{ colour1 }}',
        data: [
          {% for j in range(team_line[0] | length) %}
          {{ team_line[0][j] | safe }},
          {% endfor %}
          {{ team_line[0][-1] | safe }}
        ],
        fill: true,
        borderColor: '{{ colour1 }}',
        backgroundColor: '{{ colour1 }}'+'33',
        pointHoverRadius: 10,
        pointHoverBackgroundColor: '{{ colour1 }}'
      },
      {
        label: '{{geegle[-1]}}',
        data: [
          {% for j in range(team_line[1] | length) %}
          {{ team_line[1][j] | safe }},
          {% endfor %}
          {{ team_line[1][-1] | safe }}
        ],
        fill: true,
        borderColor: '{{ colour2 }}',
        backgroundColor: '{{ colour2 }}'+'33',
        pointHoverRadius: 10,
        pointHoverBackgroundColor: '{{ colour2 }}'
      }
    ],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    tooltips: {
      titleFontSize: 18,
      bodyFontSize: 18
    },
    legend: {
        display: false,
    },
    scales: {
      yAxes: [
        {
          ticks: {
            fontColor: '#ffffff'
          }
        }
      ],
      xAxes: [
        {
          ticks: {
            fontColor: '#ffffff'
          }
        }
      ]
    }
  }
});
  new Chart(document.getElementById('testing2'), {
    type: 'line',
    data: {
      labels: [
        {% for x in range(1,(team_line_2[0] | length)-1) %}
        {{ x }},
        {% endfor %}
        {{ (team_line_2[0] | length) }}
      ],
      datasets: [
        {
          label: '{{ colour1 }}',
          data: [
            {% for j in range(team_line_2[0] | length) %}
            {{ team_line_2[0][j] | safe }},
            {% endfor %}
            {{ team_line_2[0][-1] | safe }}
          ],
          fill: true,
          borderColor: '{{ colour1 }}',
          backgroundColor: '{{ colour1 }}'+'33',
          pointHoverRadius: 10,
          pointHoverBackgroundColor: '{{ colour1 }}'
        },
        {
          label: '{{geegle[-1]}}',
          data: [
            {% for j in range(team_line_2[1] | length) %}
            {{ team_line_2[1][j] | safe }},
            {% endfor %}
            {{ team_line_2[1][-1] | safe }}
          ],
          fill: true,
          borderColor: '{{ colour2 }}',
          backgroundColor: '{{ colour2 }}'+'33',
          pointHoverRadius: 10,
          pointHoverBackgroundColor: '{{ colour2 }}'
        }
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      tooltips: {
        titleFontSize: 18,
        bodyFontSize: 18
      },
      legend: {
          display: false,
      },
      scales: {
        yAxes: [
          {
            ticks: {
              fontColor: '#ffffff'
            }
          }
        ],
        xAxes: [
          {
            ticks: {
              fontColor: '#ffffff'
            }
          }
        ]
      }
    }
  });
    new Chart(document.getElementById('testing3'), {
      type: 'line',
      data: {
        labels: [
          {% for x in range(1,(team_line_3[0] | length)-1) %}
          {{ x }},
          {% endfor %}
          {{ (team_line_3[0] | length) }}
        ],
        datasets: [
        {
          label: '{{ colour1 }}',
          data: [
            {% for j in range(team_line_3[0] | length) %}
            {{ team_line_3[0][j] | safe }},
            {% endfor %}
            {{ team_line_3[0][-1] | safe }}
          ],
          fill: true,
          borderColor: '{{ colour1 }}',
          backgroundColor: '{{ colour1 }}'+'33',
          pointHoverRadius: 10,
          pointHoverBackgroundColor: '{{ colour1 }}'
        },
          {
            label: '{{geegle[-1]}}',
            data: [
              {% for j in range(team_line_3[1] | length) %}
              {{ team_line_3[1][j] | safe }},
              {% endfor %}
              {{ team_line_3[1][-1] | safe }}
            ],
            fill: true,
            borderColor: '{{ colour2 }}',
            backgroundColor: '{{ colour2 }}'+'33',
            pointHoverRadius: 10,
            pointHoverBackgroundColor: '{{ colour2 }}'
          }
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        tooltips: {
          titleFontSize: 18,
          bodyFontSize: 18
        },
        legend: {
            display: false,
        },
        scales: {
          yAxes: [
            {
              ticks: {
                fontColor: '#ffffff'
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                fontColor: '#ffffff'
              }
            }
          ]
        }
      }
    });
      new Chart(document.getElementById('testing4'), {
        type: 'line',
        data: {
          labels: [
            {% for x in range(1,(team_line_4[0] | length)-1) %}
            {{ x }},
            {% endfor %}
            {{ (team_line_4[0] | length) }}
          ],
          datasets: [
          {
            label: '{{ colour1 }}',
            data: [
              {% for j in range(team_line_4[0] | length) %}
              {{ team_line_4[0][j] | safe }},
              {% endfor %}
              {{ team_line_4[0][-1] | safe }}
            ],
            fill: true,
            borderColor: '{{ colour1 }}',
            backgroundColor: '{{ colour1 }}'+'33',
            pointHoverRadius: 10,
            pointHoverBackgroundColor: '{{ colour1 }}'
          },
            {
              label: '{{geegle[-1]}}',
              data: [
                {% for j in range(team_line_4[1] | length) %}
                {{ team_line_4[1][j] | safe }},
                {% endfor %}
                {{ team_line_4[1][-1] | safe }}
              ],
              fill: true,
              borderColor: '{{ colour2 }}',
              backgroundColor: '{{ colour2 }}'+'33',
              pointHoverRadius: 10,
              pointHoverBackgroundColor: '{{ colour2 }}'
            }
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          tooltips: {
            titleFontSize: 18,
            bodyFontSize: 18
          },
          legend: {
              display: false,
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  fontColor: '#ffffff'
                }
              }
            ],
            xAxes: [
              {
                ticks: {
                  fontColor: '#ffffff'
                }
              }
            ]
          }
        }
      });
      new Chart(document.getElementById('testing5'), {
        type: 'line',
        data: {
          labels: [
            {% for x in range(1,(team_line_5[0] | length)-1) %}
            {{ x }},
            {% endfor %}
            {{ (team_line_5[0] | length) }}
          ],
          datasets: [
          {
            label: '{{ colour1 }}',
            data: [
              {% for j in range(team_line_5[0] | length) %}
              {{ team_line_5[0][j] | safe }},
              {% endfor %}
              {{ team_line_5[0][-1] | safe }}
            ],
            fill: true,
            borderColor: '{{ colour1 }}',
            backgroundColor: '{{ colour1 }}'+'33',
            pointHoverRadius: 10,
            pointHoverBackgroundColor: '{{ colour1 }}'
          },
            {
              label: '{{geegle[-1]}}',
              data: [
                {% for j in range(team_line_5[1] | length) %}
                {{ team_line_5[1][j] | safe }},
                {% endfor %}
                {{ team_line_5[1][-1] | safe }}
              ],
              fill: true,
              borderColor: '{{ colour2 }}',
              backgroundColor: '{{ colour2 }}'+'33',
              pointHoverRadius: 10,
              pointHoverBackgroundColor: '{{ colour2 }}'
            }
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          tooltips: {
            titleFontSize: 18,
            bodyFontSize: 18
          },
          legend: {
              display: false,
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  fontColor: '#ffffff'
                }
              }
            ],
            xAxes: [
              {
                ticks: {
                  fontColor: '#ffffff'
                }
              }
            ]
          }
        }
      });
      </script>
</body>
</html>
