<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>CanPL Club Information</title>
  <meta name="description" content="Canadian Premier League team information. Providing access to past and present club information.">
</head>

{% extends 'base.html' %}
{% block content %}

{% include "teams_nav.html" %}
<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->
<div class="mobile">
  <!-- table -->
  <div class="parent">
    <!-- table header -->
    <div>
      <table>
        <tr>
          <td>crest</td>
          <td style="width:38%;">team</td>
          <td style="width:8%;">W</td>
          <td style="width:8%;">D</td>
          <td style="width:8%;">L</td>
          <td>{{ columns[6] }}</td>
          <td>{{ columns[7] }}</td>
        </tr>
      </table>
    </div>
    <!-- end of table header -->
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(0,html_table.shape[0])%}
    <div>
      <form method="POST" action="/roster">
        <table class="sfont">
          <tr>
            <td style="text-align:center;"><img src="static/images/flags/{{ html_table.iloc[i]['crest'] }}" alt="{{ html_table.iloc[i]['team'] }} Crest" style="max-height:40px"></td>
            <td style="text-align:left;width:38%;"><a href="{{ url_for('roster') }}"><input class="table-button" type="submit" id="team" name="team" value="{{ html_table.iloc[i]['team'] }}"/></a></td>
            <td class="{{ theme }}-green" style="width:8%;">{{ html_table.iloc[i]['w'] }}</td>
            <td class="{{ theme }}-orange" style="width:8%;"><a>{{ html_table.iloc[i]['d'] }}</a></td>
            <td class="{{ theme }}-red" style="width:8%;"><a>{{ html_table.iloc[i]['l'] }}</a></td>
            <td><a class="table-button" href="{{ html_table.iloc[i]['link'] }}" target="_blank">site</a></td>
            <td><a class="table-button" href="{{ html_table.iloc[i]['wiki'] }}" target="_blank">wiki</a></td>
          </tr>
        </table>
        <input type="hidden" id="year" name="year" value="{{ year }}">
      </form>
    </div>
    {%endfor%}
  </div>
  <!-- end of table -->
</div>
<div class="desktop">
  <!-- table -->
  <div class="parent {{ theme }}-dark">
    <!-- table header -->
    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td style="width:10%;">crest</td>
          <td style="width:25%;"> team</td>
          <td style="width:20%;"> city/prov</td>
          <td style="width:5%;">w</td>
          <td style="width:5%;">d</td>
          <td style="width:5%;">l</td>
          <td>{{ columns[6] }}</td>
          <td>{{ columns[7] }}</td>
        </tr>
      </table>
    </div>
    <!-- end of table header -->
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(0,html_table.shape[0])%}
    <div>
      <form method="POST" action="/roster">
        <table>
          <tr>
            <td style="width:10%;text-align:center;"><img src="static/images/flags/{{ html_table.iloc[i]['crest'] }}" alt="{{ html_table.iloc[i]['team'] }} Crest" style="max-height:40px"></td>
            <td style="text-align:left;width:25%;"><a class="{{ theme }}-light" href="{{ url_for('roster') }}"><input class="table-button" type="submit" id="team" name="team" value="{{ html_table.iloc[i]['team'] }}"/></a></td>
            <td style="width:20%;"><a>{{ html_table.iloc[i]['city'] }} {{ html_table.iloc[i]['province'] }}</td>
            <td class="{{ theme }}-green" style="width:5%;overflow:hidden;">{{ html_table.iloc[i]['w'] }}</td>
            <td class="{{ theme }}-orange" style="width:5%;"><a>{{ html_table.iloc[i]['d'] }}</a></td>
            <td class="{{ theme }}-red" style="width:5%;"><a>{{ html_table.iloc[i]['l'] }}</a></td>
            <td><a class="{{ theme }}-light table-button" href="{{ html_table.iloc[i]['link'] }}" target="_blank">club site</a></td>
            <td><a class="{{ theme }}-light table-button" href="{{ html_table.iloc[i]['wiki'] }}" target="_blank">wikipedia</a></td>
            </tr>
          </table>
          <input type="hidden" id="year" name="year" value="{{ year }}">
        </form>
      </div>
      {%endfor%}
    </div>
    <!-- end of table -->
  </div>

  {% endblock %}
