<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Nutmeg CanPL Team Information</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Todd McCullough">
  <meta name="description" content="Canadian Premier League (CanPL) team information. Providing access to past and present club information.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/images/favicon.png" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/team-colours.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% extends 'base.html' %}
{% block content %}

<!-- header -->
{% include "form.html" %}
{% block body %}{% endblock %}

<!-- page content -->
<div class="mobile">
  <!-- table -->
  <div class="parent">
    <!-- table header -->
    <div>
      <table>
        <tr>
          <td><b>crest</b></td>
          <td style="width:38%;"><b>team</b></td>
          <td style="width:8%;"><b>W</b></td>
          <td style="width:8%;"><b>D</b></td>
          <td style="width:8%;"><b>L</b></td>
          <td><b>{{ columns[6] }}</b></td>
          <td><b>{{ columns[7] }}</b></td>
        </tr>
      </table>
    </div>
    <!-- end of table header -->
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(0,html_table.shape[0])%}
    <div>
      <form method="POST" action="/roster">
        <table class="sfont">
          <tr>
            <td style="text-align:center;"><img src="static/images/flags/{{ html_table.iloc[i]['crest'] }}" alt="{{ html_table.iloc[i]['team'] }} Crest" style="max-height:40px"></td>
            <td style="text-align:left;width:38%;"><a href="{{ url_for('roster') }}"><input class="table-button" type="submit" id="team" name="team" value="{{ html_table.iloc[i]['team'] }}"/></a></td>
            <td class="{{ theme }}-green" style="width:8%;">{{ html_table.iloc[i]['cw'] }}</td>
            <td class="{{ theme }}-orange" style="width:8%;"><a>{{ html_table.iloc[i]['cd'] }}</a></td>
            <td class="{{ theme }}-red" style="width:8%;"><a>{{ html_table.iloc[i]['cl'] }}</a></td>
            <td><a class="table-button" href="{{ html_table.iloc[i]['link'] }}" target="_blank">site</a></td>
            <td><a class="table-button" href="{{ html_table.iloc[i]['wiki'] }}" target="_blank">wiki</a></td>
          </tr>
        </table>
        <input type="hidden" id="year" name="year" value="{{ year }}">
      </form>
    </div>
    {%endfor%}
  </div>
  <!-- end of table -->
</div>

<div class="desktop">
  <!-- table -->
  <div class="parent {{ theme }}-dark">
    <!-- table header -->
    <div class="{{ theme }}-dark">
      <table>
        <tr>
          <td style="width:10%;"><b>crest</b></td>
          <td style="width:25%;"><b> team</b></td>
          <td style="width:20%;"><b> city/prov</b></td>
          <td style="width:5%;"><b>wins</b></td>
          <td style="width:5%;"><b>draws</b></td>
          <td style="width:5%;"><b>loses</b></td>
          <td><b>{{ columns[6] }}</b></td>
          <td><b>{{ columns[7] }}</b></td>
        </tr>
      </table>
    </div>
    <!-- end of table header -->
  </div>
  <div class="parent {{ theme }}-light">
    {%for i in range(0,html_table.shape[0])%}
    <div>
      <form method="POST" action="/roster">
        <table>
          <tr>
            <td style="width:10%;text-align:center;"><img src="static/images/flags/{{ html_table.iloc[i]['crest'] }}" alt="{{ html_table.iloc[i]['team'] }} Crest" style="max-height:40px"></td>
            <td style="text-align:left;width:25%;"><a href="{{ url_for('roster') }}"><input class="table-button" type="submit" id="team" name="team" value="{{ html_table.iloc[i]['team'] }}"/></a></td>
            <td style="width:20%;"><a>{{ html_table.iloc[i]['city'] }} {{ html_table.iloc[i]['province'] }}</td>
            <td class="{{ theme }}-green" style="width:5%;overflow:hidden;">{{ html_table.iloc[i]['cw'] }}</td>
            <td class="{{ theme }}-orange" style="width:5%;"><a>{{ html_table.iloc[i]['cd'] }}</a></td>
            <td class="{{ theme }}-red" style="width:5%;"><a>{{ html_table.iloc[i]['cl'] }}</a></td>
            <td><a class="{{ theme }}-light table-button" href="{{ html_table.iloc[i]['link'] }}" target="_blank">club site</a></td>
            <td><a class="{{ theme }}-light table-button" href="{{ html_table.iloc[i]['wiki'] }}" target="_blank">wikipedia</a></td>
            </tr>
          </table>
          <input type="hidden" id="year" name="year" value="{{ year }}">
        </form>
      </div>
      {%endfor%}
    </div>
    <!-- end of table -->
  </div>

  {% endblock %}
