<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>CanPL Year to Date Standings</title>
  <meta name="description" content="Canadian Premier League (CanPL) year to date table information. Compares all club standings to date.">
</head>

{% extends 'base.html' %}
{% block content %}
{% if request.endpoint == 'todate' %}
{% set button1 = 'action' %}
{% set button2 = 'dark' %}
{% set style = 'display:none;' %}
{% else %}
{% set button1 = 'dark' %}
{% set button2 = 'action' %}
{% set style = 'display:block;' %}
{% endif %}


<div class="parent">
  <div class="boxs center {{ theme }}-{{ button1 }}">
    <a class="{{ theme }}-{{ button1 }} button" href="/standings">Standings</a>
  </div>
  <div class="boxs center {{ theme }}-{{ button2 }}">
    <a class="{{ theme }}-{{ button2 }} button" href="/todate" >Year to Date</a>
  </div>
</div>

<div class="parent">
  <div class="mobile boxs sfont" style="width:100%;">
    <a>{{ headline }}</a>
  </div>
  <div class="desktop box">
    <h3 style="padding: 10px;">{{ headline }}</h3>
  </div>
  <div class="form boxs">
  </div>
</div>


  <!-- body -->
<div class="mobile">
  <!-- championship -->
  {% if yeartodate_table is defined %}
  <div><a class="indent">Complete Table</a></div>
    <div>
      <div class="{{ theme }}-dark">
            <table class="{{ theme }}-light">
              <tr style="font-size:0.8em;">
                <td>rank</td>
                <td style="width: 10%;">team</td>
                <td>MP</td>
                <td>Pts</td>
                <td>W</td>
                <td>D</td>
                <td>L</td>
                <td>GF</td>
                <td>GA</td>
              </tr>
              {%for i in range(0,yeartodate_table.shape[0])%}
              <tr>
                <td>{{ i+1 }}</td>
                <td class="t-center"><img style="max-height:30px;margin:-8px;text-align:center;" src="static/images/flags/{{ yeartodate_table.at[i,'crest'] }}" alt="{{ yeartodate_table.at[i,'crest'] }} Crest"></td>
                <td>{{ yeartodate_table.iloc[i]['matches'] }}</td>
                <td>{{ yeartodate_table.iloc[i]['points'] }}</td>
                <td class="{{ theme }}-green">{{ yeartodate_table.iloc[i]['win'] }}</td>
                <td class="{{ theme }}-orange">{{ yeartodate_table.iloc[i]['draw'] }}</td>
                <td class="{{ theme }}-red">{{ yeartodate_table.iloc[i]['loss'] }}</td>
                <td class="{{ theme }}-t-blue">{{ yeartodate_table.iloc[i]['Goal'] }}</td>
                <td class="{{ theme }}-t-blue">{{ yeartodate_table.iloc[i]['Goal'] - yeartodate_table.iloc[i]['gd'] }}</td>
              </tr>
              {%endfor%}
              <tr>
                <td></td>
              </tr>
            </table>

          </div>
      </div>
      <!-- end of championship-->
    {% else %}
    {% endif %}

    <!-- season tables -->
    {% for k in season_tables.keys() | reverse %}
    <div><a class="indent">{{ k }} Season</a></div>
      <div>
        <div class="{{ theme }}-dark">
              <table class="{{ theme }}-light">
                <tr style="font-size:0.8em;">
                  <td>rank</td>
                  <td style="width: 10%;">team</td>
                  <td>MP</td>
                  <td>Pts</td>
                  <td>W</td>
                  <td>D</td>
                  <td>L</td>
                  <td>GF</td>
                  <td>GA</td>
                </tr>
                {%for i in range(0,season_tables[k].shape[0])%}
                <tr>
                  <td>{{ i+1 }}</td>
                  <td class="t-center"><img style="max-height:30px;margin:-8px;text-align:center;" src="static/images/flags/{{ season_tables[k].at[i,'crest'] }}" alt="{{ season_tables[k].at[i,'crest'] }} Crest"></td>
                  <td>{{ season_tables[k].iloc[i]['matches'] }}</td>
                  <td>{{ season_tables[k].iloc[i]['points'] }}</td>
                  <td class="{{ theme }}-green">{{ season_tables[k].iloc[i]['win'] }}</td>
                  <td class="{{ theme }}-orange">{{ season_tables[k].iloc[i]['draw'] }}</td>
                  <td class="{{ theme }}-red">{{ season_tables[k].iloc[i]['loss'] }}</td>
                  <td>{{ season_tables[k].iloc[i]['Goal'] }}</td>
                  <td>{{ season_tables[k].iloc[i]['Goal'] - season_tables[k].iloc[i]['gd'] }}</td>
                </tr>
                {%endfor%}
                <tr>
                  <td></td>
                </tr>
              </table>
            </div>
        </div>
      {% endfor %}
      <!-- end of season tables-->
  </div>

  <!-- championship -->
<div class="desktop">
  <span><h3 class="{{ theme }}-dark indent">Complete Table</h3></span>
  <div class="{{ theme }}-dark">
      <div class="{{ theme }}-dark">
        <table>
          <tr>
            <td>rank</td>
            <td style="width: 20%;">team</td>
            <td>MP</td>
            <td>Pts</td>
            <td>PPG</td>
            <td>W</td>
            <td>D</td>
            <td>L</td>
            <td>GD</td>
            <td>GF</td>
            <td>GA</td>
          </tr>
        </table>
      </div>
      <div class="{{ theme }}-light">
        <table>
          {%for i in range(0,yeartodate_table.shape[0])%}
          <tr class="{{ theme }}-light">
            <td>{{ i+1 }}</td>
            <td class="t-left" style="width: 20%;">{{ yeartodate_table.iloc[i]['team'] }}</td>
            <td>{{ yeartodate_table.iloc[i]['matches'] }}</td>
            <td>{{ yeartodate_table.iloc[i]['points'] }}</td>
            <td>{{ (yeartodate_table.iloc[i]['points']/yeartodate_table.iloc[i]['matches'])|round(2) }}</td>
            <td class="{{ theme }}-green">{{ yeartodate_table.iloc[i]['win'] }}</td>
            <td class="{{ theme }}-orange">{{ yeartodate_table.iloc[i]['draw'] }}</td>
            <td class="{{ theme }}-red">{{ yeartodate_table.iloc[i]['loss'] }}</td>
            <td class="{{ theme }}">{{ yeartodate_table.iloc[i]['gd'] }}</td>
            <td class="{{ theme }}-t-blue">{{ yeartodate_table.iloc[i]['Goal'] }}</td>
            <td class="{{ theme }}-t-blue">{{ yeartodate_table.iloc[i]['Goal'] - yeartodate_table.iloc[i]['gd'] }}</td>
          </tr>
          {%endfor%}
        </table>
        <br>
      </div>
    </div>
    <!-- end of championship-->
    {% for k in season_tables.keys() | reverse %}
    <span><h3 class="{{ theme }}-dark indent">{{ k }} Season</h3></span>

    <!-- playoffs -->
    <div class="{{ theme }}-dark">
      <div class="{{ theme }}-dark">
        <table>
          <tr>
            <td>rank</td>
            <td style="width: 20%;">team</td>
            <td>MP</td>
            <td>Pts</td>
            <td>PPG</td>
            <td>W</td>
            <td>D</td>
            <td>L</td>
            <td>GD</td>
            <td>GF</td>
            <td>GA</td>
          </tr>
        </table>
      </div>
      <div class="{{ theme }}-light">
        <table>
          {%for i in range(0,season_tables[k].shape[0])%}
          <tr class="{{ theme }}-light">
            <td>{{ i+1 }}</td>
            <td class="t-left" style="width: 20%;">{{ season_tables[k].iloc[i]['team'] }}</td>
            <td>{{ season_tables[k].iloc[i]['matches'] }}</td>
            <td>{{ season_tables[k].iloc[i]['points'] }}</td>
            <td>{{ (season_tables[k].iloc[i]['points']/season_tables[k].iloc[i]['matches'])|round(2) }}</td>
            <td class="{{ theme }}-green">{{ season_tables[k].iloc[i]['win'] }}</td>
            <td class="{{ theme }}-orange">{{ season_tables[k].iloc[i]['draw'] }}</td>
            <td class="{{ theme }}-red">{{ season_tables[k].iloc[i]['loss'] }}</td>
            <td class="{{ theme }}">{{ season_tables[k].iloc[i]['gd'] }}</td>
            <td class="{{ theme }}-t-blue">{{ season_tables[k].iloc[i]['Goal'] }}</td>
            <td class="{{ theme }}-t-blue">{{ season_tables[k].iloc[i]['Goal'] - season_tables[k].iloc[i]['gd'] }}</td>
          </tr>
          {%endfor%}
        </table>
        <br>
      </div>
    </div>
    {% endfor %}

</div>





{% endblock %}
